.row-document-type {
  display: flex;
  flex-direction: column;
  border: 1px solid $medium-heavy-grey;
  margin-bottom: 20px;

  &.invalid {
    border: 1px solid $lighter-red;
    background-color: $lighter-red;
    color: #FFF;
  }

  &.complete {
    border: 1px solid $green;
    background-color: $green;
    color: #FFF;


    .title-card .mandatory:before {
      color: #FFF;
    }
  }
}

.document-information {
  padding: 10px;
  background-color: whitesmoke;
  color: #000;
}

.body-document-type {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  margin: 0;
}

.col-documents {
  display: flex;

  padding: 5px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.file-card {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid $medium-heavy-grey;
  margin: 5px;
}

.file-card-add {
  @extend .file-card;

  button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    font-weight: 400;
    color: $flat-ui-blue;
  }
}

.file-legend {
  font-size: 0.7em;
  margin-bottom: 5px;
}

.title-card {
  padding: 20px;

  hr {
    width: 80%;
    border-color: $light-blue;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h4 {
    font-weight: normal;
    margin: 0;
  }

  .mandatory:before {
    color: $light-red;
    font-family: 'FontAwesome';
    content: '\f071';
    padding-right: 5px;
  }

  .complete .mandatory:before {
    content: '';
  }

  .complete:before {
    font-family: 'FontAwesome';
    content: '\f058';
    padding-right: 5px;
  }
}

@media (min-width: $screen-md-min) {
  .title-card {
    position: relative;
  }

  .status {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 10px;
  }

  .file-card {
    width: 200px;
  }
}
