<div ng-repeat="documentType in selectedDocumentTypes">

  <div class="row-document-type" ng-class="getClass(documentType)">
    <div class="col-document-type">
      <div class="title-card" ng-class="getClass(documentType)">
        <h4>{{documentType.label}}</h4>
        <p>{{documentType.desc}}</p>
        <p ng-if="documentType.emptyDoc">
          <a target="_blank" download ng-href="/assets/documents/{{documentType.emptyDoc}}">
            Télécharger un modèle de ce document
          </a>
        </p>
        <div ng-if="getText(documentType)">
          <hr>
          <p ng-bind="getText(documentType)"></p>
        </div>
      </div>
    </div>

    <div class="col-documents">
      <div class="col-sm-6 col-md-4" ng-repeat="file in getDocuments(documentType)">
        <div class="file-card">
          <display-file ng-if="!file.progress" hide-actions="true" file="file" request="request" user="user"></display-file>

          <div ng-if="file.progress">
            {{file.name}} - en cours...
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%;">
                {{file.progress}}%
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4" class="text-right" ngf-select ngf-change="upload($file, documentType)" accept=".jpg,.png,.pdf" ngf-multiple="false">
        <div class="file-card file-card-add">
          <button type="button" class="btn btn-default" ngf-select ngf-change="upload($file, documentType)" accept=".jpg,.png,.pdf" ngf-multiple="false">
            <i class="fa fa-plus"></i>
          </button>
          Ajouter un fichier
        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-lg btn-primary" ng-click="chooseType()" type="button">
  <i class="fa fa-plus-circle"></i> Ajouter un type de document
</button>
