.row-document-type {
  display: flex;
  border: 1px solid $medium-heavy-grey;
  background-color: $medium-heavy-grey;
  margin-bottom: 20px;
  flex-flow: column wrap;

  &.mandatory {
    border: 1px solid $bg-blue;
    background-color: $bg-blue;
  }

  &.complete {
    border: 1px solid $flat-ui-blue;
    background-color: $flat-ui-blue;
  }
}

.col-document-type {
  text-align: center;
  padding: 0;

  hr {
    width: 80%;
    border-color: $light-blue;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.col-documents {
  display: flex;
  background-color: whitesmoke;
  padding: 5px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.file-card {
  display: flex;
  width: 200px;
  height: 150px;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid $medium-heavy-grey;
  margin: 5px;
}

.file-card-add {
  @extend .file-card;

  button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    font-weight: 400;
    color: $flat-ui-blue;
  }

  .document-expected {
    background: whitesmoke;
    padding: 10px;

    h5 {
      margin: 0;
    }
  }
}

.file-legend {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.title-card {
  color: white;
  padding: 10px;
  margin: 0;
  background-color: $medium-heavy-grey;

  &.mandatory {
    background-color: $bg-blue;
  }

  h4 {
    font-weight: normal;
  }
}

@media (min-width: $screen-md-min) {
  .row-document-type {
    flex-flow: row wrap;
  }

  .col-document-type {
    width: 20%;
  }

  .col-documents {
    width: 80%;
  }
}
