<ui-view>
  <div class="list-header">
    <form class="pull-right">
      <div class="input-group search">
        <input type="text" class="form-control input-sm" ng-model="query" name="search" placeholder="Recherche">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-sm btn-primary">
            Ok
          </button>
        </div>
      </div>
    </form>
    <h2>Demandes non attribuées</h2>
    <div class="tools">
      <button class="btn btn-sm btn-primary" ng-click="assigner(requests)">
        <i class="fa fa-download"></i> Assigner
      </button>
    </div>
  </div>

  <div class="list-main">
    <table>
      <tbody>
        <tr ng-repeat="(idx, request) in filteredRequests = (requests | filter:query)">
          <td class="check-request" ng-click="request.isSelected = !request.isSelected">
            <i class="fa" ng-class="{'fa-square': !request.isSelected, 'fa-check-square': request.isSelected}"></i>
          </td>
          <td>
            <span class="user">
              <a ui-sref="dashboard.requests.detail.pre_evaluation({shortId: request.shortId})">
                {{request.formAnswers.identites.beneficiaire.nom | capitalize}} {{request.formAnswers.identites.beneficiaire.prenom | capitalize}}
              </a>
            </span>
          </td>
          <td>{{request.createdAt | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ui-view>
