<div class="navbar navbar-default navbar-static-top" ng-class="{'has-intro': showIntro}">
  <div class="intro" ng-cloak ng-show="showIntro">
    <div class="content" ng-click="hideIntro()">
      <span>
        <strong>Service expérimental</strong>, ici l'Etat innove avec la société civile pour offrir aux usagers le service public de demain. <i class="fa fa-close"></i>
      </span>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="." class="logo" title="Accueil"><img ng-src="{{logo}}" alt="Accueil"></a>
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main" role="menubar">
      <ul class="nav navbar-nav">
        <li role="menuitem" ng-if="isCollapsed">
          <button class="nav-title btn btn-link" title="Accueil" ng-click="toggleChoice()">
            {{mdphName}}&nbsp;<i class="fa" ng-class="{ 'fa-caret-down': !showChoice, 'fa-caret-up': showChoice }"></i>
          </button>
        </li>
        <li role="menuitem" ng-if="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li role="menuitem" ng-if="!isLoggedIn()" ui-sref-active="active"><a ui-sref="signup" title="S'inscrire">Inscription</a></li>
        <li role="menuitem" ng-if="!isLoggedIn()" ui-sref-active="active"><a ui-sref="login" title="Se connecter">Connexion</a></li>
        <li role="menuitem" ng-if="isLoggedIn()">
          <a ui-sref="espace_perso.mon_compte" title="Gérer votre compte">
            {{ user.email }}
          </a>
        </li>
        <li role="menuitem" ng-if="isLoggedIn()"><a href="" ng-click="logout()" title="Se déconnecter">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</div>

<div ng-show="showChoice">
  <div class="container">
    <span ng-repeat="mdph in mdphs track by mdph._id">
      <a ui-sref="departement({codeDepartement: mdph.zipcode})">{{mdph.zipcode}} - {{mdph.name}}</a>
    </span>
  </div>
</div>
