<nav role="navigation">
  <a ng-show="layoutctrl.currentMdph" ui-sref="departement({codeDepartement: layoutctrl.currentMdph.zipcode})">
    <img ng-src="assets/images/{{layoutctrl.currentMdph.logo}}" alt="Accueil">
  </a>
  <a ng-hide="layoutctrl.currentMdph" ui-sref="main">
    <img src="assets/images/logo_marianne.png" alt="Accueil">
  </a>

  <ul ng-if="!layoutctrl.isLoggedIn()">
    <li>
      <a class="icon login" id="login" ui-sref="login({codeDepartement: layoutctrl.currentMdph.zipcode})" title="Connexion">Connexion</a>
    </li>
  </ul>

  <ul ng-if="layoutctrl.isLoggedIn()">
    <li>
      <a ui-sref-active="active" ui-sref="mon_compte">Mon compte</a>
    </li>
    <li>
      <a ui-sref="logout" id="logout">Déconnexion</a>
    </li>
  </ul>
</nav>

<div class="main-content">
  <menu-dashboard ng-if="layoutctrl.shouldShowDashboard()" mdph="layoutctrl.currentMdph" />

  <main>
    <div ui-view></div>
  </main>
</div>

<footer ng-show="layoutctrl.currentMdph">
  <h4>Contactez votre MDPH</h4>
  <address>
    {{layoutctrl.currentMdph.address}}
  </address>
  <div ng-bind="layoutctrl.currentMdph.phone"></div>
  <div ng-if="layoutctrl.currentMdph.email">
    <a href="mailto:{{layoutctrl.currentMdph.email}}" title="Contactez votre MDPH par mail">{{layoutctrl.currentMdph.email}}</a>
  </div>
  <div class="schedule" ng-bind="layoutctrl.currentMdph.schedule"></div>
</footer>
