nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  a img {
    height: 90px;
    width: auto;
    mix-blend-mode: multiply;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    height: 90px;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  li img {
    width: 18pt;
    height: 18pt;
  }
}

main {
  background: white;
  min-height: 70vh;
  flex-grow: 1;
}

footer {
  display: block;
  padding: 20px 10px;
  background-color: $light-blue;
  color: white;
  text-align: right;

  address {
    margin: 0;
  }

  .schedule {
    white-space: pre;
  }
}

.main-content {
  display: flex;
}
