.navbar-header {
  .logo {
    padding: 2px;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;

  .nav-title {
    padding: 10px 0;
  }

  img {
    margin-right: 5px;
    height: 46px;
    border: 0;
    mix-blend-mode: multiply;
  }

  .title {
    margin-left: 30px;
    color: rgb(85,85,85);
    text-decoration: none;
  }

  margin-bottom: 0px;
}

.navbar.has-intro {
  transition: all 0.6s linear;
  padding-top: 48px;
}

.intro {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: $lighter-blue;
  padding: 14px;
  color: white;
  border-bottom: 1px solid #222;
  cursor: pointer;

  .content {
    text-align: center;
    font-weight: 200;
  }

  strong {
    font-weight: 400;
  }

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0 10px;
  }
}

.intro.ng-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  top: -48px;
}

.intro {
  -webkit-transition:all linear 0.6s;
  transition:all linear 0.6s;
}

.navbar-mdph-choice {
  -webkit-transition:all ease-out 0.4s;
  transition:all ease-out 0.4s;
  min-height: 50px;

  &.navbar-mdph-choice-visible {
    margin-top: 50px;
  }

  &.navbar-mdph-choice-hidden {
    margin-top: 0px;
  }
}
