<nav role="navigation">
  <a ng-show="layoutctrl.currentMdph" ui-sref="departement({codeDepartement: layoutctrl.currentMdph.zipcode})">
    <img ng-src="assets/images/{{layoutctrl.currentMdph.logo}}" alt="Accueil">
  </a>
  <a ng-hide="layoutctrl.currentMdph" ui-sref="main">
    <img src="assets/images/logo_marianne.png" alt="Accueil">
  </a>

  <ul ng-if="!layoutctrl.isLoggedIn() && layoutctrl.shouldShowLogin()">
    <li>
      <a class="icon login" id="login" ui-sref="login({codeDepartement: layoutctrl.currentMdph.zipcode})" title="Connexion">Connexion</a>
    </li>
  </ul>

  <ul ng-if="layoutctrl.isLoggedIn() && layoutctrl.shouldShowLogin()">
    <li>
      <a ui-sref-active="active" ui-sref="mon_compte">Mon compte</a>
    </li>
    <li>
      <a ui-sref="logout" id="logout">Déconnexion</a>
    </li>
  </ul>
</nav>

<div class="main-content">
  <menu-dashboard ng-if="layoutctrl.shouldShowDashboard()" mdph="layoutctrl.currentMdph" />

  <main>
    <div ui-view></div>
  </main>
</div>

<footer ng-show="layoutctrl.currentMdph">
  <h4>Contactez votre MDPH</h4>
  <div class="location-container">
    <div class="location" ng-repeat="location in layoutctrl.currentMdph.locations">
      <h5>{{ location.name }}</h5>
      <address>
        {{location.address}}
      </address>
      <div class="schedule" ng-bind="location.schedule"></div>
      <div ng-bind="location.phone"></div>
      <div ng-if="location.email" class="email">
        <a href="mailto:{{location.email}}" title="Contactez votre MDPH par mail">{{location.email}}</a>
      </div>
    </div>
  </div>
</footer>
