nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  a img {
    height: 60px;
    width: auto;
    mix-blend-mode: multiply;
  }

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    text-align: right;
    margin: 0;
    padding: 0;
  }

  li+li {
    margin-left: 20px;
  }
}

main {
  background: white;
  min-height: 70vh;
  flex-grow: 1;
}

footer {
  padding: 20px 10px;
  background-color: $light-blue;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  address {
    margin: 0;
  }

  .schedule {
    word-break: break-word;
  }

  .location-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .location {

    margin: 10px;
    min-width: 190px;
    padding: 10px;
    border-radius: 2px;
    background: $lighter-blue;

    .email {
      margin: 10px 0;

      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.main-content {
  display: flex;
}
