#admin {

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a img {
      height: 60px;
      width: auto;
      mix-blend-mode: multiply;
    }

    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 60px;
      text-align: right;
      margin: 0;
      padding: 0;
    }

    li+li {
      margin-left: 20px;
    }
  }

  main {
    background: white;
    min-height: 70vh;
    flex-grow: 1;
  }

  .main-content {
    display: flex;
  }


  footer {
    background-color: $light-blue;
    color: white;

    .links {
      padding: 20px;

      a {
        color: white;
      }
    }
  }

  .main-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-top: 2px;
    background-color: $bg-blue;

    a {
      text-decoration: none;
    }

    ul {
      padding: 0 0 10px 10px;
      list-style-type: none;
    }

    ul > li > a {
      padding: 5px;
      display: block;
      color: white;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      &:hover {
        text-decoration: none;
        background-color: $disabled-blue;
      }

      &.active,
      &.active:hover {
        background-color: $flat-ui-blue;
      }
    }
  }

}


