<div class="login-view">
  <h1>Connectez-vous pour enregistrer et finaliser votre demande</h1>

  <div ng-if="!signin">
    <form class="form" name="signinForm" ng-submit="register(signinForm)" novalidate>
      <div class="form-group" ng-class="{ 'has-error': signinForm.name.$invalid && submitted }">
        <label>Nom</label>
        <input type="text" name="name" class="form-control" ng-model="user.name"
               required/>
        <p class="help-block" ng-show="signinForm.name.$error.required && submitted">
          Veuillez entrer un nom.
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-error': signinForm.email.$invalid && submitted }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email"
               ng-change="resetMongooseError(form, 'email')"
               required
               mongoose-error/>
        <p class="help-block" ng-show="signinForm.email.$error.email && submitted">
          Cet email n'est pas valide.
        </p>
        <p class="help-block" ng-show="signinForm.email.$error.required && submitted">
          Quelle est votre adresse email?
        </p>
        <p class="help-block" ng-show="signinForm.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-error': signinForm.password.$invalid && submitted }">
        <label>Mot de passe</label>

        <input id="password" type="{{inputType}}" name="password"
          class="form-control" ng-model="user.password" ng-minlength="8" required mongoose-error>

        <input type="checkbox" id="checkbox" ng-model="hidePassword" ng-click="toggleType()" />
        <label for="checkbox" class="control-label">Afficher le mot de passe</label>

        <p class="help-block"
           ng-show="(signinForm.password.$error.minlength || signinForm.password.$error.required) && submitted">
          Le mot de passe doit être au moins de 8 caractères.
        </p>

        <p class="help-block" ng-show="signinForm.password.$error.mongoose">
          {{ errors.password }}
        </p>
      </div>

      <div class="text-right">
        <button class="btn btn-primary btn-lg btn-login" type="submit">
          <i class="fa fa-lock"></i> S'inscrire
        </button>
      </div>
    </form>

    <p class="signin-option">Vous avez déjà un compte ? <a href ng-click="toggleSignin(true)">Se connecter</a></p>
  </div>

  <div ng-if="signin">
    <form class="form" name="signupForm" ng-submit="login(signupForm)" novalidate>

      <div class="form-group" ng-class="{'has-error': signupForm.email.$invalid && signupForm.$submitted}">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email" required>

        <div ng-messages="signupForm.email.$error" ng-if="signupForm.$submitted">
          <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
          <p class="help-block" ng-message='email'><i class="fa fa-warning"></i> L'adresse email saisie est incorrecte.</p>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': signupForm.password.$invalid && signupForm.$submitted}">
        <label>Mot de passe</label>
        <input type="password" name="password" class="form-control" ng-model="user.password" required>

        <div ng-messages="signupForm.password.$error" ng-if="signupForm.$submitted">
          <p class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</p>
        </div>
      </div>

      <div ng-if="errors.other" class="alert alert-danger">
        <i class="fa fa-warning"></i> {{ errors.other }}
      </div>

      <div class="text-right">
        <button class="btn btn-primary btn-lg btn-login" type="submit">
          <i class="fa fa-lock"></i> Se connecter
        </button>
      </div>
    </form>

    <p class="signin-option">Vous n'avez pas encore de compte ? <a href ng-click="toggleSignin(false)">S'inscrire</a></p>
  </div>

</div>

