<div id="request-detail-documents">
  <div class="panel panel-flat-default">
    <div class="panel-heading">Pièces obligatoires</div>
    <div class="panel-body">
      <display-file-list categories="request.documents.obligatoires" request="request" user="currentUser"></display-file-list>
    </div>
  </div>

  <div class="panel panel-flat-default">
    <div class="panel-heading">Pièces complémentaires</div>
    <div class="panel-body">
      <display-file-list categories="request.documents.complementaires" request="request" user="currentUser"></display-file-list>
    </div>
  </div>

  <div class="panel panel-flat-default" ng-show="request.status === 'emise'">
    <div class="panel-heading">Demandes de documents complémentaires</div>
    <div class="panel-body">
      <label for="inputDocCompl">Ajouter un type de document complémentaire</label>
      <input id="inputDocCompl" typeahead="documentType as documentType.label for documentType in documentTypes | filter:$viewValue"
      typeahead-min-length="0" typeahead-on-select="addSelectedType(selectedDocument); selectedDocument = '';" name="typeahead"
      type="text" ng-model="selectedDocument" class="form-control" placeholder="Justificatif, carte, certificat ...">

      <div class="selected-types">
        <em ng-hide="request.askedDocumentTypes.length">Pas de demande complémentaire</em>
        <ul class="list-group">
          <li class="list-group-item" ng-click="removeSelectedType(idx)" ng-repeat="(idx, type) in request.askedDocumentTypes">
            {{ showLabel(type) }}
            <a href="#" class="pull-right">
              Supprimer
            </a>
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="text-right">
  <button type="button" ng-click="allRequiredFilesChecked()" ng-if="request.status === 'emise'" class="btn btn-lg btn-primary">
    Envoyer un accusé de réception
  </button>
</div>
