<div id="request-detail-documents">
  <div class="text-right">
    <button class="btn btn-lg btn-primary" ng-click="save()" ng-disabled="isSaveValidationDisabled" ng-if="!isValid">Envoyer une demande de pièces</button>
  </div>

  <section>
    <h2>Pièces obligatoires</h2>
    <div class="content">
      <display-file-list categories="request.documents.obligatoires" request="request" user="currentUser"></display-file-list>
    </div>
  </section>
  <section>
    <h2>Pièces complémentaires</h2>
      <div>
        <display-file-list categories="request.documents.complementaires" request="request"></display-file-list>
      </div>
    </div>
  </section>
</div>
