<div id="request-detail-documents">
  <section>
    <h2>Pièces obligatoires</h2>
    <div class="content">
      <display-file-list categories="request.documents.obligatoires" request="request" user="currentUser"></display-file-list>
    </div>
  </section>
  <section>
    <h2>Pièces complémentaires</h2>
      <div>
        <display-file-list categories="request.documents.complementaires" request="request"></display-file-list>
      </div>
    </div>
  </section>

  <div class="status-actions">
    <button class="btn btn-success" ng-click="openSuccessModal()">
      <i class="fa fa-check-circle"></i>&nbsp;Demande complète
    </button>
    <button class="btn btn-danger" ng-click="openDangerModal()">
      <i class="fa fa-times-circle"></i>&nbsp;Demande incomplète
    </button>
  </div>
</div>
