<div class="modal-header modal-header-danger">
  <h1 class="modal-title">Envoyer un accusé de demande incomplète</h1>
</div>
<div class="modal-body" id="request-error-modal">
  <fieldset>
    <legend>Documents obligatoires en erreur</legend>
    <ul class="answers">
      <div class="answer" ng-repeat="category in request.documents.obligatoires">
        <li ng-repeat="document in category.documentList">
          <label for="{{document._id}}" class="btn-answer">
            <input type="checkbox" id="{{document._id}}" ng-model="document.isInvalid" />
            <span>{{document.originalname}}</span>
            <span class="extra">{{category.documentType.label}}</span>
          </label>
        </li>
      </div>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Documents complémentaires en erreur</legend>
    <ul class="answers">
      <div class="answer" ng-repeat="category in request.documents.complementaires">
        <li ng-repeat="document in category.documentList">
          <label for="{{document._id}}" class="btn-answer">
            <input type="checkbox" id="{{document._id}}" ng-model="document.isInvalid" />
            <span>{{document.originalname}}</span>
            <span class="extra">{{category.documentType.label}}</span>
          </label>
        </li>
      </div>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Demande de nouveaux documents complémentaires</legend>

    <input typeahead="documentType as documentType.label for documentType in documentTypes | filter:$viewValue"
    typeahead-min-length="0" typeahead-on-select="addSelectedType($item)"
    type="text" ng-model="selected" class="form-control" placeholder="Ajouter un type complémentaire">

    <div class="selected-types">
      <em ng-hide="demandeTypesComplementaires.length">Pas de demande complémentaire</em>
      <ul class="list-group">
        <li class="list-group-item" ng-click="removeSelectedType(idx)" ng-repeat="(idx, type) in demandeTypesComplementaires">
          {{type.label}}
          <a href="#" class="pull-right">
            Supprimer
          </a>
        </li>
      </ul>
    </div>
  </fieldset>

  <div class="form-group">
    <label class="control-label" for="request-comments">Ajouter un commentaire</label>
    <textarea id="request-comments" ng-model="request.comments" class="form-control"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Annuler</button>
  <button class="btn btn-success" ng-click="save()">Envoyer l'accusé de réception</button>
</div>
