<div class="list-header">
  <form class="pull-right">
    <div class="input-group search">
      <input type="text" class="form-control input-sm" ng-model="query" name="search" placeholder="Recherche">
      <div class="input-group-btn">
        <button type="submit" class="btn btn-sm btn-primary">
          Ok
        </button>
      </div>
    </div>
  </form>
  <h2>{{user.name}}</h2>
  <div class="tools">
    <button class="btn btn-sm btn-default">
      <i class="fa fa-check" ng-click="traiterDemande(requests)">Assigner</i>
    </button>
    <button class="btn btn-sm btn-default" btn-checkbox ng-model="onlyUrgences">
      <i class="fa fa-warning"></i> Urgences
    </button>
  </div>
</div>

<div class="list-main">
  <table>
    <tbody>
      <tr
        ng-repeat="request in filteredRequests = (requests | filter:query | filter:filtreUrgences)">
        <td class="check-request" ng-click="request.isSelected = !request.isSelected">
          <i class="fa" ng-class="{'fa-square': !request.isSelected, 'fa-check-square': request.isSelected}"></i>
        </td>
        <td>
          <span class="user"><a ui-sref="dashboard.requests.detail({shortId: request.shortId})">{{request.user.name}}</a></span>
        </td>
        <td>
          <span ng-repeat="(urgence, val) in request.formAnswers.contexte.urgences">
            <span class="label label-danger" ng-if="val" >{{urgence}}</span>
          </span>
        </td>
        <td class="date-request">{{request.createdAt | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
