<div class="modal-header">
  <h1 class="modal-title">Assignation des requêtes</h1>
</div>
<div class="modal-body">
  <div class="radio" ng-repeat="user in users">
    <label>
      <input type="radio" name="user" value="{{user._id}}" ng-model="$parent.selectedUser">
      {{user.name}}
    </label>
  </div>
</div>
<div class="modal-footer-secteur">
  <button class="btn btn-default" ng-click="cancel()">Annuler</button>
  <button class="btn btn-success" ng-click="assign()">Assigner</button>
</div>
