$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Navbar */
.main-navbar {
  .navbar-brand {
    &.title {
      padding-top: 30px;
      padding-bottom: 45px;
    }

    &.logo {
      padding-top: 3px;
    }
  }

  .navbar-text {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.dev_footer {
  margin-top: 34px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: justify;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Questionnaire */
.qtitle {
  padding-bottom: 34px;
}

.btn-default.active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.row {
  padding-top: 7px;
  z-index: 10;
  .well {
    z-index: -100;
    -webkit-border-radius: 0 0 5px 5px ;
    -moz-border-radius: 0 0 5px 5px ;
    border-radius: 0 0 5px 5px ;
    border-top: none;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.next-step {
  padding-top: 34px;
}

/* Animations */
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
  position: relative;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleY(0.0001);
       -o-transform: scaleY(0.0001);
          transform: scaleY(0.0001);
  opacity: 0;
  top: -50px;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  top: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}