$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* Theme colors
-------------------------------------------------- */
$font-family-serif: Georgia, "Times New Roman", Times, serif;

$heavy-grey: #666666;
$medium-heavy-grey: #999999;
$medium-grey: #cccccc;
$light-grey: #d0d0d0;
$light-white: #F8F8F8;

$footer-background: #222939;
$nav-background: #333E54;
$nav-span-background: #222939;
$nav-border: #1B212F;
$nav-optionnal: #1B212F;

$active-background: #D05158;
$active-background-hover: #BA484F;
$active-border: #6E2B2E;
$active-text: $light-white;

$primary: #3071a9;
$primary-hover: #333E54;
$text: $light-white;

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $nav-background;
  border-top: 5px solid $nav-border;
  color: white;
  padding-top:20px;

  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}

#push {
  height: 60px;
}

/* Barre de progression
-------------------------------------------------- */
a:hover {
  text-decoration: none;
}

.section-buttons {
  a {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin: 0 20px;
    min-width: 120px;
    span {
      display: block;
      font-weight: 500;
      height: 30px;
      margin: 0 auto 10px;
      padding-top: 5px;
      width: 30px;
      border-radius: 50%;
    }
    p:hover {
      text-decoration: underline;
    }
  }
  a.active {
    span {
      background: $active-background;
      color: $active-text
    }
    span:hover {
      background-color: $active-background-hover;
    }
  }
}

.nav-form {
  margin-top: 20px;
  a {
    color: $text;
    span {
      background: $nav-span-background;
    }
  }
  a.disabled {
    color: white;
    font-weight: 100;
    opacity: 0.7;
    span {
      opacity: 0.7;
      background: #d9d9d9;
      border-color: #AAAAAA;
    }
    p {
      opacity: 0.7;
    }
    p:hover {
      text-decoration: none;
    }
  }
  a.optionnal {
    p {
      font-weight: 100;
    }
  }
  a:hover {
    color: white;
  }
}

.ng-invalid {
  border: 1px solid red !important;
}

.nav-section {

  margin: 20px 0px 0px 10px;
  position: relative;
  clear: both;
  display: inline-block;
  font-weight: 200;
  font-size: 12px;

  a {
    position: relative;
    display: block;
    vertical-align: middle;
    width: auto;
    height: 32px;
    padding: 6px 15px;
    float: left;
    color: $nav-background;
    background: $light-grey;

    span {
      padding: 0 15px;
    }

    &.first {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &.last {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.showBefore:before {
      width: 0;
      height: 0;
      border-top: 16px solid $light-grey;
      border-bottom: 16px solid $light-grey;
      border-left:16px solid transparent;
      position: absolute;
      content: "";
      top: 0px;
      left: -16px;
    }

    &.active.showBefore:before {
      border-color: $active-background;
      border-left:16px solid transparent;
    }

    &.active:hover:before {
      border-color: $active-background-hover;
      border-left:16px solid transparent;
    }

    &.showAfter:after {
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left:16px solid $light-grey;
      position: absolute;
      content: "";
      top: 0px;
      right: -16px;
    }

    &.active:after {
      border-left:16px solid $active-background;
    }

    &.active:hover:after {
      border-left:16px solid $active-background-hover;
    }

    &.active {
      background: $active-background;
      color: $active-text !important;
      &:hover {
        background-color: $active-background-hover;
      }
    }

    &.disabled {
      color: $medium-heavy-grey;
    }
  }
}

.section-nav-steps {
}

.nav-steps {
  margin-top: 0px;
  background-color: $nav-background;
  border-top: 5px solid $footer-background;
  border-bottom: 3px solid #3C4963;
}

/* Header
-------------------------------------------------- */
.navbar {
  margin-bottom: 0px;
  background-color: white;
}

.main-navbar {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;

  .navbar-brand {
    &.title {
      font-family: $font-family-serif;
      padding-top: 30px;
      padding-bottom: 45px;
    }

    &.logo {
      padding-top: 3px;
    }
  }

  .navbar-text {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

/* Footer dev
-------------------------------------------------- */
.footer {
  margin-top: 34px;
  color: #777;
  border-top: 1px solid $nav-border;
}

/* Envoi
-------------------------------------------------- */
.jumbotron {
  margin-top: 30px;
  text-align: justify;
  border-bottom: 1px solid $nav-border;

  p {
    font-size: 14px;
  }

  input {
    margin: 4px;
  }
}

.numerique {
  p {
    font-size: 14px;
    font-weight: 150;
  }
  border: 1px solid $medium-grey;
  background-color: $light-white;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

.detailEnvoi {
  margin-top: 50px;
}

.panel {
  min-height: 285px;
}

.panel-body {
  min-height: 190px;
}

.panel-action {
  padding-top: 110px;
  font-size: 35px;
}

.panel-action:hover {
  background-color: $light-white;
  cursor: pointer;
}

/* Directives
-------------------------------------------------- */
.qtitle {
  padding-bottom: 34px;
}

.btn {
  white-space: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-default.active {
  color: $active-text;
  background-color: $active-background;
  border-color: $active-border;
}
.btn-default.active:hover {
  background-color: $active-background-hover;
}

.btn-primary {
  background-color: $primary;
}
.btn-primary:hover {
  background-color: $primary-hover;
}

.form-view {
  .row {
  padding-top: 7px;
  }
}

.next-step {
  padding-top: 34px;
}

.yesno {
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-bottom: 0px;
  border-radius: 4px;
  border-color: $medium-grey;

  label {
    font-weight: normal;
  }
}

.well {
  -webkit-border-radius: 0 0 5px 5px ;
  -moz-border-radius: 0 0 5px 5px ;
  border-radius: 0 0 5px 5px ;
  border-top: none;
  margin-left: 15px;
  margin-right: 15px;
}

/* Animations
-------------------------------------------------- */
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
  position: relative;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleY(0.0001);
       -o-transform: scaleY(0.0001);
          transform: scaleY(0.0001);
  opacity: 0;
  top: -50px;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  top: 0;
}

::-webkit-input-placeholder { font-style: italic }
:-moz-placeholder           { font-style: italic }
::-moz-placeholder          { font-style: italic }
:-ms-input-placeholder      { font-style: italic }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .jumbotron {
    border-bottom: 0;
  }
}
