$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
  padding-bottom: 20px;
}

/* Pour cacher les parties de dev */
.dev {
  display: visible;
}


/* Progressions */
#status-buttons {
  margin-top: 20px;
}
#status-buttons a {
  display: inline-block; 
  font-size: 12px; 
  text-align: center; 
  color: #000;
  margin: 0 20px;
  min-width: 120px;
  span {
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px; 
    border-radius: 50%;
    border: 1px solid #CCC;
    background: white;
  }
}
#status-buttons a:hover {
  text-decoration: none;
}
#status-buttons a.active {
  span {
    font-weight: bold;
    background: #5cb85c;
    border-color: #4cae4c;
    color: #FFF
  }
}

/* Navbar */
.navbar {
  margin-bottom: 0px;
  background-color: white;
}

.main-navbar {
  .navbar-brand {
    &.title {
      padding-top: 30px;
      padding-bottom: 45px;
    }

    &.logo {
      padding-top: 3px;
    }
  }

  .navbar-text {
    margin-top: 28px;
    margin-bottom: 28px;
  }
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.nav-steps {
  margin-top: 0px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  margin-top: 34px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  margin-top: 30px;
  text-align: justify;
  border-bottom: 1px solid #e5e5e5;
  
  p {
    font-size: 14px;
  }

  input {
    margin: 4px;
  }
}

.numerique {
  p {
    font-size: 14px;
    font-weight: 150;
  }
  border: 1px solid #CCC;
  background-color: #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

.detailEnvoi {
  margin-top: 50px;
}

.qtitle {
  padding-bottom: 34px;
}

.btn-default.active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.form-view {
  .row {
  padding-top: 7px;
  }
}

.next-step {
  padding-top: 34px;
}

.yesno {
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-bottom: 0px;
  border-radius: 4px;
  border-color: #CCC;

  label {
    font-weight: normal;
  }
}

.well {
  z-index: -100;
  -webkit-border-radius: 0 0 5px 5px ;
  -moz-border-radius: 0 0 5px 5px ;
  border-radius: 0 0 5px 5px ;
  border-top: none;
  margin-left: 15px;
  margin-right: 15px;
}

/* Animations */
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
  position: relative;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleY(0.0001);
       -o-transform: scaleY(0.0001);
          transform: scaleY(0.0001);
  opacity: 0;
  top: -50px;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleY(1);
       -o-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
  top: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .jumbotron {
    border-bottom: 0;
  }
}