.btn-geva {
  text-align: right;
  > .btn {
    margin-top: 20px;
  }
}

.btn-checkbox {
  &.active {
    &:before {
      content: '\f14a';
    }
  }
  &:before {
    content: '\f096';
  }
}

.btn-radio {
  &.active {
    &:before {
      content: '\f192';
    }
  }
  &:before {
    content: '\f10c';
  }
}

.well-sousdetail {
  @extend .well-detail;
  background-color: white;
}

.trajectoire-body {
  padding-bottom: 10px;
}
