<div ng-hide="true" class="pull-right send-json">
  <div class="text-center">
    <small><a href="mailto:del.florian+impact@gmail.com?subject=Simulation&body={{encode($storage)}}">Envoyer la simulation courante</a></small>
  </div>
</div>

<div class="page-header no-hr text-center">
  <h1>Merci d'avoir rempli votre dossier</h1>
</div>

<div id="#quitus" ng-if="prestations">
  <p>
    Compte-tenu des attentes et des besoins que vous avez exprimés, les droits et prestations suivants seront automatiquement étudiés par l’équipe d’évaluation de la MDPH.
  </p>
  <p>
    Cette liste est informative, lors de l’étude de votre demande, l’équipe d’évaluation de la MDPH pourra étudier d’autres droits ou prestations répondant à vos besoins.
  </p>

  <droits prestations="prestations" width="3"></droits>
</div>

<div ng-hide="form.readOnly">
  <hr/>
  <div class="text-center">
    <h4>Pour terminer, veuillez choisir le mode de transmission de votre demande</h4>
  </div>

  <div class="row answer">
    <div class="col-md-6">
      <button class="btn btn-block btn-default btn-choice" ng-model="form.typeEnvoi" btn-radio="'numerique'" ng-click="saveForm()">
        <strong>J'accepte</strong><br/>que la MDPH, pour mieux connaître ma situation et mes besoins, échange avec les professionnels qui m'accompagnents, en application de l'article L241&#8209;10 du code d'action sociale et des familles.
      </button>
    </div>

    <div class="col-md-6">
      <button class="btn btn-block btn-default btn-choice" ng-model="form.typeEnvoi" btn-radio="'papier'">
        <strong>Je n'accepte pas</strong><br/>que la MDPH échange avec les professionnels qui m'accompagnent, et je m'engage à ce que toute information complémentaire nécessaire à la MDPH passe par moi.
      </button>
    </div>
  </div>

  <div class="jumbotron detailEnvoi" ng-if="form.typeEnvoi==='papier'">
    <p>Liste des pièces à joindre obligatoirement à votre demande</p>
    <ul class="answer">
      <li>Un certificat médical de moins de 3 mois</li>
      <li>Une photocopie recto/verso {{justificatifStr}}</li>
      <li ng-if='showAdult'>Une photocopie d'un justificatif de domicile</li>
    </ul>

    <label class="btn btn-primary btn-block">Télécharger votre formulaire pré-rempli</label>

  </div>

</div>
