/*.fa-container {

  margin: 0 auto;
  width: 100px;
}

.fa-taille {
  font-size: 50px;
  margin: 0 auto;
  width: 100px;
}
.fa {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}*/
.fa-taille {
  font-size: 50px;
  //margin: 0 auto;
  width: 60px;
}
.fa-container {
  width: 100%;
  text-align: center;
  .div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}


.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.largeur{
  width: 100%;
}

.centered {
  text-align: center;

 }

 .block {
  text-align: center;
  //margin: 0px;
  display: flex;
  //height: 100px;
  vertical-align: middle;
  background: #13cf5b;
  flex-direction : column;
}
