
<div class="alert alert-warning warning-box-flex">

          <table style="width:100%" >
              <tr>
                <th> <i class="fa fa-warning fa-taille"></i></th>
                <th>

                      <div >
                          <br/>
                          A fin de garantir au mieux l'intégrité des données, le mot de passe doit au moins : <br/>
                          <div class="col-sm-1">
                              <i class="fa fa-circle"></i>
                          </div>
                          <div class="col-sm-11">
                              comprendre huit carctères. <br/>
                          </div>
                          <div class="col-sm-1">
                              <i class="fa fa-circle"></i>
                          </div>
                          <div class="col-sm-11">
                              présenter trois des quatre catégories de caractèeres suivantes : majuscule, minuscule, chiffre et/ou caractères spéciaux.<br/>
                          </div>
                          <div class="col-sm-1">
                              <i class="fa fa-circle"></i>
                          </div>
                          <div class="col-sm-11">
                              être d'une robustesse moyenne.
                          </div>
                        </div>
                        <br/>
                        <br/>
                  </th>
                </tr>
            </table>
</div>
