.alert-text {
  font-size: 0.8em;
}

.alert-container {
  display: flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

.fa-taille {
  font-size: 40px;
  width: 65px;
  margin: auto;
}
