.alert-text {
  span {
    margin-left: -14px;
  }
}
.alert-container {
  display: flex;
  flex-direction : row;
  justify-content: center;
  align-items: center;
}

.fa-taille {
  font-size: 50px;
  width: 85px;
  margin: auto;
}
