<div class="card">
  <div class="row">
      <div class="col-sm-2">
          <i class="fa fa-warning"></i>
      </div>
      <div class="col-sm-10">
        A fin de garantir au mieux l'intégrité des données, le mot de passe doit au moins : <br/>
        <div class="col-sm-1">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
            comprendre huit carctères. <br/>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
            présenter trois des quatre catégories de caractèeres suivantes : majuscule, minuscule, chiffre et/ou caractères spéciaux.<br/>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-sm-11">
            être d'une robustesse moyenne.
        </div>
      </div>
  </div>
</div>
