<div class="alert alert-warning alert-container">
  <div >
    <span class="fa fa-warning fa-taille"></span>
  </div>
  <div class="alert-text">
    <span>Afin de garantir au mieux l'intégrité des données, le mot de passe doit au moins :</span>
    <br/>
    <br/>
    <ul class="list-group">
      <li>comprendre huit caractères,</li>
      <li>présenter trois des quatre catégories de caractères suivantes : majuscule, minuscule, chiffre et/ou caractères spéciaux,</li>
      <li>être d'une robustesse moyenne.</li>
    </ul>
  </div>
</div>
