<header class="banner bg" mdph-photo="{{gestionDemandeCtrl.currentMdph.zipcode}}">
  <div class="hero-unit">
    <h1 ng-if="gestionDemandeCtrl.currentMdph">Votre MDPH {{gestionDemandeCtrl.currentMdph.name}}</h1>

    <p>Gérez vos demandes en ligne</p>

  </div>
</header>

<section class="section-gestion container-fluid">
  <div class="row">

    <div ng-class="{'col-md-1':!showMenu}" style="width:15%" ng-if="!showMenu">
        <button ui-sref="gestion_profil" class="btn retour">
            Retour aux profils
        </button>
        <div class="icon-demande centre"/>
    </div>

    <div ng-class="{'col-md-11 border-left':!showMenu}" style="width:85%">

      <div class="breadcrump">
        <div class="breadcrump-section">
          <div ng-class="{'large': !showMenu}" class=" first right-arrow">
            <a ui-sref="gestion_profil"><span>Profils</span></a>
          </div>
        </div>
        <div class="breadcrump-section">
          <div ng-class="{'large': !showMenu}"  class="left-arrow last active">
            <span>Demandes</span>
          </div>
        </div>
      </div>

      <div ng-if="showMenu">
        <button ui-sref="gestion_profil" class="btn retour espace">
            Retour aux profils
        </button>
      </div>
      <div class="icon-demande centre" ng-if="showMenu"/>

      <div class="container-fluid" ng-class="{'border-top': showMenu}">
        <br/>
        <h2>Demande de {{ ::gestionDemandeCtrl.profil.getTitle() }} en cours</h2>
        <div class="row" ng-if="gestionDemandeCtrl.currentDemande && !showMenu">
          <div class="col-flex5 col-icon-demande left-radius" ng-click="gestionDemandeCtrl.goCurrentDemande()">{{ gestionDemandeCtrl.currentDemande.shortId }}</div>
          <div class="col-flex5 col-item" ng-click="gestionDemandeCtrl.goCurrentDemande()">Créé le {{gestionDemandeCtrl.currentDemande.createdAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-flex5 col-item right-radius" align="right" ng-click="gestionDemandeCtrl.goCurrentDemande()">{{ gestionDemandeCtrl.showStatus(gestionDemandeCtrl.currentDemande) }}</div>
          <div class="col-flex3 col-action left-radius right-radius" align="center" ng-click="gestionDemandeCtrl.deleteCurrentDemande()">Supprimer</div>
        </div>
        <div class="row" ng-if="gestionDemandeCtrl.currentDemande && showMenu">
          <div style="width:80%" class="col-xs-11 col-icon-demande left-radius right-radius" ng-click="gestionDemandeCtrl.goCurrentDemande()">{{ gestionDemandeCtrl.currentDemande.shortId }}</div>
          <div style="width:20%" class="col-xs-1 col-action left-radius right-radius" ng-click="gestionDemandeCtrl.deleteCurrentDemande()"></div>
        </div>
        <div class="row">
          <div class="col-md-12 left-radius right-radius"
          ng-class="{'col-new': !gestionDemandeCtrl.currentDemande, 'col-new-disabled': gestionDemandeCtrl.currentDemande}"
          ng-click="gestionDemandeCtrl.createDemande()" >Créer une nouvelle demande *</div>
        </div>
        <div class="row" >
          <i class="note">* Vous ne pouvez pas créer de nouvelle demande tant qu'une demande est en cours</i>
        </div>

        <h2 ng-if="gestionDemandeCtrl.archivedDemandes.length > 0">Demandes de {{ ::gestionDemandeCtrl.profil.getTitle() }} archivées</h2>
        <div class="row" ng-repeat="(idx, archivedDemande) in gestionDemandeCtrl.archivedDemandes" ng-if="!showMenu">
          <div class="col-flex5 col-icon-demande-desabled left-radius">{{ archivedDemande.shortId }}</div>
          <div class="col-flex7 col-item-desabled">Créé le {{archivedDemande.createdAt | date:'dd/MM/yyyy'}} - Archivée le {{ archivedDemande.updatedAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-flex3 col-item-desabled right-radius" align="right">{{ gestionDemandeCtrl.showStatus(archivedDemande) }}</div>
          <div class="col-flex3 col-action-desabled left-radius right-radius" align="center">Demande archivée</div>
        </div>
        <div class="row" ng-repeat="(idx, archivedDemande) in gestionDemandeCtrl.archivedDemandes" ng-if="showMenu">
          <div class="col-flex1 col-icon-demande-desabled left-radius right-radius">{{ archivedDemande.shortId }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-container">
  <mdph-map mdph="gestionDemandeCtrl.currentMdph"/>
</section>

<section class="section-main section-text" id="en-savoir-plus">
  <h2>Votre demande en ligne à la MDPH</h2>
  <div>
    <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
      Elle peut répondre aux besoins liés à votre handicap.</p>
    <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
    <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
  </div>
</section>

<section class="section-main">
  <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
  <liste-prestations />
</section>
