<header class="banner bg" mdph-photo="{{gestionDemandeCtrl.currentMdph.zipcode}}">
  <div class="hero-unit">
    <h1 ng-if="gestionDemandeCtrl.currentMdph">Votre MDPH {{gestionDemandeCtrl.currentMdph.name}}</h1>

    <p>Gérez vos demandes en ligne</p>

  </div>
</header>

<section class="section-gestion container-fluid">
  <div class="row">

    <div class="col-md-1" style="width:11%">
      <div class="col-md-12 col-item"> <a ui-sref="gestion_profil">Retour aux profils</a></div>
      <div class="row">
        <div class="icon-demande"/>
      </div>
    </div>

    <div class="col-md-11 border-left" style="width:89%">

      <div class="breadcrump">
        <div class="breadcrump-section">
          <div ng-class="{'large': !showMenu}" class=" first right-arrow">
            <a ui-sref="gestion_profil"><span>Profils</span></a>
          </div>
        </div>
        <div class="breadcrump-section">
          <div ng-class="{'large': !showMenu}"  class="left-arrow last active">
            <span>Demandes</span>
          </div>
        </div>
      </div>

      <div class="container-fluid">

        <h2>Demande de {{ ::gestionDemandeCtrl.profil.getTitle() }} en cours</h2>
        <div class="row" ng-if="gestionDemandeCtrl.currentDemande">
          <div class="col-md-4 col-icon-demande" ng-click="gestionDemandeCtrl.goCurrentDemande()">{{ gestionDemandeCtrl.currentDemande.shortId }}</div>
          <div class="col-md-3 col-item" ng-click="gestionDemandeCtrl.goCurrentDemande()">Créé le {{gestionDemandeCtrl.currentDemande.createdAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-md-3 col-item" ng-click="gestionDemandeCtrl.goCurrentDemande()">{{ gestionDemandeCtrl.showStatus(gestionDemandeCtrl.currentDemande) }}</div>
          <div class="col-md-2 col-action" ng-click="gestionDemandeCtrl.deleteCurrentDemande()">Supprimer</div>
        </div>
        <div class="row">
          <div class="col-md-12" ng-class="{'col-new': !gestionDemandeCtrl.currentDemande, 'col-new-desabled': gestionDemandeCtrl.currentDemande}" ng-click="gestionDemandeCtrl.createDemande()">Créer une nouvelle demande *</div>
        </div>
        <div class="row" >
          <i class="note">* Vous ne pouvez pas créer de nouvelle demande tant qu'une demande est en cours</i>
        </div>

        <h2 ng-if="gestionDemandeCtrl.archivedDemandes.length > 0">Demande de {{ ::gestionDemandeCtrl.profil.getTitle() }} irrecevable</h2>
        <div class="row" ng-repeat="(idx, archivedDemande) in gestionDemandeCtrl.archivedDemandes">
          <div class="col-md-4 col-icon-demande-desabled">{{ archivedDemande.shortId }}</div>
          <div class="col-md-3 col-item-desabled">Créé le {{archivedDemande.createdAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-md-3 col-item-desabled">{{ gestionDemandeCtrl.showStatus(archivedDemande) }}</div>
          <div class="col-md-2 col-action-desabled">Demande irrecevable</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-container">
  <mdph-map mdph="gestionDemandeCtrl.currentMdph"/>
</section>

<section class="section-main section-text" id="en-savoir-plus">
  <h2>Un suivi en ligne de votre dossier</h2>
  <div>
    <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
      Elle peut répondre aux besoins liés à votre handicap.</p>
    <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
    <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
  </div>
</section>

<section class="section-main">
  <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
  <liste-prestations />
</section>
