
<div class="form-group required" ng-class="{ 'has-error': forms.form.password.$invalid && forms.form.$submitted}" >
  <div ng-class="{'col-sm-3 text-right' : passwordFieldCtrl.horizontal}">
    <label for="password" class="control-label">{{passwordFieldCtrl.libelle}}</label>
  </div>
  <div ng-class="{'col-sm-9' : passwordFieldCtrl.horizontal}">
    <input id="password" type="{{inputType}}" name="password" class="form-control"
     ng-model="user.password" required mongoose-error zxcvbn="passwordStrength" zx-min-score="2"
     minlength="8" ng-change="verifyPattern(forms.form, 'password')" >

     <div ng-messages="forms.form.password.$error" ng-if="forms.form.$submitted">
      <p id="help-block" ng-message="passwordStrength" class="help-block">Votre mot de passe est d'une robustesse trop faible</p>
      <p id="help-block" ng-message="minlength" class="help-block">Veuillez saisir 8 caractères</p>
      <p id="help-block" ng-message="pattern" class="help-block">Présenter trois des quatre catégories de caractères suivantes : majuscule, minuscule, chiffre et/ou caractères spéciaux.</p>
      <p id="help-block" ng-message="mongoose" class="help-block">Ce jeton de modification à déjà été utilisé pour réinitialiser votre mot de passe. Veillez refaire une demande de réinitialisation.</p>
    </div>

    <password-strength-bar password="forms.form.password.$viewValue"></password-strength-bar>

    <input type="checkbox" id="checkbox" ng-model="hidePassword" ng-click="toggleType()" />
    <label for="checkbox">Afficher le mot de passe</label>
  </div>
</div>

