<div class="row">
  <div class="col-xs-4">
    <label class="btn btn-default center-block" ng-model="question.detail" btn-radio="'parents'">
      De vos parents
    </label>
  </div>
  <div class="col-xs-4">
    <label class="btn btn-default center-block" ng-model="question.detail" btn-radio="'enfants'">
      De vos enfants
    </label>
  </div>
  <div class="col-xs-4">
    <label class="btn btn-default center-block" ng-model="question.detail" btn-radio="'ami'">
      D'un(e) ami(e)
    </label>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <label class="btn btn-default center-block" ng-model="question.detail" btn-radio="'autreMembreFamille'">
      D'un autre membre de<br>votre famille
    </label>
  </div>
  <div class="col-xs-4">
    <label class="btn btn-default center-block" ng-model="question.detail" btn-radio="'familleAccueill'">
      D'une famille d'accueil
    </label>
  </div>
</div>