.display-file {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  .text {
    i {
      font-size: 20px;
      color: $bg-grey;
      width: 20px;
    }
    .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }

  .file-actions {
    display: flex;
    flex-direction: column;
  }

  .text-validation {
    text-align: center;

    &.text-invalid {
      color: $light-red;
    }

    &.text-valid {
      color: $green;
    }
  }

  .validation-actions {
    display: flex;
    justify-content: space-around;

    .fab {
      padding: 0 6px 0 6px;
      margin: 6px 8px 6px 8px;
      font-size: 19px;
      text-align: center;
      text-transform: uppercase;
      text-decoration:none;
      border: none;
      outline: none;
      min-width: 0;
      border-radius: 50%;
      line-height: 4rem;
      width: 4rem;
      height: 4rem;
      background-color: $bg-grey;
      color: white;
    }

    .invert-valid {
      border: 1px solid $green;
      background-color: white;
      color: $green;
    }

    .invert-refuse {
      border: 1px solid $light-red;
      background-color: white;
      color: $light-red;
    }
    .invert-valid.muted {
      border: 1px solid $bg-grey;
      background-color: white;
      color: $bg-grey;
    }

    .invert-refuse.muted {
      border: 1px solid $bg-grey;
      background-color: white;
      color: $bg-grey;
    }
  }

  .trash {
    align-self: flex-end;
    color: $medium-heavy-grey;
  }
}
