<div class="display-file">
  <div class="display-file-card">
    <div class="description">
      <i class="fa logo" ng-class="{
        'fa-file-pdf-o': file.mimetype === 'application/pdf',
        'fa-file-image-o': file.mimetype.indexOf('image') >= 0,
        'fa-file-text-o': file.mimetype.indexOf('image') < 0 && file.mimetype !== 'application/pdf',
        'fa-spin fa-circle-o-notch': file.sending
      }"></i>

      <div class="name">
        <span ng-if="file.sending">Envoi en cours...</span>
        <a
          ng-if="!file.sending"
          target="_self"
          download="{{file.originalname}}"
          href="api/requests/{{request.shortId}}/document/{{getFilename(file)}}?access_token={{token}}">
          {{file.originalname}}
        </a>
      </div>

      <div class="partenaire" ng-if="file.partenaire">
        <div ng-if="!partenaireObj">
          <i class="fa fa-spin fa-circle-o-notch"></i> Chargement...
        </div>
        <div ng-if="partenaireObj">Document ajouté par {{partenaireObj.email}}</div>
      </div>
    </div>

    <div class="file-actions" ng-if="!hideActions">
      <div class="validation-actions" ng-if="fileEditable">
        <button type="button" class="fab invert-refuse" ng-click="setInvalid(true)" ng-class="{muted: (file.isInvalid === undefined) || file.isInvalid === false}">
          <i class="fa fa-thumbs-down"></i>
        </button>
        <button type="button" class="fab invert-valid" ng-click="setInvalid(false)" ng-class="{muted: (file.isInvalid === undefined) || file.isInvalid === true}">
          <i class="fa fa-thumbs-up"></i>
        </button>
      </div>

      <div ng-if="fileEditable && file.isInvalid" class="invalid-file">
        <label for="invalid-reason">Raison du refus :</label>
        <textarea name="invalid-reason" ng-model="file.invalidReason" rows="4" ng-blur="setInvalidReason()" />
      </div>
    </div>

    <div class="file-actions" ng-if="hideActions && file.isInvalid !== undefined">
      <div class="text-validation text-validation-invalid" ng-if="file.isInvalid">
        Document non conforme
        <span ng-if="file.invalidReason">: <br> <em ng-bind-html=file.invalidReason></em></span>
      </div>
      <div class="text-validation text-validation-valid" ng-if="!file.isInvalid">Document conforme</div>
    </div>
  </div>

  <button type="button" class="trash btn btn-link" ng-click="delete()" ng-if="fileEditable">
    <i class="fa fa-trash"></i>&nbsp;Supprimer
  </button>

</div>
