.detail-main {
  padding: 0 20px 20px 20px;
}

.detail-tab {
  padding-top: 20px;
}

.dashboard-demande-header {
  display: flex;
  justify-content: space-between;

  .header {
    p {
      margin: 0;
      strong {
        font-wight: 500;
      }
    }
  }

  .actions {
    @extend .well;
    display: flex;
    padding: 5px 10px;
  }

  .banette {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-right: 10px;
    justify-content: center;
    border-right: 1px solid #D6D6D6;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > button {
      margin: 5px;
    }
  }
}
