<div class="list-header">
  <div class="dashboard-demande-header">

    <div class="header">
      <h2 ng-if="request.formAnswers.identites"><span class="text-muted">{{request.shortId}}</span> - {{request.formAnswers.identites.beneficiaire.nom | capitalize}} {{request.formAnswers.identites.beneficiaire.prenom | capitalize}}
      </h2>
      <h2 ng-if="!request.formAnswers.identites"><em>Demande incomplète - Identité non remplies</em></h2>
      <p>Effectuée par <strong>{{request.user.email}}</strong></p>
      <p>
        <span ng-if="request.submittedAt">
          Envoyée le <strong>{{request.submittedAt | date: format: timezone}}</strong>,
        </span>
        Dernière mise à jour le <strong>{{request.updatedAt | date: format: timezone}}</strong>
      </p>
    </div>

    <div class="actions">
      <div class="banette">
        <a ng-if="request.evaluator && request.evaluator.name" ui-sref="dashboard.requests.user({userId: currentUser._id, banette: request.status})">
          <i class="fa fa-user"></i> <span>{{request.evaluator.name}}</span>
        </a>
        <div class="text-muted" ng-if="!request.evaluator || !request.evaluator.name">
          <i class="fa fa-user"></i> <span>Non assignée</span>
        </div>
        <a ui-sref="dashboard.requests.user({userId: currentUser._id, banette: request.status})">
          <i class="fa fa-folder-open"></i> <span>{{request.status | requestStatus}}</span>
        </a>
      </div>

      <div class="buttons" role="group">
        <button class="btn btn-success" ng-if="request.evaluator._id !== currentUser._id" ng-click="assigner()">
          <i class="fa fa-download"></i> Assigner
        </button>
        <button class="btn btn-danger" ng-click="supprimer(request)">
          <i class="fa fa-remove"></i> Supprimer
        </button>
        <!-- <button class="btn btn-default" ng-click="archive(request)">
          <i class="fa fa-archive"></i> Archiver
        </button> -->
      </div>
    </div>
  </div>
</div>

<div class="detail-main">
  <ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active="active"><a ui-sref=".pre_evaluation">Récapitulatif</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".documents">Documents associés</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".evaluation">Synthèse de l'évaluation</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".history">Vie de la demande</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".comments">Commentaires</a></li>
  </ul>

  <div class="detail-tab">
    <ui-view/>
  </div>
</div>
