<div class="list-header">
  <a ng-click="back()">Retour</a>
  <h2>
    Demande de {{request.user.name}} <br>
    <small>Numéro {{request.shortId}}</small> <br>
    <small>Dernière modification {{request.updatedAt | date: format: timezone}}</small>
  </h2>
</div>

<div class="detail-main">
  <div id="questionnaire">
    <h2>Questionnaire</h2>
    <a
      class="btn btn-primary"
      target="_blank"
      href="api/requests/{{request.shortId}}/cerfa.pdf">
      <i class="fa fa-download"></i>
      <span>Télécharger - format CERFA</span>
    </a>

    <button class="btn btn-primary" ng-click="telecharger(request)">
      <i class="fa fa-download"></i>
      <span>Télécharger - format simplifié</span>
    </button>

    <h2>Quitus</h2>
    <div class="list-group">
      <div class="list-group-item" ng-if="prestations.length === 0">
        Pas de prestations
      </div>
      <div class="list-group-item" ng-if="prestations.length > 0" ng-repeat="prestation in prestations">
        {{prestation.title}}
      </div>
    </div>
  </div>

      <!-- <div id="obligatoire" ng-if="request.steps.length >= 2">
        <h2>
          Pièces obligatoires
        </h2>
        <file-state
          request="request"
          current-step-name="'obligatoire'"
          next-step-name="'complementaire'"
          next-step-status="'pre_evaluation'"
          next-status="'recevable'"
          notification-message="'Vos pièces obligatoires ont été validées.'"
          notification-state="'espace_perso.liste_demandes.demande.obligatoire'">
        </file-state>
      </div>

      <div id="complementaire" ng-if="request.steps.length >= 3">
        <h2>Pièces complémentaires</h2>
        <small class="text-muted-primary">{{getStep('complementaire').files.length || 0}} documents demandés</small>

        <div ng-if="getStep('complementaire').state === 'pre_evaluation'">
          <div class="list-group-item" ng-if="getStep('complementaire').files.length === 0">
            <div class="backoffice-pj">
              <em>Aucun document sélectionné, utilisez l'outil ci-dessous pour ajouter des pièces justificatives à la demande.</em>
            </div>
          </div>
          <div ng-repeat="(idx, file) in getStep('complementaire').files" ng-if="getStep('complementaire').files.length > 0" class="list-group-item">
            <div class="row backoffice-pj">
              <div class="col-md-8" ng-if="file.state === 'demande' ">
                {{file.name | documentFilter}}
              </div>
              <div class="col-md-2">
                <a ng-if="!file.assignmentLabel" class="btn btn-info btn-block" ng-click="assignDocument(file)"><i class="fa fa-pencil"></i> Assigner...</a>
                <div ng-if="file.assignmentLabel === 'Demandeur'"><small>{{file.assignmentLabel}}</small></div>
                <div ng-if="file.assignmentLabel && file.assignmentLabel !== 'Demandeur'"><small> Demandé à {{file.assignment}}</small></div>
              </div>
              <div class="col-md-2">
                <a class="btn btn-warning btn-block" ng-click="remove(getStep('complementaire').files, idx)"><i class="fa fa-times"></i> Supprimer</a>
              </div>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
              <a class="btn btn-success btn-block" ng-click="save()">
                <i class="fa fa-check"></i> Enregistrer
              </a>
            </div>
          </div>

          <br>

          <document-search form="form" callback="addRequestedFile"></document-search>
        </div>

        <div ng-if="getStep('complementaire').state !== 'pre_evaluation'">
          <file-state
            request="request"
            current-step-name="'complementaire'"
            next-step-name="'evaluation'"
            next-step-status="'en_cours'"
            next-status="'complet'"
            remove-file="true"
            notification-message="'Vos pièces complémentaires ont été validées.'"
            notification-state="'espace_perso.liste_demandes.demande.complementaire'">
          </file-state>
        </div>

      </div> -->
      <div id="evaluation">
        <h2>
          Evaluation
        </h2>
        <a class="btn btn-success" ui-sref=".evaluation">
          <span>Commencer l'évaluation</span>
        </a>
      </div>
    </div>
  </div>
</div>
