<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
      <h1 id="connexion">Connexion</h1>

    </div>
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
      <form aria-labelledby="connexion" class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group">
          <label for="email">Email</label>

          <input id="email" type="email" name="email" value="" class="form-control" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>

          <input id="password" type="password" name="password" value="" class="form-control" ng-model="user.password" required>
        </div>
        <div>
          <a href="/mot_de_passe_oublie">Mot de passe oublié</a>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Veuillez entrer votre email et mot de passe.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             L'adresse email n'est pas valide.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <input role="button" class="btn btn-primary btn-lg btn-login" type="submit" value="Se connecter">
          </input>
          <a role="button" class="btn btn-default btn-lg btn-register" href="/signup">
            Inscription
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
