<h3>{{label}}</h3>
<section class="identite-section">
  <div class="section-row">
    <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
      <label for="nom" class="control-label">Nom</label>
      <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" ng-minlength="1" required>
      <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='minlength'>La longueur minimale du nom est de 1 caractère.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
      <label for="prenom" class="control-label">Prénom</label>
      <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" ng-minlength="1" required>
      <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='minlength'>La longueur minimale du nom est de 1 caractère.</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="identite.autoriteParentale"> Exerce l'autorité parentale
      </label>
    </div>
</section>

<section class="identite-section">
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="identite.adresseInconnue"> Je ne connais pas son adresse
      </label>
    </div>
  </div>

  <div id="adress-search" class="form-group">
    <div class="input-group">
      <input typeahead="result as result.properties.label for result in getAdress($viewValue, lat, long)"
      typeahead-min-length='3' typeahead-on-select='fillAdressOnSelect($item)' typeahead-wait-ms="100"
      type="text" ng-model="searchAdress" class="form-control" ng-disabled="disableAddress()" placeholder="Recherche adresse">
      <span class="input-group-addon" id="basic-addon"><i class="fa fa-search"></i></span>
    </div>
  </div>

  <div class="well">
    <div class="form-group">
      <div id="address-input">
        <div class="street">
          <div class="field large" ng-class="{'required': !disableAddress(),'has-error': infoForm.nomVoie.$invalid && infoForm.$submitted}">
            <label for="nomVoie" class="control-label">Adresse</label>
            <input id="nomVoie" type="text" name="nomVoie" class="form-control" ng-model="identite.nomVoie" placeholder="Nom de la voie" ng-disabled="disableAddress()" ng-required="!disableAddress()">
            <div ng-messages="infoForm.nomVoie.$error" ng-if="infoForm.$submitted">
              <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="form-group" ng-class="{'required': !disableAddress(), 'has-error': infoForm.code_postal.$invalid && infoForm.$submitted}">
          <label for="code_postal" class="control-label">Code postal</label>
          <input id="code_postal" type="text" name="code_postal" class="form-control" ui-mask="99999"
          ng-model="identite.code_postal" ng-disabled="disableAddress()" ng-required="!disableAddress()">
          <div ng-messages="infoForm.code_postal.$error" ng-if="infoForm.$submitted">
            <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="form-group" ng-class="{'required': !disableAddress(), 'has-error': infoForm.localite.$invalid && infoForm.$submitted}">
          <label for="localite" class="control-label">Localité</label>
          <input id="localite" type="text" name="localite" class="form-control" ng-model="identite.localite" ng-disabled="disableAddress()" ng-required="!disableAddress()">
          <div ng-messages="infoForm.localite.$error" ng-if="infoForm.$submitted">
            <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="identite-section">
  <div class="form-group required" ng-class="{'has-error': infoForm.email.$invalid && infoForm.$submitted}">
    <label for="email" class="control-label">Email</label>
    <div class="input-group margin-bottom-sm">
      <input id="email" type="email" name="email" class="form-control" ng-model="identite.email" required>
      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    </div>
    <div ng-messages="infoForm.email.$error" ng-if="infoForm.$submitted">
      <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      <p class="help-block" ng-message='email'>L'adresse email saisie est incorrecte.</p>
    </div>
  </div>

  <div class="form-group">
    <label for="tel_1" class="control-label">Téléphone 1</label>
    <input id="tel_1" type="text" name="tel_1" class="form-control" ng-model="identite.tel_1">
  </div>

  <div class="form-group">
    <label for="tel_2" class="control-label">Téléphone 2</label>
    <input id="tel_2" type="text" name="tel_2" class="form-control" ng-model="identite.tel_2">
  </div>
</section>
