<form id="profile-identites" aria-labelledby="infoPerso" name="infoForm" ng-submit="submit(infoForm)" novalidate>
  <h2>Identité du bénéficiaire</h2>

  <div class="identity-form-actions">
    <a ui-sref="^" class="btn btn-link" role="button">Annuler</a>
    <button type="submit" name="submit" alt="Valider" class="btn btn-success">Valider</button>
  </div>

  <section class="identite-section">
    <div class="section-row">
      <div class="form-group required" ng-class="{'has-error': infoForm.nom.$invalid && infoForm.$submitted}">
        <label for="nom" class="control-label">Nom</label>
        <input id="nom" type="text" name="nom" class="form-control" ng-model="identite.nom" ng-minlength="1" required>
        <div ng-messages="infoForm.nom.$error" ng-if="infoForm.$submitted">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
          <p class="help-block" ng-message='minlength'>La longueur minimale du nom est de 1 caractère.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': infoForm.prenom.$invalid && infoForm.$submitted}">
        <label for="prenom" class="control-label">Prénom</label>
        <input id="prenom" type="text" name="prenom" class="form-control" ng-model="identite.prenom" ng-minlength="1" required>
        <div ng-messages="infoForm.prenom.$error" ng-if="infoForm.$submitted">
          <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
          <p class="help-block" ng-message='minlength'>La longueur minimale du nom est de 1 caractère.</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="nom_usage" class="control-label">Nom d'usage</label>
      <input id="nom_usage" type="text" name="nom_usage" class="form-control" ng-model="identite.nom_usage">
    </div>

    <div class="form-group">
      <div class="form-group required" ng-class="{'has-error': !identite.sexe && infoForm.$submitted}">
        <fieldset>
          <legend class="control-label">Sexe</legend>
          <input type="radio" name="sexe" id="sexe-m" ng-model="identite.sexe" ng-required="!identite.sexe" value="masculin">
          <label class="radio-inline" for="sexe-m">Masculin</label>
          <input type="radio" name="sexe" id="sexe-f" ng-model="identite.sexe" ng-required="!identite.sexe" value="feminin">
          <label class="radio-inline" for="sexe-f">Féminin</label>
        </fieldset>
        <div ng-if="!identite.sexe && infoForm.$submitted">
          <p class="help-block">Ce champ est obligatoire.</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': !identite.nationalite && infoForm.$submitted}">
        <fieldset>
          <legend class="control-label">Nationalité</legend>
          <input type="radio" name="nationalite" id="nationalite_francaise" ng-model="identite.nationalite" ng-required="!identite.nationalite" value="francaise">
          <label class="radio-inline" for="nationalite_francaise">Française</label>
          <input type="radio" name="nationalite" id="nationalite_union_europeene" ng-model="identite.nationalite" ng-required="!identite.nationalite" value="ue">
          <label class="radio-inline" for="nationalite_union_europeene">Union Européenne</label>
          <input type="radio" name="nationalite" id="nationalite_autre" ng-model="identite.nationalite" ng-required="!identite.nationalite" value="autre">
          <label class="radio-inline" for="nationalite_autre">Autre</label>
        </fieldset>
        <div ng-if="infoForm.$submitted && !identite.nationalite">
          <p class="help-block">Ce champ est obligatoire.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="identite-section">
    <div class="form-group required"
      ng-class="{
        'has-error': infoForm.dateDeNaissance.$invalid && infoForm.$submitted
      }">
      <label class="control-label" for="date-de-naissance">
        Date de naissance <span class="small">au format jour/mois/année</span>
      </label>
      <input
        type="text"
        class="form-control"
        name="dateDeNaissance"
        id="date-de-naissance"
        required
        ng-model="identite.dateNaissance"
        input-date
        date-autocomplete
        placeholder="JJ/MM/AAAA"
        aria-describedby="help-date-de-naissance">
      <div ng-messages="infoForm.dateDeNaissance.$error" ng-if="infoForm.$submitted">
        <p class="help-block" id="help-date-de-naissance" ng-message='inputDate'>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
        <p class="help-block" id="help-date-de-naissance" ng-message='required'>Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="section-row">
      <div class="form-group">
        <label for="lieu_naissance" class="control-label">Lieu de naissance</label>
        <input id="lieu_naissance" type="text" name="lieu_naissance" class="form-control" ng-model="identite.lieu_naissance">
      </div>

      <div class="form-group">
        <label for="lieu_naissance_cp" class="control-label">Code postal du lieu de naissance</label>
        <input id="lieu_naissance_cp" type="text" name="lieu_naissance_cp" class="form-control" ng-model="identite.lieu_naissance_cp">
      </div>
    </div>
  </section>

  <section class="identite-section">
    <div id="adress-search" class="form-group">
      <i class="fa fa-search"></i>
      <label for="numero_voie" class="control-label" title="Le numéro de la voie comprend de 1 à 4 chiffres">Recherche adresse</label>
      <input typeahead="result as result.properties.label for result in getLocation($viewValue)" typeahead-min-length='3' typeahead-select-on-blur='true'
      typeahead-on-select='searchAdressOnSelect($item)' type="text" ng-model="searchAdress" class="form-control" ng-disabled="disableAddress()">
    </div>

    <div class="form-group">
      <div id="address-input">
        <div class="street">
          <div class="field">
            <label for="numero_voie" class="control-label" title="Le numéro de la voie comprend de 1 à 4 chiffres">Numéro de voie</label>
            <input id="numero_voie" title="Le numéro de la voie comprend de 1 à 4 chiffres" type="text" name="numero_voie" maxlength="5" class="form-control"
             placeholder="1 à 4 chiffres" ng-model="identite.numero_voie" ng-disabled="disableAddress()">
          </div>

          <div class="field">
            <label for="extension" class="control-label" title="Extension du numéro de voirie. Exemples : bis, ter, quater,.. ou une lettre A, B, C, D,...">Extension</label>
            <input id="extension" title="Extension du numéro de voirie. Exemples : bis, ter, quater... ou une lettre A, B, C, D,..."  placeholder="Bis, ter..."
             type="text" name="extension" maxlength="9" class="form-control" ng-model="identite.extension" ng-disabled="disableAddress()">
          </div>

          <div class="field" ng-class="{'required': !disableAddress(),'has-error': infoForm.typeVoie.$invalid && infoForm.$submitted}">
            <label for="typeVoie" class="control-label">Type de voie</label>
            <select class="form-control" name="typeVoie" ng-model="identite.typeVoie" ng-disabled="disableAddress()" ng-required="!disableAddress()" ng-options="type as type.label for type in typesVoies track by type.label"></select>
            <div ng-messages="infoForm.typeVoie.$error" ng-if="infoForm.$submitted">
              <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
            </div>
          </div>

          <div class="field large" ng-class="{'required': !disableAddress(),'has-error': infoForm.nomVoie.$invalid && infoForm.$submitted}">
            <label for="nomVoie" class="control-label">Nom de la voie</label>
            <input id="nomVoie" type="text" name="nomVoie" class="form-control" ng-model="identite.nomVoie" placeholder="Nom de la voie" ng-disabled="disableAddress()" ng-required="!disableAddress()">
            <div ng-messages="infoForm.nomVoie.$error" ng-if="infoForm.$submitted">
              <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group text-muted">
      <label for="etageEscalierAppartement" class="control-label">Étage, Escalier, Appartement</label>
      <input id="etageEscalierAppartement" type="text" name="etageEscalierAppartement" class="form-control" ng-model="identite.etageEscalierAppartement" ng-disabled="disableAddress()">
    </div>

    <div class="form-group text-muted">
      <label for="immeubleBatimentResidence" class="control-label">Immeuble, Bâtiment, Résidence</label>
      <input id="immeubleBatimentResidence" type="text" name="immeubleBatimentResidence" class="form-control" ng-model="identite.immeubleBatimentResidence" ng-disabled="disableAddress()">
    </div>

    <div class="form-group text-muted">
      <label for="lieuDit" class="control-label">Lieu-dit</label>
      <input id="lieuDit" type="text" name="lieuDit" class="form-control" ng-model="identite.lieuDit" ng-disabled="disableAddress()">
    </div>

    <div class="form-group" ng-class="{'required': !disableAddress(), 'has-error': infoForm.code_postal.$invalid && infoForm.$submitted}">
      <label for="code_postal" class="control-label">Code postal</label>
      <input id="code_postal" type="text" name="code_postal" class="form-control" ng-model="identite.code_postal" ng-disabled="disableAddress()" ng-required="!disableAddress()">
      <div ng-messages="infoForm.code_postal.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{'required': !disableAddress(), 'has-error': infoForm.localite.$invalid && infoForm.$submitted}">
      <label for="localite" class="control-label">Localité</label>
      <input id="localite" type="text" name="localite" class="form-control" ng-model="identite.localite" ng-disabled="disableAddress()" ng-required="!disableAddress()">
      <div ng-messages="infoForm.localite.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
      </div>
    </div>
  </section>

  <section class="identite-section">
    <div class="form-group required" ng-class="{'has-error': infoForm.email.$invalid && infoForm.$submitted}">
      <label for="email" class="control-label">Email</label>
      <div class="input-group margin-bottom-sm">
        <input id="email" type="email" name="email" class="form-control" ng-model="identite.email" required>
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
      </div>
      <div ng-messages="infoForm.email.$error" ng-if="infoForm.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='email'>L'adresse email saisie est incorrecte.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="tel_1" class="control-label">Téléphone 1</label>
      <input id="tel_1" type="text" name="tel_1" class="form-control" ng-model="identite.tel_1">
    </div>

    <div class="form-group">
      <label for="tel_2" class="control-label">Téléphone 2</label>
      <input id="tel_2" type="text" name="tel_2" class="form-control" ng-model="identite.tel_2">
    </div>
  </section>

  <section class="identite-section">
    <!-- TODO: Put this question when creating a request -->
    <!-- <div class="form-group">
      <fieldset>
        <legend class="control-label">Avez-vous déjà un dossier dans la MDPH {{mdph.name}} ?</legend>
        <input type="radio" name="typeDossier" id="renouvellement" ng-model="identite.estRenouvellement" value="true">
        <label class="radio-inline" for="renouvellement">Oui</label>
        <input type="radio" name="typeDossier" id="nouvelle_demande" ng-model="identite.estRenouvellement" value="false">
        <label class="radio-inline" for="nouvelle_demande">Non</label>
      </fieldset>
    </div>
    <div class="form-group" ng-if="identite.estRenouvellement === 'true'">
      <label for="numeroDossier" class="control-label">Connaissez-vous votre numéro de dossier ?</label>
      <input id="numeroDossier" type="text" name="numeroDossier" class="form-control" ng-model="identite.numeroDossier" placeholder="Numéro de dossier">
    </div> -->

    <div class="form-group">
      <fieldset>
        <legend class="control-label">Si besoin, comment souhaitez-vous être contacté par votre MDPH ?</legend>
        <input type="radio" name="mode_contact" id="mode_contact_email" ng-model="identite.mode_contact" value="email">
        <label class="radio-inline" for="mode_contact_email">E-mail</label>
        <input type="radio" name="mode_contact" id="mode_contact_telephone" ng-model="identite.mode_contact" value="telephone">
        <label class="radio-inline" for="mode_contact_telephone">Appel téléphonique</label>
        <input type="radio" name="mode_contact" id="mode_contact_sms" ng-model="identite.mode_contact" value="sms">
        <label class="radio-inline" for="mode_contact_sms">SMS</label>
        <input type="radio" name="mode_contact" id="mode_contact_courrier" ng-model="identite.mode_contact" value="courrier">
        <label class="radio-inline" for="mode_contact_courrier">Courrier</label>
      </fieldset>
    </div>
  </section>

  <section class="identite-section">
    <div class="form-group">
      <label for="domicile_organisme" class="control-label">Si vous avez élu domicile auprès d'un organisme, précisez lequel</label>
      <input id="domicile_organisme" type="text" name="domicile_organisme" class="form-control" ng-model="identite.domicile_organisme" placeholder="Association, centre d’hébergement ou d’action sociale">
      <hr>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="control-label">Organisme payeur de prestations familiales</legend>
        <input type="radio" name="prestations_familiales" id="prestations_familiales_caf" ng-model="identite.prestations_familiales" value="caf">
        <label class="radio-inline" for="prestations_familiales_caf">CAF</label>
        <input type="radio" name="prestations_familiales" id="prestations_familiales_msa" ng-model="identite.prestations_familiales" value="msa">
        <label class="radio-inline" for="prestations_familiales_msa">MSA</label>
        <input type="radio" name="prestations_familiales" id="prestations_familiales_autre" ng-model="identite.prestations_familiales" value="autre">
        <label class="radio-inline" for="prestations_familiales_autre">Autre</label>
      </fieldset>
    </div>

    <div class="form-group">
      <label for="numero_allocataire" class="control-label">N° Allocataire</label>
      <input id="numero_allocataire" type="text" name="numero_allocataire" class="form-control" ng-model="identite.numero_allocataire">
      <hr>
    </div>

    <div class="form-group">
      <fieldset>
        <legend class="control-label">Organisme d'assurance maladie</legend>
        <input type="radio" name="assurance" id="assurance_caf" ng-model="identite.assurance" value="caf">
        <label class="radio-inline" for="assurance_caf">CPAM</label>
        <input type="radio" name="assurance" id="assurance_msa" ng-model="identite.assurance" value="msa">
        <label class="radio-inline" for="assurance_msa">MSA</label>
        <input type="radio" name="assurance" id="assurance_rsi" ng-model="identite.assurance" value="rsi">
        <label class="radio-inline" for="assurance_rsi">RSI</label>
        <input type="radio" name="assurance" id="assurance_autre" ng-model="identite.assurance" value="autre">
        <label class="radio-inline" for="assurance_autre">Autre</label>
      </fieldset>
    </div>

    <div class="form-group" ng-if="identite.assurance === 'autre'">
      <label for="assurance_precisez" class="control-label">Précisez</label>
      <input id="assurance_precisez" type="text" name="assurance_precisez" class="form-control" ng-model="identite.assurance_precisez">
    </div>

    <div class="form-group">
      <label for="numero_secu" class="control-label">Numéro de Sécurité Sociale</label>
      <input id="numero_secu" type="text" name="numero_secu" class="form-control" ng-model="identite.numero_secu">
    </div>
  </section>

  <div class="identity-form-actions">
    <a ui-sref="^" class="btn btn-link" role="button">Annuler</a>
    <button type="submit" name="submit" alt="Valider" class="btn btn-success">Valider</button>
  </div>
</form>
