<div class="section-body">
  <div class="section-body-head">
    <h2>
      <a id="backtodemande" ui-sref="demande({shortId: demandeCtrl.demande.shortId})">Demande</a>
      / Documents
    </h2>
  </div>

  <div
    ng-repeat="documentType in demandeDocumentsCtrl.selectedDocumentTypes"
    class="row-document-type"
    ng-class="{
      'invalid': demandeDocumentsCtrl.isInvalid(documentType) && demandeDocumentsCtrl.isMandatory(documentType),
      'complete': demandeDocumentsCtrl.isComplete(documentType) && demandeDocumentsCtrl.isMandatory(documentType),
      'incomplete': demandeDocumentsCtrl.isEmpty(documentType) && demandeDocumentsCtrl.isMandatory(documentType)}">
    <div class="header-document-type">
      <div class="title-card">
        <h4>
          {{documentType.label}}
          <span class="label label-default" ng-if="demandeDocumentsCtrl.isEmpty(documentType)">À renseigner</span>
          <span class="label label-success" ng-if="demandeDocumentsCtrl.isComplete(documentType) && demandeDocumentsCtrl.isMandatory(documentType)">Complet</span>
          <span class="label label-danger"ng-if="demandeDocumentsCtrl.isInvalid(documentType) && demandeDocumentsCtrl.isMandatory(documentType)">Invalide</span>
        </h4>
        <p ng-bind-html="documentType.desc"></p>

        <document-information ng-if="documentType.expected" type="documentType" mdph="demandeDocumentsCtrl.mdph" />
      </div>
    </div>

    <div class="body-document-type">

      <ul class="col-documents">
        <li class="file-card" ng-repeat="file in demandeDocumentsCtrl.getDocuments(documentType)">
          <display-file ng-if="!file.progress" hide-actions="true" file="file" request="demandeDocumentsCtrl.demande" user="demandeDocumentsCtrl.user"></display-file>

          <div ng-if="file.progress">
            {{file.name}} - en cours...
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%;">
                {{file.progress}}%
              </div>
            </div>
          </div>
        </li>

        <li class="file-card file-card-add">
          <button type="button" class="btn btn-default" ngf-select ngf-change="demandeDocumentsCtrl.upload($file, documentType)" accept=".jpg,.png,.pdf" ngf-multiple="false">
            <i class="fa fa-plus-circle"></i> Ajouter un document
          </button>
        </li>

      </ul>
    </div>
  </div>

  <h3>Autres types de documents</h3>
  <div class="file-card file-card-add">
    <button class="btn btn-default" ng-click="demandeDocumentsCtrl.chooseType()" type="button">
      <i class="fa fa-plus-circle"></i> Ajouter un document
    </button>
  </div>

  <div class="text-right">
    <button type="button" ng-if="demandeCtrl.demande.status === 'en_attente_usager'" ng-click="demandeCtrl.sendRequest()" class="btn hero-button btn-primary">
      Envoyer la demande
    </button>
    <a ui-sref="^" id="backtoprofile" ng-if="demandeCtrl.demande.status !== 'en_attente_usager'" ui-sref-opts="{reload:true}" class="btn btn-lg btn-primary" role="button">Retourner à la demande</a>
  </div>
</div>
