.list-group-demande {
  @extend .list-group;
  padding-top: 30px;

  h2 {
    font-size: 20px;
  }

  .fa {
    font-size: 2em;
  }

  .list-group-item {
    display: flex;
    align-items: center;

    .fa {
      color: lighten($lighter-blue, 35%);
      margin-right: 20px;
    }

    &:hover {
      .fa {
        color: lighten($lighter-blue, 5%);
      }
    }
  }
}
