<ui-view>
  <div class="nav-questionnaire">
    <div class="container">
      <ol class="breadcrumb">
        <li><a ui-sref="departement">Accueil du {{mdph.name}}</a></li>
        <li class="active">Demande</li>
      </ol>
    </div>
  </div>

  <div class="questionnaire">

    <div class="demande-header">
      <h1>Demande à la MDPH du {{mdph.name}}</h1>
      <p>Status de la demande: <strong>{{request.status | requestStatus}}</strong></p>
      <p>Date de création: <strong>le {{request.createdAt | moment}}</strong></p>
      <p>Dernière mise à jour: <strong>{{request.updatedAt | momentFromNow}}</strong></p>

      <p ng-if="request.status !== 'en_cours'">
        <a target="#" ng-click="telecharger(request)">
          Télécharger votre demande au format PDF <i class="fa fa-download"></i>
        </a>
      </p>


      <div class="text-right">
        <button ng-if="!request.status || request.status === 'en_cours'" class="btn btn-primary" ng-click="sauvegarder()">Sauvegarder</button>
        <button ng-if="request.status === 'en_cours'" class="btn btn-success" ng-click="envoyer()">Envoyer</button>
        <button ng-if="request.status === 'a_completer'" class="btn btn-success" ng-click="envoyer()">Valider vos modifications</button>
      </div>
    </div>

    <!-- TODO: Afficher le statut de la demande -->

    <h2>Renseignements obligatoires pour toutes les demandes</h2>
    <div class="category">
      <a class="section" ui-sref="{{ getLastSref(section) }}" ng-if="shouldShow(section)" ng-repeat="section in sectionsObligatoires">
        <div class="section-body">
          <div class="left">
            <i class="fa fa-chevron-circle-right"></i>
          </div>
          <div class="right">
            <h3>{{section.label}}</h3>
            <p>{{section.desc}}</p>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-9">
                <section-progress-bar completion="getCompletion(section.id)"></section-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <h2>Renseignements complémentaires, en fonction de votre situation</h2>

    <div class="category">
      <a class="section" ui-sref="{{ getLastSref(section) }}" ng-repeat="section in sectionsComplementaires">
        <div class="section-body">
          <div class="left">
            <i class="fa fa-chevron-circle-right"></i>
          </div>
          <div class="right">
            <h3>{{section.label}}</h3>
            <p>{{section.desc}}</p>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-9">
                <section-progress-bar completion="getCompletion(section.id)"></section-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <h2>Autour de votre demande</h2>

    <div class="category">
      <a class="section" ui-sref="{{ getLastSref(section) }}" ng-repeat="section in sectionsBonus">
        <div class="section-body">
          <div class="left">
            <i class="fa fa-chevron-circle-right"></i>
          </div>
          <div class="right">
            <h3>{{section.label}}</h3>
            <p>{{section.desc}}</p>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-9">
                <section-progress-bar completion="getCompletion(section.id)"></section-progress-bar>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <a class="section-inverse" ui-sref="{{ getLastSref(section) }}" ng-if="request.status" ng-repeat="section in sectionsDocuments">
      <div class="section-body">
        <div class="left">
          <i class="fa fa-chevron-circle-right"></i>
        </div>
        <div class="right">
          <h3>{{section.label}}</h3>
          <p>{{section.desc}}</p>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-9">
              <section-progress-bar completion="getCompletion(section.id)"></section-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</ui-view>
