.no-margin {
  margin: 0;
}

.banner-inverse  {
  background-color: $medium-red;
  border-top: 5px solid $dark-red;
  border-bottom: 3px solid $light-red;
}

.no-hr {
  border-bottom: none;
}

.step-disabled {
  color: $dark-red;
}
