.nav-questionnaire {
  background-color: rgb(231, 231, 231);

  ol {
    margin: 0;
  }

  .breadcrumb {
    background-color: rgb(231, 231, 231);
    margin: 3px 0;
    float: left;

    li.active {
      color: black;
      font-weight: 500;
    }
  }
}

.questionnaire {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #DDD;

  >h1 {
    font-size: 1.8em;
    margin: 0 0 15px 0;
  }

  .question-legend {
    font-size: 1.8em;
    font-weight: 400;
    width: 100%;
    margin: 0 0 15px 0;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 200;
  }

  h3 {
    font-size: 1.3em;
    margin: 0;
    color: $light-blue;
  }

  p {
    margin-top: 5px;
    color: #333;
    font-size: 1em;
    font-weight: 200;
  }

  .category {
    margin-bottom: 2em;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.26);
  }

  .section {
    display: block;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;

    .fa {
      font-size: 24px;
      color: lighten($light-blue, 45%);
    }

    &:hover {
      background-color: whitesmoke;
      text-decoration: none;

      .fa {
        color: lighten($light-blue, 15%);
      }
    }
  }

  .section-inverse {
    display: block;
    color: white;
    background-color: lighten($light-blue, 30%);
    border: 1px solid lighten($light-blue, 25%);

    h3 {
      color: white;
    }

    p {
      color: white;
    }

    span {
      color: white;
    }

    .fa {
      font-size: 24px;
      color: white;
    }

    &:hover {
      background-color: lighten($light-blue, 25%);
      text-decoration: none;

      .fa {
        color: lighten($light-blue, 15%);
      }
    }
  }

  .section-body {
    padding: 10px;

    .left {
      float: left;
      margin-right: 15px;
    }
  }

  .btn-answer {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;

    padding-left: 15px;
    border-bottom: 2px solid $light-grey;
    text-align: left;

    &.active {
      border-bottom: 2px solid $primary;
      background-color: white;
    }
  }

  .answer {
    margin-bottom: 8px;
  }

  ul.answers {
    padding-left: 0;
  }

  input[type=radio] {
    margin-right: 10px;
    cursor: pointer;
  }

  input[type=checkbox] {
    margin-right: 10px;
    cursor: pointer;
  }

  label {
    font-weight: 400;
    cursor: pointer;
  }

  .demande-header {
    @extend .well;
    background-color: white;

    h1 {
      margin: 0;
      font-size: 2em;
    }

    p {
      margin: 0;
      strong {
        font-wight: 500;
      }
    }
  }

  label.control-label {
    font-weight: bold;
  }

  .well-detail {
    background-color: white;
    border-bottom: 2px solid $primary;
  }
}
