<div class="nav-steps">
  <button type="button" class="btn btn-default" ng-if="!hideBack" ng-click="previousStep()">
    Question précédente
  </button>

  <button type="button" class="btn btn-default" ng-if="hideBack" ui-sref="profil({profileId: profile._id})">
    Retour au profil
  </button>

  <button id="btn-next" class="btn" type="submit" ng-click="check(questionForm)"
    ng-class="{
      'btn-success': questionForm.$valid && !isLastQuestion,
      'btn-invalid': !questionForm.$valid,
      'btn-primary': questionForm.$valid && isLastQuestion
    }">
    {{isLastQuestion ? 'Valider' : 'Question suivante'}}
  </button>
</div>
