.nav-steps {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.btn-invalid {
  color: white;
}

.btn-valid-success {
  @extend .btn-valid;
  @extend .btn-success;
}

.btn-valid:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  margin-right: 5px;
}

.btn-invalid:before {
  font-family: 'FontAwesome';
  content: '\f00d';
  margin-right: 5px;
}
