<div ui-view>
  <div class="list-header">
    <h2 class="padding-title">Rechercher un bénéficiaire</h2>

    <form>
      <div class="input-group search">
        <form novalidate class="simple-form">
          <input type="text" class="form-control input-sm" ng-model="query" name="search" placeholder="Recherche">
          <div class="input-group-btn">
            <button type="submit" ng-click="search(query)" class="btn btn-sm btn-primary">
              Ok
            </button>
          </div>
        </form>
      </div>
    </form>
  </div>

  <div class="list-main">
    <table>
      <tbody>
        <tr ng-repeat="user in result">
          <td><a ui-sref="dashboard.users.beneficiaires.edit({id: user._id})">{{user.name}}</a></td>
          <td><a ui-sref="dashboard.users.beneficiaires.edit({id: user._id})">{{user.email}}</a></td>
          <td class="pull-right" ng-if="user.unconfirmed"><button class="btn btn-success" type="button" ng-click="confirm(user)">Confirmer le mail</button></td>
          <td class="pull-right text-muted" ng-if="!user.unconfirmed">Mail confirmé</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
