<div class="edit-partenaire">
  <div class="list-header">
    <h2 class="padding-title" ng-if="!user._id">Création d'un agent</h2>
    <h2 class="padding-title" ng-if="user._id">Edition d'un agent</h2>
  </div>
  <form class="form-horizontal" name="userForm" ng-submit="update(userForm)" >
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" name="nom" ng-model="user.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" name="email" ng-model="user.email" required>
        <p class="help-block" ng-show="userForm.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-1">
        <a class="btn btn-default" ui-sref="^">Annuler</a>
      </div>
      <div class="col-sm-11 text-right">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i> Sauver
        </button>
      </div>
    </div>
  </form>
</div>
