<div class="edit-partenaire">
  <div class="list-header">
    <h2 ng-if="dispatchRule._id">
      Modification d'une règle de dispatch
    </h2>
    <h2 ng-if="!dispatchRule._id">
      Création d'une règle de dispatch
    </h2>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Secteur enfant</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="secteurEnfant" ng-options="secteur._id as secteur.name for secteur in secteurs">
        </select>
      </div>
      <label for="inputName" class="col-sm-2 control-label">Secteur adulte</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="secteurAdulte" ng-options="secteur._id as secteur.name for secteur in secteurs">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Commune</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" ng-model="commune.nom" />
      </div>
      <label for="inputName" class="col-sm-2 control-label">Code Postal</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" ng-model="commune.codePostal" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <button class="btn btn-default" type="button" ng-click="cancel()">
          <i class="fa fa-trash"></i> Annuler
        </button>
      </div>
      <div class="col-sm-10 text-right">
        <button class="btn btn-danger" type="button" ng-click="delete()">
          <i class="fa fa-trash"></i> Supprimer
        </button>
        <button class="btn btn-primary" type="submit" ng-click="save()">
          <i class="fa fa-save"></i> Sauver
        </button>
      </div>
    </div>
  </form>
</div>
