<footer>
  <div ng-show="footer.mdph" class="contact-mdph">
    <h3>Contactez votre MDPH</h3>
    <div class="location-container">
      <div class="location" ng-class="{'headquarters': location.headquarters}" ng-repeat="location in footer.sortedLocations">
        <h4>{{ location.name }}</h4>
        <address class="location-row">
          {{location.address}}
        </address>
        <div ng-if="location.schedule" ng-bind-html="location.schedule | nl2br" class="schedule location-row"></div>
        <div ng-if="location.phone" ng-bind="location.phone" class="phone location-row"></div>
        <div ng-if="location.email" class="email location-row">
          <a href="mailto:{{location.email}}" title="Contactez votre MDPH par mail">{{location.email}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="links">
    <a ui-sref="suivi">Suivi d’audience et vie privée</a>
  </div>

</footer>
