footer {
  background-color: $light-blue;
  color: white;

  h4 {
    margin-left: 10px;
  }

  .contact-mdph {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    address {
      margin: 0;
      display: flex;

      &:before {
        content: '\f015';
        font-family: 'FontAwesome';
        align-self: center;
        width: 1.2em;
        padding-right: 25px;
      }
    }

    .schedule {
      white-space: pre-wrap;
      display: flex;

      &:before {
        content: '\f017';
        font-family: 'FontAwesome';
        align-self: center;
        width: 1.2em;
        padding-right: 25px;
      }
    }

    .phone {
      display: flex;

      &:before {
        content: '\f095';
        font-family: 'FontAwesome';
        align-self: center;
        width: 1.2em;
        padding-right: 25px;
      }
    }

    .email {
      display: flex;

      a {
        color: #FFF;
      }

      &:before {
        content: '\f0e0';
        font-family: 'FontAwesome';
        align-self: center;
        width: 1.2em;
        padding-right: 25px;
      }
    }

    .location-container {
      display: flex;
      flex-wrap: wrap;
    }

    .location {
      margin: 10px;
      min-width: 190px;
      width: calc(25% - 5px * 4);
      padding: 10px;
      border-radius: 2px;
      background: $lighter-blue;
    }

    .location-row {
      margin: 10px 0;
      line-height: 1em;
    }

    .location.headquarters {
      background: #FFF;
      color: $lighter-blue;

      .email a {
        color: $lighter-blue;
      }
    }
  }

  .links {
    padding: 20px;

    a {
      color: white;
    }
  }
}
