<footer>
  <div ng-show="footer.mdph" class="contact-mdph">
    <h4>Contactez votre MDPH</h4>
    <div class="location-container">
      <div class="location" ng-class="{'headquarters': location.headquarters}" ng-repeat="location in footer.sortedLocations">
        <h5>{{ location.name }}</h5>
        <address class="location-row">
          {{location.address}}
        </address>
        <div ng-bind="location.schedule" class="schedule location-row"></div>
        <div ng-bind="location.phone" class="phone location-row"></div>
        <div ng-if="location.email" class="email location-row">
          <a href="mailto:{{location.email}}" title="Contactez votre MDPH par mail">{{location.email}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="links">
    <a ui-sref="suivi">Suivi d’audience et vie privée</a>
  </div>
</footer>
