<a ng-if="!section.isEnabled" class="disabled" ng-class="{optionnal: section.isOptionnal}"
  tooltip="{{section.isOptionnal ? 'Optionnel' : ''}}">
  <p>
    {{ getLabel(section) }}
  </p>
</a>
<a ng-if="section.isEnabled" ui-sref="{{srefPrefix ? srefPrefix + '.' : ''}}{{section.sref}}" ui-sref-active="section-active" ng-class="{optionnal: section.isOptionnal, finished: section.isFinished}"
  tooltip="{{section.isOptionnal ? 'Optionnel' : ''}}{{section.isFinished ? 'Etape terminée' : ''}}">
  <p>
    {{ getLabel(section) }} <i ng-if="section.isFinished" class="glyphicon glyphicon-ok"></i>
  </p>
</a>
