.profile-card-row {
  @extend .row;
  padding: 0;
  list-style-type: none;

  .profile-card-row-item {
    @extend .col-sm-4;
  }
}

.profile-container {
  @extend .container;
  margin-top: 30px;
  margin-bottom: 60px;
}

.profile-card {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $bg-blue;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

  &.nouvelle-demande {
    background-color: $flat-ui-blue;

    .btn-default {
      background-color: $lighter-red;
      color: white;
    }
  }
}

.profile-card > .profile-card-content {
  padding: 16px;
  border-top: 1px solid #eee;
  background-color: whitesmoke;
  color: black;
}

.profile-card > .profile-card-header {
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  .trash {
    background-color:rgb(209, 91, 71);
    color: whitesmoke;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
      color:rgb(209, 91, 71);
      background-color: whitesmoke;
      text-decoration: none;
    }
  }

  .profile-card-avatar {
    margin-right: 12px;
    width: 50px;
    height: 50px;
    font-size: 1.6em;

    .profile-card-icon {
      padding: 9px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      text-align: center;
      height: 50px;
      width: 50px;
    }

    &:hover  ~ .profile-card-header-text > .profile-card-header-text-title {
      text-decoration: underline;
    }
  }

  .profile-card-header-text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

    p {
      margin: 0;
    }

    a {
      color: white;
    }

    .profile-card-header-text-title {
      font-size: 1.2em;
      font-weight: 500;
      margin: 0;
    }

    .profile-card-header-text-subhead {
      color: rgba(255, 255, 255, 0.54);
      font-size: 1.1em;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

.profile-card.profile-card-vertical > .profile-card-header {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  margin-right: 30px;
  margin-left: 15px;
  padding-bottom: 16px;

  .profile-card-header-text {
    align-items: flex-start;
    align-items: flex-start;
  }
}
