<ui-view>
  <div class="container">
    <div class="list-group-demande">
      <a class="list-group-item section" ng-repeat="profile in profiles" ui-sref=".profil({profileId: profile._id})">
        <i class="fa fa-chevron-circle-right"></i>
        <span class="list-group-item-content">
          <h2 class="list-group-item-heading">{{profile.name || 'Nouveau profil'}}</h2>
          <p class="list-group-item-text">Dernière mise à jour le {{profile.updatedAt | moment}}</p>
        </span>
      </a>
    </div>

    <button class="btn btn-primary" ng-click="addProfile()">
      <i class="fa fa-plus-circle"></i>&nbsp;Ajouter un profil
    </button>
  </div>
</ui-view>
