<h2>Documents obligatoires</h2>

<div class="row">
  <div class="col-sm-4" ng-repeat="documentType in documentTypes">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>{{documentType.label}}</h3>
      </div>
      <div class="panel-body">
        <p>{{documentType.desc}}</p>
        <p ng-if="documentType.emptyDoc">
          <a target="_blank" download ng-href="/assets/documents/{{documentType.emptyDoc}}">
            Télécharger un modèle de ce document
          </a>
        </p>

        <ul ng-if="!filesVM[documentType.id]"><li>Pas de document</li></ul>
        <ul ng-if="filesVM[documentType.id]" class="list-group">
          <li ng-repeat="file in filesVM[documentType.id]" class="list-group-item">
            <display-file ng-if="!file.progress" file="file" request="request"></display-file>
            <div ng-if="file.progress">
              {{file.name}} - en cours...
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%;">
                  {{file.progress}}%
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
      <div class="panel-footer" ng-if="!file.asked">
        <div class="text-right">
          <button ngf-select ngf-change="upload($file, documentType.id)" accept=".jpg,.png,.pdf" ngf-multiple="false" class="btn btn-default">
            <i class="fa fa-upload"></i> Attacher un fichier</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
