.section-quitus {
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 15px;
    font-weight: 400;
  }
  .question-quitus {
    margin-bottom: 10px;
  }
}

.fixed-top {
  position: fixed;
  top: 121px;
}

.result {
  margin-top: 20px;
  font-size: 13px;
}
