<div ng-include="'components/navbar/navbar.html'"></div>

<div class="choix-mdph-container">
  <div class="input-group">
    <input class="form-control" type="text" ng-model="query" placeholder="Recherche">
    </input>
    <span class="input-group-addon" ng-class="{'btn': query}" ng-click="query = ''"><i class="fa fa-times" ng-class="{'text-muted': !query}"></i></span>
  </div>
  <h1 id="choix_mdph">Choississez votre MDPH</h1>
  <div class="row">
    <region ng-repeat="(region, mdphs) in filterRegions()">
      <div class="col-sm-4">
        <dl>
          <dt>
            <h3 id="{{region}}">{{region}}</h3>
          </dt>
          <dd ng-repeat="mdph in mdphs | filter:query">
            <a ng-if="mdph.enabled" ui-sref="departement.demande({codeDepartement: mdph.code_departement, shortId: 'nouvelle_demande'})" title="MDPH {{mdph.nom_du_departement}}">
              {{mdph.nom_du_departement}}
            </a>
            <span class="text-muted" ng-if="!mdph.enabled">{{mdph.nom_du_departement}}</span>
          </dd>
        </dl>
      </div>
      <div class="clearfix" ng-if="$index % 3 === 2"></div>
    </region>
  </div>
</div>
