<div class="container">
  <h1 class="page-header no-hr">
    Pièces complementaires
    <br/>
    <small>Suite à notre première analyse de votre demande, nous avons besoin des pièces suivantes avant de pouvoir procéder à l'évaluation de votre situation.<small>
  </h1>

  <div class="alert alert-danger" role="alert" ng-if="currentFormStep.state === 'erreur'">
    <h5>Veuillez vérifier la validité des documents. ::TODO::  Commentaire de la MDPH</h5>
  </div>
  <docs-form form="form" current-step="currentStep"></docs-form>

  <div class="btn btn-primary btn-lg pull-right" ng-click="validateStep()" ng-if="!currentStep.isFinished" ng-disabled="!complete">Valider l'étape</div>
  <div class="btn btn-success btn-lg pull-right" ng-if="currentStep.isFinished" ng-disabled="true">Etape validée</div>
</div>
