<div class="col-sm-3" ng-if="!condition">
  <a role="button" class="btn btn-block btn-primary btn-identity" ui-sref="{{sref}}">
    <span class="left">
      <i class="fa fa-2x fa-user-plus pull-left"></i>
    </span>
    <span class="right">
      {{title}}
    </span>
  </a>
</div>

<div class="col-sm-3" ng-if="condition">
  <a role="button" class="btn btn-block btn-primary btn-identity" ui-sref="{{sref}}">
    <span class="left">
      <i class="fa fa-2x fa-user-plus pull-left"></i>
    </span>
    <span class="right">
      {{sectionModel[type].nom}}
      {{sectionModel[type].prenom}}
      <br><em>{{title}}</em>
    </span>
  </a>
</div>
