<div class="row">
  <div class="col-md-4">
    <label class="btn btn-default center-block" ng-model="sectionModel.logement.detail" btn-radio="'parents'">
      Des parents
    </label>
  </div>
  <div class="col-md-4">
    <label class="btn btn-default center-block" ng-model="sectionModel.logement.detail" btn-radio="'ami'">
      D'un(e) ami(e)
    </label>
  </div>
  <div class="col-md-4">
    <label class="btn btn-default center-block" ng-model="sectionModel.logement.detail" btn-radio="'autreMembreFamille'">
      D'un autre membre de<br>la famille
    </label>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="btn btn-default center-block" ng-model="sectionModel.logement.detail" btn-radio="'familleAccueill'">
      D'une famille d'accueil
    </label>
  </div>
  <div class="col-md-4">
    <label class="btn btn-default center-block" ng-if="showAdult" ng-model="sectionModel.logement.detail" btn-radio="'enfants'">
      Des enfants
    </label>
  </div>
</div>
