<div class="row form-horizontal">
  <label class="col-md-2 control-label">Prénom</label>
  <div class="col-md-10">
    <input type="text" class="form-control" ng-model="sectionModel.demandeur.prenom" placeholder="Prénom">
  </div>
</div>
<div class="row form-horizontal">
  <label class="col-md-2 control-label">Sexe</label>
  <div class="col-md-5">
    <button class="btn btn-default btn-block" ng-model="sectionModel.demandeur.sexe" btn-radio="'masculin'">
      Masculin
    </button>
  </div>
  <div class="col-md-5">
    <button class="btn btn-default btn-block" ng-model="sectionModel.demandeur.sexe" btn-radio="'feminin'">
      Féminin
    </button>
  </div>
</div>
