<h3>Documents obligatoires</h3>

<div class="row">
  <div class="document-wrapper" ng-repeat="documentType in documentTypes">
    <div class="document-box">
      <h4>{{documentType.label}}</h4>
      <p>{{documentType.desc}}</p>
      <p ng-if="documentType.emptyDoc">
        <a target="_blank" download ng-href="/assets/documents/{{documentType.emptyDoc}}">
          Télécharger un modèle de ce document
        </a>
      </p>

      <ul ng-if="request.documents.obligatoires[documentType.id]" class="list-unstyled background-white">
        <li ng-repeat="file in request.documents.obligatoires[documentType.id].documentList">
          <display-file ng-if="!file.progress" hide-actions="true" file="file" request="request"></display-file>
          <div ng-if="file.progress">
            {{file.name}} - en cours...
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress}}%;">
                {{file.progress}}%
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="text-right">
        <button type="button" ngf-select ngf-change="upload($file, documentType)" accept=".jpg,.png,.pdf" ngf-multiple="false" class="btn btn-default">
          <i class="fa fa-upload"></i> Attacher un fichier</span>
        </button>
      </div>
    </div>
  </div>
</div>
