<div class="login-view-white">
  <h1>Nouveau mot de passe</h1>
  <div class="alert alert-info">
    <p>Vous avez indiqué avoir oublié votre mot de passe. Veuillez le réinitialiser en indiquant un nouveau mot de passe.</p>
  </div>
  <form aria-labelledby="changePassword" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>

    <div class="form-group">
      <label for="password" class="control-label">Nouveau mot de passe</label>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <input id="password" type="password" name="password" class="form-control" ng-model="password"
               mongoose-error zxcvbn="passwordStrength" zx-min-score="1"/>

        <div ng-messages="passwordForm.password.$error" ng-if="passwordForm.$submitted">
          <p id="error-message" ng-message="passwordStrength" class="help-block">Votre mot de passe est d'une robustesse trop faible</p>
        </div>

        <password-strength-bar password="passwordForm.password.$viewValue"></password-strength-bar>
      </div>
      <p class="help-block"> {{ passwordMessage }} </p>
    </div>

    <div class="text-right">
      <input role="button" class="btn btn-primary btn-lg btn-login" type="submit" alt="Valider" value="Valider">
      </input>
    </div>
  </form>
</div>
