$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$dark-blue: #222939;
$light-blue: #333E54;
$lighter-blue: #3C4963;
$flat-ui-blue:  #3498DB;


$orange: #FF8100;
$lighter-red: #FF636C;
$light-red: #D05158;
$medium-red: #BA484F;
$dark-red: #8e353c;

$bg-grey: #D8D8D8;
$light-grey: #d0d0d0;
$lighter-grey: #EAEAEA;
$medium-heavy-grey: #999999;
$light-white: #F5F5F5;

$active-text: $light-white;
$green: #0f9d58;

$bg-blue: lighten($lighter-blue, 10%);
$border-blue: darken($lighter-blue, 5%);
$disabled-blue: lighten($light-blue, 30%);


$brand-primary: $orange;
$brand-success: $green;
$brand-warning: $lighter-red;
$brand-error: $lighter-red;


@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
.btn {
  border-radius: 0px;
}

a {
  color: $flat-ui-blue;

  &:hover, &:focus {
    color: $bg-blue;
  }
}

.box-shadow-z4 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08),0 1px 1px 0 rgba(0,0,0,.06),0 2px 1px -1px rgba(0,0,0,.05);
}

.box-shadow-z1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.background-white {
  background-color: white;
}

.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.btn {
  white-space: normal;
}

.btn-blue {
  color: darkcyan;
  border: 1px solid darkcyan;
  background-color: white;

  &:hover, &:focus {
    color: white;
    background-color: darkcyan;
  }
}

.row.push-down {
  margin-top: 15px;
}

.container-smoke {
  background-color: whitesmoke;
  width: 100%;
  min-height: 600px;
}

hr {
  border-color: #F8F8F8;
}

[ng-click] {
  cursor: pointer;
}

fieldset.light {
  legend {
    font-size: 1em;
    margin-bottom: 5px;
  }

  ul {
    margin-left: 15px;
  }

  span {
    font-weight: normal;
  }
}

.btn-danger-inverse {
  @extend .btn-danger;
  color: #D9534F;
  background-color: #FFFFFF;
  border-color: #d43f3a;
}

.text-danger-lite {
  color: #FB8A86;

  &:focus, &:hover {
    color: #FB8A86;
    text-decoration: none;
  }
}

fieldset {
  legend.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
    border-bottom:none;
  }

  .radio-inline {
    padding-left: 0;
    padding-right: 10px;
  }
}

.form-group.required .control-label:after {
   content: " *";
   color: red;
}

.modal-header {
  background-color: $light-blue;
  color: white;

  &.modal-header-danger {
    background-color: $light-red;
  }

  h1 {
    margin: 0;
    font-size: 1.2em;
  }
}

.modal-footer {
  background-color: whitesmoke;
}

// injector
@import 'account/account.scss';
@import 'apropos/apropos.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/documents/documents.scss';
@import 'dashboard/list.scss';
@import 'dashboard/users/partenaires/edit.scss';
@import 'dashboard/workflow/detail/detail.scss';
@import 'dashboard/workflow/detail/documents/documents.scss';
@import 'dashboard/workflow/detail/evaluation/evaluation.scss';
@import 'dashboard/workflow/detail/evaluation/section/section.scss';
@import 'dashboard/workflow/detail/history/history.scss';
@import 'dashboard/workflow/detail/pre_evaluation/pre_evaluation.scss';
@import 'departement/departement.scss';
@import 'layout/layout.scss';
@import 'main/main.scss';
@import 'mon_compte/mes_profils/mes_profils.scss';
@import 'mon_compte/mon_compte.scss';
@import 'partenaire/partenaire.scss';
@import 'partenaire/pj/pj.scss';
@import 'profil/demande/demande.scss';
@import 'profil/demande/prestations/prestations.scss';
@import 'profil/demande/recapitulatif/recapitulatif.scss';
@import 'profil/identites/identites.scss';
@import 'profil/liste_demandes.scss';
@import 'profil/profile.scss';
@import 'stats/stats.scss';
@import '../components/display-file/display-file.scss';
@import '../components/history-synthese/history-synthese.scss';
@import '../components/nav-section/nav-section.scss';
@import '../components/nav-steps/nav-steps.scss';
@import '../components/profile/profile-category.scss';
@import '../components/qtitle/qtitle.scss';
@import '../components/question/cv.scss';
@import '../components/question/droits.scss';
@import '../components/question/frais_handicap.scss';
@import '../components/question/questions.scss';
@import '../components/question/structure.scss';
@import '../components/subsection/subsection.scss';
@import '../components/trajectoire/trajectoire.scss';
@import '../components/well/well.scss';
// endinjector
