$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

$primary: #3071a9;
$primary-hover: #333E54;

$dark-blue: #222939;
$light-blue: #333E54;
$lighter-blue: #3C4963;

$light-red: #D05158;
$medium-red: #BA484F;
$dark-red: #8e353c;

$light-grey: #d0d0d0;
$lighter-grey: #EAEAEA;
$medium-heavy-grey: #999999;
$light-white: #F5F5F5;

$active-text: $light-white;
$green: #009513;

$bg-blue: lighten($lighter-blue, 10%);
$border-blue: darken($lighter-blue, 5%);
$disabled-blue: lighten($light-blue, 30%);

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  background-color: whitesmoke;
}

.btn {
  white-space: normal;
}

.banner {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: $light-white;
    background: $light-blue;
}

.row.push-down {
    margin-top: 15px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'apropos/apropos.scss';
@import 'choix_mdph/choix_mdph.scss';
@import 'cm/form/form.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/partenaires/list/edit/edit.scss';
@import 'dashboard/requests/list/detail/detail.scss';
@import 'dashboard/requests/list/detail/evaluation/evaluation.scss';
@import 'dashboard/simulation/creation.scss';
@import 'dashboard/simulation/simulation.scss';
@import 'demande/demande.scss';
@import 'espace_perso/liste_demandes/liste_demandes.scss';
@import 'main/main.scss';
@import 'partenaire/pj/pj.scss';
@import 'questionnaire/questionnaire.scss';
@import 'document-search/document-search.scss';
@import 'modal/login.scss';
@import 'nav-section/nav-section.scss';
@import 'nav-steps/nav-steps.scss';
@import 'navbar/navbar.scss';
@import 'qtitle/qtitle.scss';
@import 'question/droits.scss';
@import 'question/structure.scss';
@import 'section-progress-bar/section-progress-bar.scss';
@import 'subsection/subsection.scss';
@import 'well/well.scss';
// endinjector
