$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

$primary: #3071a9;
$primary-hover: #333E54;

$dark-blue: #222939;
$light-blue: #333E54;
$lighter-blue: #3C4963;

$orange: #FF8100;
$light-red: #D05158;
$medium-red: #BA484F;
$dark-red: #8e353c;

$light-grey: #d0d0d0;
$lighter-grey: #EAEAEA;
$medium-heavy-grey: #999999;
$light-white: #F5F5F5;

$active-text: $light-white;
$green: #009513;

$bg-blue: lighten($lighter-blue, 10%);
$border-blue: darken($lighter-blue, 5%);
$disabled-blue: lighten($light-blue, 30%);

/**
 * App-wide Styles
 */
 body {
  background-color: whitesmoke;
 }

.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.btn {
  white-space: normal;
}

.nav-questionnaire {
  background-color: rgb(231, 231, 231);

  ol {
    margin: 0;
  }

  .breadcrumb {
    background-color: rgb(231, 231, 231);
    margin: 3px 0;
    float: left;
    font-size: 1.1em;

    li.active {
      color: #333;
      font-weight: 500;
    }
  }
}

.banner {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: $light-white;
  background: $light-blue;
}

.row.push-down {
  margin-top: 15px;
}

.container-smoke {
  background-color: whitesmoke;
  width: 100%;
  min-height: 600px;
}

hr {
  border-color: #F8F8F8;
}

[ng-click] {
  cursor: pointer;
}

fieldset.light {
  legend {
    font-size: 1em;
    margin-bottom: 5px;
  }

  ul {
    margin-left: 15px;
  }

  span {
    font-weight: normal;
  }
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'apropos/apropos.scss';
@import 'choix_mdph/choix_mdph.scss';
@import 'dashboard/dashboard.scss';
@import 'dashboard/documents/categories/categories.scss';
@import 'dashboard/list.scss';
@import 'dashboard/requests/detail/detail.scss';
@import 'dashboard/requests/detail/evaluation/evaluation.scss';
@import 'dashboard/requests/detail/evaluation/section/section.scss';
@import 'dashboard/requests/detail/history/history.scss';
@import 'dashboard/requests/detail/pre_evaluation/pre_evaluation.scss';
@import 'dashboard/users/partenaires/edit.scss';
@import 'demande/demande.scss';
@import 'demande/header/header.scss';
@import 'demande/steps/documents/documents.scss';
@import 'demande/steps/envoi/emise/emise.scss';
@import 'demande/steps/envoi/envoi.scss';
@import 'demande/steps/obligatoires/identites/identites.scss';
@import 'demande/steps/steps.scss';
@import 'espace_perso/liste_demandes/liste_demandes.scss';
@import 'espace_perso/mon_compte/mon_compte.scss';
@import 'main/main.scss';
@import 'partenaire/partenaire.scss';
@import 'partenaire/pj/pj.scss';
@import 'stats/stats.scss';
@import 'display-file/display-file.scss';
@import 'identity-card/identity-card.scss';
@import 'identity-form/identity-form.scss';
@import 'login/login.scss';
@import 'nav-section/nav-section.scss';
@import 'nav-steps/nav-steps.scss';
@import 'navbar/navbar.scss';
@import 'qtitle/qtitle.scss';
@import 'question/cv.scss';
@import 'question/droits.scss';
@import 'question/structure.scss';
@import 'section-progress-bar/section-progress-bar.scss';
@import 'subsection/subsection.scss';
@import 'trajectoire/trajectoire.scss';
@import 'well/well.scss';
// endinjector
