<div ng-hide="true" class="pull-right send-json">
  <div class="text-center">
    <small><a href="mailto:del.florian+impact@gmail.com?subject=Simulation&body={{encode($storage)}}">Envoyer la simulation courante</a></small>
  </div>
</div>

<div class="container">
  <div class="page-header no-hr text-center">
    <h1>Merci d'avoir rempli votre dossier</h1>
  </div>

  <div ng-if="currentMdph.id !== 'nord' && prestations.length > 0" id="#quitus">
    <p class="lead">
      Compte-tenu des attentes et des besoins que vous avez exprimés, les droits et prestations suivants seront automatiquement étudiés par l’équipe d’évaluation de la MDPH.<br>
      Cette liste est informative, lors de l’étude de votre demande, l’équipe d’évaluation de la MDPH pourra étudier d’autres droits ou prestations répondant à vos besoins.
    </p>
    <show-prestations form-answers="formAnswers" prestations="prestations" width="3"></show-prestations>
  </div>

  <div ng-if="currentMdph.id !== 'nord'">
    <p class="lead">
      Souhaitez-vous que la MDPH étudie un ou des droit(s) ou prestation(s) supplémentaires ?
    </p>

    <show-prestations form-answers="formAnswers" prestations="listePrestations" width="3" editable="true"></show-prestations>
  </div>

  <div id="recapitulatif" class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">
        Récapitulatif
      </h3>
      <a class="btn btn-success pull-right" ng-click="saveCurrent()">
        <i class="fa fa-send"></i>
        <span>Envoyer ma demande</span>
      </a>
    </div>
    <div class="panel-body">
      <div ng-bind-html="answersToHtml()"></div>
    </div>
  </div>
</div>
