<div ng-hide="true" class="pull-right send-json">
  <div class="text-center">
    <small><a href="mailto:del.florian+impact@gmail.com?subject=Simulation&body={{encode($storage)}}">Envoyer la simulation courante</a></small>
  </div>
</div>

<div class="container">
  <div class="page-header no-hr text-center">
    <h1>Merci d'avoir rempli votre dossier</h1>
  </div>

  <div ng-if="" id="#quitus">
    <p>
      Compte-tenu des attentes et des besoins que vous avez exprimés, les droits et prestations suivants seront automatiquement étudiés par l’équipe d’évaluation de la MDPH.
    </p>
    <p>
      Cette liste est informative, lors de l’étude de votre demande, l’équipe d’évaluation de la MDPH pourra étudier d’autres droits ou prestations répondant à vos besoins.
    </p>

    <show-prestations form-answers="formAnswers" prestations="prestations" width="3"></show-prestations>
  </div>

  <div>
    <div id="recapitulatif" class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">
          Récapitulatif
        </h3>
        <a class="btn btn-success pull-right" ng-click="">
          <i class="fa fa-send"></i>
          <span>Envoyer ma demande</span>
        </a>
      </div>
      <h1>Contexte</h1>
      <div class="panel-body">
        <div ng-repeat="(question, answer) in formAnswers.contexte"
          ng-bind-html="getQuestionAnswerHtml(question, answer, 'contexte')"></div>
      </div>
      <h1>Vie quotidienne</h1>
      <div class="panel-body">
        <div ng-repeat="(question, answer) in formAnswers.vieQuotidienne"
          ng-bind-html="getQuestionAnswerHtml(question, answer, 'vieQuotidienne')"></div>
      </div>
      <h1>Scolarité</h1>
      <div class="panel-body">
        <div ng-repeat="(question, answer) in formAnswers.scolaire"
          ng-bind-html="getQuestionAnswerHtml(question, answer, 'scolaire')"></div>
      </div>
      <h1>Travail</h1>
      <div class="panel-body">
        <div ng-repeat="(question, answer) in formAnswers.travail"
          ng-bind-html="getQuestionAnswerHtml(question, answer, 'travail')"></div>
      </div>
      <h1>Aidant familial</h1>
      <div class="panel-body">
        <div ng-repeat="(question, answer) in formAnswers.aidant"
          ng-bind-html="getQuestionAnswerHtml(question, answer, 'aidant')"></div>
      </div>
    </div>
  </div>
</div>
<pre>{{formAnswers | json}}</pre>
