<div class="row">
  <label class="col-md-8 control-label">{{answer.detailLabel || 'Précisez'}}</label>
  <div class="col-md-2">
    <label
        class="btn btn-default center-block"
        ng-model="$parent.sectionModel[question.model]['detail']"
        btn-radio="true">
        Oui
    </label>
  </div>
  <div class="col-md-2">
    <label
        class="btn btn-default center-block"
        ng-model="$parent.sectionModel[question.model]['detail']"
        btn-radio="false">
        Non
    </label>
  </div>
</div>
