<div class="row form-horizontal">
  <label class="col-md-3 control-label">{{answer.detailLabel || 'Précisez'}}</label>
  <div class="col-md-9">
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="$parent.sectionModel[question.model]['detail']" is-open="opened" placeholder="DD/MM/YYYY" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" show-button-bar="false"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
