<div class="row form-horizontal">
  <label class="col-md-2 control-label">{{answer.detailLabel || 'Précisez'}}</label>
  <div class="col-md-10">
    <input type="text" class="form-control" ng-if="answer.detailModel" ng-model="$parent.sectionModel[question.model][answer.detailModel]" placeholder="{{answer.placeholder}}">
    <input type="text" class="form-control" ng-if="!answer.detailModel" ng-model="$parent.sectionModel[question.model]['detail']" placeholder="{{answer.placeholder}}">
  </div>
</div>
