<a ng-if="section.isEnabled" ui-sref="{{section.sref}}"
  ng-class="{active: isActive(),
    showBefore: section.showBefore, showAfter: section.showAfter,
    first: !section.showBefore, last: !section.showAfter}"
  tooltip="{{section.tooltip}}">
  <span ng-if="section.span">{{getLabel(section)}}</span>
</a>
<a ng-if="!section.isEnabled"
  ng-class="{active: isActive(),
    showBefore: section.showBefore, showAfter: section.showAfter,
    first: !section.showBefore, last: !section.showAfter}"
  tooltip="{{section.tooltip}}" class="disabled">
  <span ng-if="section.span">{{getLabel(section)}}</span>
</a>
