<qtitle></qtitle>

<div class="row" ng-repeat="answer in question.answers"
  ng-if="debug || (!answer.onlyAdult || isAdult())">
  <div class="col-md-12"
      tooltip="{{debug && answer.onlyAdult && !isAdult() ? debugAdultText : ''}}">
    <label
      class="btn btn-default btn-block"
      ng-disabled="debug && answer.onlyAdult && !isAdult()"
      ng-click="question.setAnswer(answer)"
      ng-model="question.radioModel"
      btn-radio="answer.value">
      {{getLabel(answer)}}
    </label>
    <div class="well slide" ng-if="answer.showDetail && question.radioModel === answer.value">
      <div ui-view></div>
    </div>
  </div>
</div>

<div go-next></div>
