<h3 class="qtitle">{{question.title}}</h3>
<h4 class="qsubtitle" ng-if='question.subTitle'>{{question.subTitle}}</h4>
<h5>Plusieurs choix possibles.</h5>

<div class="container-fluid">
  <div class="row" ng-repeat="answer in question.answers">
    <div class="col-xs-12">
      <label class="btn btn-default center-block" ng-model="answer.value" btn-checkbox>
        {{answer.label}}
      </label>
      <div class="well fadein fadeout" ng-if="answer.detail && answer.value">
        <div ui-view></div>
      </div>
    </div>
  </div>
  <div class="row next-step">
    <div class="col-xs-offset-8 col-xs-4">
      <a ng-click="nextStep()" class="btn btn-primary pull-right">Suivant</a>
    </div>
  </div>
</div>

<pre class="dev_footer">
  {{ question }}
</pre>
