<div class="col-md-2">
  <span>
    <a ng-if="!section.isEnabled" class="disabled">
      <span ng-if="section.span">{{section.span}}</span>
      <span ng-if="section.glyphicon" class="glyphicon {{section.glyphicon}}"></span>
      <p>
        {{section.label}}
      </p>
    </a>
    <a ng-if="section.isEnabled" ui-sref="{{section.sref}}" ng-class="{active: isActive()}">
      <span ng-if="section.span">{{section.span}}</span>
      <span ng-if="section.glyphicon" class="glyphicon {{section.glyphicon}}"></span>
      <p>
        {{section.label}}
      </p>
    </a>
  </span>
</div>
