<div ng-if="!small">
  <div class="row">
    <div class="col-md-6 " ng-repeat="document in documents">
      <div class="panel panel-default" ng-class="document.type">
        <div class="panel-heading" tooltip="{{document.tooltip}}">
          <h4>{{document.desc}}</h4>
        </div>
        <div class="panel-body">
          <div ng-hide="document.file">
            <em>Pas de document</em>
          </div>
          <div ng-show="document.file">
            <span class="glyphicon glyphicon-file"></span>
            <span><strong>Document reçu</strong></span>
          </div>
        </div>
        <div class="panel-footer" ng-hide="document.file">
          <div class="btn-group btn-group-justified">
            <div ng-file-select="onFileSelect($files, document)" data-multiple="false" class="btn btn-default" href="#"><span class="glyphicon glyphicon-paperclip"></span> Attacher un fichier</div>
            <a class="btn btn-default" ng-if="document.why"><span class="glyphicon glyphicon-question-sign"></span> Pourquoi ?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="small">
  <ul class="list-group" ng-if="category.show" ng-repeat="category in documents">
    <li class="list-group-item" ng-if="document.show" ng-repeat="document in category.documents">
      <p>{{document.desc}}</p>
      <div class="row answer">
        <div class="col-md-4">
          <p>
            <span class="glyphicon glyphicon-file"></span>
            <strong>{{document.filename ? document.filename : 'Pas de document'}}</strong>
          </p>
        </div>
        <div class="col-md-4">
          <a>
            <span class="glyphicon glyphicon-user"></span>
            <strong>Assigner</strong>
          </a>
        </div>
        <div class="col-md-4">
          <a>
            <span class="glyphicon glyphicon-upload"></span>
            <strong>Télécharger</strong>
          </a>
        </div>
      </div>
    </li>
  <ul>
</div>
