<div class="row">
  <div class="col-md-6" ng-repeat="file in files">
    <div class="panel panel-default" ng-class="{'panel-danger': !currentStep.isFinished && file.state === 'erreur', 'panel-success': !currentStep.isFinished && file.state === 'valide'}">
      <div class="panel-heading" tooltip="{{file.document.tooltip}}">
        <h4>{{file.document.label}}</h4>
      </div>
      
      <div ng-if="file.state === 'delegate'">
        <div class="panel-body delegate">
          <h3>{{request.shortId}}</h3>
          <p>Utilisez ce code pour communiquer avec votre médecin.</p>
        </div>
      </div>

      <div ng-if="file.state !== 'delegate'">
        <div class="panel-body">
          <div ng-if="!file.path">
            <em>Pas de document</em>
          </div>
          <div ng-if="file.path">
            <span class="glyphicon glyphicon-file"></span>
            <span><strong>Document reçu</strong></span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified" ng-if="!currentStep.isFinished && file.state !== 'valide'">
          <div ng-file-select="onFileSelect($files, file)" data-multiple="false" class="btn btn-default">
            <span class="glyphicon glyphicon-paperclip" ng-if="file.state !== 'delegate' || (file.state === 'delegate' && !request.certificat)">Attacher un fichier</span>
            <span ng-if="file.state === 'delegate' && request.certificat">Certificat reçu</span>
          </div>
          <div class="btn btn-primary" ng-click="transmitFile(file)" ng-if="file.document.canDelegate && file.state !== 'delegate'">Transmettre</div>
        </div>
      </div>

    </div>
  </div>
</div>
