<div ng-if="!small">
  <div class="row answer">
    <div class="col-md-12">
      <div class="accordion">
        <accordion>
          <accordion-group is-open="category.open" ng-if="category.show" ng-repeat="category in documents">
            <accordion-heading>
                {{category.label}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': category.open, 'glyphicon-chevron-right': !category.open}"></i>
            </accordion-heading>

            <div class="row answer">
              <div class="col-md-6 pieces" ng-if="document.show" ng-repeat="document in category.documents">
                <div class="panel panel-default" ng-class="document.type">
                  <div class="panel-heading" tooltip="{{document.tooltip}}">
                    <p>{{document.desc}}</p>
                  </div>
                  <div class="panel-body">
                    <a href="#">
                      <span class="glyphicon glyphicon-file"></span>
                      <strong>{{document.filename ? document.filename : 'Pas de document'}}</strong>
                    </a>
                    <div>
                      <span><strong>PDF</strong></span> <!-- TODO -->
                      <span><strong>3.2Mb</strong></span> <!-- TODO -->
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group btn-group-justified">
                      <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-paperclip"></span> Attacher un fichier</a>
                      <a class="btn btn-default" ng-if="document.why"><span class="glyphicon glyphicon-question-sign"></span> Pourquoi ?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>

<div ng-if="small">
  <ul class="list-group" ng-if="category.show" ng-repeat="category in documents">
    <li class="list-group-item" ng-if="document.show" ng-repeat="document in category.documents">
      <p>{{document.desc}}</p>
      <div class="row answer">
        <div class="col-md-4">
          <p>
            <span class="glyphicon glyphicon-file"></span>
            <strong>{{document.filename ? document.filename : 'Pas de document'}}</strong>
          </p>
        </div>
        <div class="col-md-4">
          <a>
            <span class="glyphicon glyphicon-user"></span>
            <strong>Assigner</strong>
          </a>
        </div>
        <div class="col-md-4">
          <a>
            <span class="glyphicon glyphicon-upload"></span>
            <strong>Télécharger</strong>
          </a>
        </div>
      </div>
    </li>
  <ul>
</div>
