.section-gestion {
  @extend .section-main;
  background-color: $lighter-blue;
  max-width: 100% !important;

  .row {
    max-width: 100% !important;
    margin-left: 28px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-top: 14px;
    display: flex;
  }

  .coll{
    flex-direction: column;
  }

  .col {
    margin: 4px;
    flex: 1;
  }

  .col-flex1 {
    flex: 1;
  }

  .col-flex2 {
    flex: 2;
  }

  .col-flex3 {
    flex: 3;
  }

  .col-flex4 {
    flex: 4;
  }

  .col-flex5 {
    flex: 5;
  }

  .col-flex6 {
    flex: 6;
  }

  .col-flex7 {
    flex: 7;
  }

  .col-flex8 {
    flex: 8;
  }

  .left-radius {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .right-radius {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .icon-profil {
    margin-top: auto;
    &.centre {
      text-align: center;

    }
    &:before {
      content: "\f007";
      font-family: 'FontAwesome';
      display: inline-block;
      font-size: 9em;
      color: #FFFFFF;
      //float: none;
      //text-align: left;
    }
  }

  #flex-container {
    display: flex;
    flex-direction: column;
    color: rgb(157, 250, 177);
    justify-content: center;
  }

  #flex-container > .flex-itemé {
    flex: auto;
    color: rgb(157, 250, 177);
  }

  .flex-item {
    justify-content: center;
  }

  .centered {
    text-align: center;
    //font-size: 0;
  }
  .col-centered{
    float: none;
    //margin: 0 auto;
  }

  .icon-demande {
    margin-top: 50px;
    &.centre {
      text-align: center;
    }
    &:before {
      content: "\f07c";
      font-family: 'FontAwesome';
      display: inline-block;
      font-size: 9em;
      color: #FFFFFF;
    }
  }

  .border-top {
    border-top-style: solid;
    border-top-color: #FFFFFF;
    border-top-width: 2px;
  }

  .border-left {
    border-left-style: solid;
    border-left-color: #FFFFFF;
    border-left-width: 2px;
  }

  h2{
    color: white;
  }

  .col-icon-profil {
    background-color: #FFFFFF;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #4f6083;

    &:before {
      content: "\f007";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
      color: #3598DB;
    }
  }

  .col-icon-demande {
    background-color: #FFFFFF;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #4f6083;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:before {
      content: "\f07c";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
      color: #3598DB;
    }
  }

  .col-item {
    background-color: #FFFFFF;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #4f6083;
  }

  .retour {
    background-color: #FFFFFF;
    font-size: 1.2em;
    color: #4f6083;
    text-align: center;
    border-radius: 3px;
    min-height: 44px;

    &.espace {
      margin-left: 28px;
      margin-top: 15px;
      width: 200px;
    }
  }

  .col-action {
    background-color: #d9534f ;
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #FFFFFF;
    //border-left: 4px solid $lighter-blue;

    &:before {
      content: "\f1f8";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
    }
  }

  .col-new {
    background-color: #3598DB;
    padding: 10px 15px;
    font-size: 1.2em;
    width: 100%;
    color: #FFFFFF;
    text-align: center;

    &:before {
      content: "\f055";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
    }
  }

  .col-new-disabled {
    background-color: #D0D0D0;
    padding: 10px 15px;
    font-size: 1.2em;
    width: 100%;
    color: #666666;
    text-align: center;
    cursor: default;

    &:before {
      content: "\f055";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
    }
  }

  .col-icon-profil-desabled {
    background-color: #D0D0D0;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #666666;

    &:before {
      content: "\f007";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
    }
  }

  .col-icon-demande-desabled {
    background-color: #D0D0D0;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #666666;

    &:before {
      content: "\f07c";
      font-family: 'FontAwesome';
      display: inline-block;
      width: 1.2em;
      margin-right: 4px;
    }
  }

  .col-item-desabled {
    background-color: #D0D0D0;
    padding: 10px 15px;
    font-size: 1.2em;
    color: #666666;
  }

  .col-action-desabled {
    background-color: #D0D0D0;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 1.2em;
    color: #666666;
    //border-left: 4px solid $lighter-blue;
  }

  .note{
    margin-left: 10px;
    font-size: 0.8em;
    color: #FFFFFF;
  }

  .breadcrump {
    margin: 0;
    padding: 0;
    height: 44px;
  }

  .breadcrump-section {
    position: relative;
    display: inline-block;
    font-weight: 200;
    font-size: 1.2em;
    color: $light-blue;
    text-align: center;

    div {
      margin-right: 7px;
      position: relative;
      display: block;
      height: 44px;
      padding: 10px 15px;
      float: left;
      background-color: white;

      &.large {
        width: 177px;
        span {
          padding: 0 20px;
        }
      }

      &.first {
        margin-left: 28px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &.last {
        margin-right: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &.left-arrow:before {
        width: 0;
        height: 0;
        border-top: 22px solid white;
        border-bottom: 22px solid white;
        border-left: 22px solid transparent;
        position: absolute;
        content: "";
        top: 0px;
        left: -21px;
      }

      &.active.left-arrow:before {
        border-color: $lighter-red;
        border-left:22px solid transparent;
      }

      &.right-arrow:after {
        width: 0;
        height: 0;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        border-left:22px solid white;
        position: absolute;
        content: "";
        top: 0px;
        right: -21px;
      }

      &.active:after {
        border-left:22px solid $lighter-red;
      }

      &.active {
        background-color: $lighter-red;
        color: white;
      }
    }
  }
}


