#demande-emise {
  .demande-emise-title {
    .fa-envelope {
      color: lighten($lighter-blue, 25%);
    }
  }

  section {
    background-color: #4A4C56;
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 10px;

    h2 {
      padding-left: 10px;
    }

    .content {
      background-color: white;
      color: black;
      padding: 15px;
      border-radius: 5px;

      h3 {
        margin-top: 0;
      }

      .btn > i{
        margin-right: 10px;
      }
    }
  }
}
