<div class="menu-dashboard" ng-class="md.isCollapsed() ? 'collapsed-menu' : 'expanded-menu'">
  <div class="shared-menu">
    <a ng-show="md.mdph" ui-sref="departement({codeDepartement: md.mdph.zipcode})"><img ng-src="assets/images/{{md.mdph.logo}}" alt="Accueil"></a>
    <a ng-hide="md.mdph" ui-sref="main"><img src="assets/images/logo_marianne.png" alt="Accueil"></a>
  </div>

  <div class="menu-general">
    <ul>
      <li ng-if="!md.isLoggedIn()">
        <a class="icon" ui-sref="signup({codeDepartement: md.mdph.zipcode})" title="Inscription">Inscription</a>
        <a class="icon" ui-sref="login({codeDepartement: md.mdph.zipcode})" title="Connexion">Connexion</a>
      </li>
      <li ng-if="md.isLoggedIn()">
        <a class="icon user" ui-sref-active="active" ui-sref="mon_compte" title="Gérer mon compte">{{ md.getCurrentUser().email }}</a>
      </li>
      <li ng-if="md.isLoggedIn()">
        <a class="icon sign-out" ui-sref="logout">Se déconnecter</a>
      </li>
    </ul>
  </div>

  <div class="menu-slider" ng-if="md.state.includes('dashboard')" ng-class="md.state.includes('dashboard.workflow.detail') ? 'show-detail' : 'show-general'">
    <div class="menu-general">
      <ul>
        <li>
          <a class="icon inbox" href ui-sref="dashboard.workflow" ui-sref-active="active">
            Flux de demandes
          </a>
        </li>
        <li ng-repeat="banette in md.banettes">
          <a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.list({status: banette.id})">
            {{banette.label}}
            <span
              ng-class="{
                'label-danger': banette.count >= 30,
                'label-warning': banette.count >= 10 && banette.count < 30,
                'label-success': banette.count < 10 && banette.count > 0,
                'label-default': banette.count == 0}"
              class="label pull-right">
              {{banette.count}}
            </span>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon users" href ui-sref="dashboard.users.agents" ui-sref-active="active">
            Gestion des utilisateurs
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon globe" ui-sref="dashboard.dispatch.secteurs" ui-sref-active="active">
            Gestion des secteurs
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon code-fork" ui-sref-active="active" ui-sref="dashboard.dispatch.regles">
            Dispatch des demandes
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon book" ui-sref-active="active" ui-sref="dashboard.documents">
            Classement des documents
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-detail">
      <div class="menu-dashboard-section">
        <ul>
          <li>
            <a class="icon arrow-left" ui-sref="dashboard.workflow">
              Retour au flux des demandes
            </a>
          </li>
        </ul>
        <ul>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.pre_evaluation">Récapitulatif</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.documents">Documents associés</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.evaluation">Synthèse de l'évaluation</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.history">Vie de la demande</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.comments">Commentaires</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="menu-dashboard-footer" ng-show="md.mdph">
    <table>
      <tbody>
        <tr>
          <th></th>
          <th>
            Contactez votre MDPH
          </th>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-home"></i></td>
          <td><span ng-bind="md.mdph.address"></span></td>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-phone"></i></td>
          <td><span ng-bind="md.mdph.phone"></span></td>
        </tr>
        <tr ng-if="md.mdph.email">
          <td class="cell-icon"><i class="fa fa-envelope"></i></td>
          <td><a href="mailto:{{md.mdph.email}}" title="Envoyer un mail de contact">{{md.mdph.email}}</a></td>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-clock-o"></i></td>
          <td><span ng-bind="md.mdph.schedule"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button type="button" class="btn-menu-link" ng-click="md.toggleMenu()" ng-class="md.isCollapsed() ? 'expand-btn' : 'collapse-btn'">
  <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
  <div class="menu-opener-inner"></div>
</button>
