.menu-dashboard {
  background-color: $bg-blue;
  position: fixed;
  width: 240px;
  top: 0;
  padding-top: 60px;
  height: 100%;
  transition: width 500ms;
  overflow: hidden;
  display: flex;

  .menu-slider {
    display: flex;
    // width: 480px;

    &.show-general {
      transition: margin-left 500ms ease-in-out;
      margin-left: 0;
    }

    &.show-detail {
      transition: margin-left 500ms ease-in-out;
      margin-left: -240px;
    }
  }

  .menu-detail.hidden-right {
    transition: margin-left 500ms ease-in-out;
    margin-left: 240px;
  }

  &.collapsed-menu {
    width: 0;

    > .menu-dashboard-section {
      display: none;
    }

    .btn-link {
      transform: rotate(90deg);
    }
  }

  &.expanded-menu > .menu-dashboard-section {
    display: block;
  }

  .menu-dashboard-section {
    margin-bottom: 20px;
    width: 240px;
  }

  i {
    width: 20px;
    text-align: center;
  }

  a {
    padding: 5px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;

    &.active, &:focus, &:hover {
      text-decoration: none;
      background-color: $disabled-blue;
    }

    i {
      color: lighten($flat-ui-blue, 10%);
    }
  }

  .dashboard-sub-menu {
    a {
      padding: 5px 10px 5px 40px;
      position: relative;

      &:before {
        font-family: 'FontAwesome';
        content: '\f0da';
        color: lighten($flat-ui-blue, 10%);
        position: absolute;
        font-size: 11px;
        left: 28px;
        top: 7px;
      }
    }
  }

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    display: block;
  }
}
