<div class="menu-dashboard">
  <div class="shared-menu">
    <a ng-show="mdph" ui-sref="departement({codeDepartement: mdph.zipcode})"><img ng-src="assets/images/{{mdph.logo}}" alt="Accueil"></a>
    <a ng-hide="mdph" ui-sref="main"><img src="assets/images/logo_marianne.png" alt="Accueil"></a>
  </div>

  <div class="menu-general">
    <ul>
      <li ng-if="!isLoggedIn()">
        <a class="icon" ui-sref="signup({codeDepartement: mdph.zipcode})" title="Inscription">Inscription</a>
      </li>
      <li ng-if="!isLoggedIn()">
        <a class="icon" ui-sref="login({codeDepartement: mdph.zipcode})" title="Connexion">Connexion</a>
      </li>
      <li ng-if="isLoggedIn()">
        <a class="icon user" ui-sref-active="active" ui-sref="mon_compte" title="Gérer mon compte">{{ getCurrentUser().email }}</a>
      </li>
      <li ng-if="isLoggedIn()">
        <a class="icon sign-out" ui-sref="logout">Se déconnecter</a>
      </li>
    </ul>
  </div>

  <div class="menu-slider" ng-if="state.includes('dashboard')" ng-class="state.includes('dashboard.workflow.detail') ? 'show-detail' : 'show-general'">
    <div class="menu-general">
      <ul>
        <li>
          <a class="icon inbox" href ui-sref="dashboard.workflow" ui-sref-active="active">
            Flux de demandes
          </a>
          <ul>
            <li ng-repeat="banette in banettes">
              <a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.list({status: banette.id})">
                {{banette.label}}
                <span
                  ng-class="{
                    'label-danger': banette.count >= 30,
                    'label-warning': banette.count >= 10 && banette.count < 30,
                    'label-success': banette.count < 10 && banette.count > 0,
                    'label-default': banette.count == 0}"
                  class="label pull-right">
                  {{banette.count}}
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon users" href ui-sref="dashboard.users.agents" ui-sref-active="active">
            Gestion des utilisateurs
          </a>
          <ul>
            <li>
              <a class="icon" ui-sref-active="active" ui-sref="dashboard.users.agents">
                Agents
              </a>
              <a class="icon" ui-sref-active="active" ui-sref="dashboard.users.beneficiaires">
                Bénéficiaires
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon globe" ui-sref="dashboard.dispatch.secteurs" ui-sref-active="active">
            Gestion des secteurs
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon code-fork" ui-sref-active="active" ui-sref="dashboard.dispatch.regles">
            Dispatch des demandes
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="icon book" ui-sref-active="active" ui-sref="dashboard.documents">
            Classement des documents
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-detail">
      <div class="menu-dashboard-section">
        <ul>
          <li>
            <a class="icon arrow-left" ui-sref="dashboard.workflow">
              Retour au flux des demandes
            </a>
          </li>
        </ul>
        <ul>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.pre_evaluation">Récapitulatif</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.documents">Documents associés</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.evaluation">Synthèse de l'évaluation</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.history">Vie de la demande</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.comments">Commentaires</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="menu-dashboard-footer" ng-show="mdph">
    <table>
      <tbody>
        <tr>
          <th></th>
          <th>
            Contactez votre MDPH
          </th>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-home"></i></td>
          <td><span ng-bind="mdph.address"></span></td>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-phone"></i></td>
          <td><span ng-bind="mdph.phone"></span></td>
        </tr>
        <tr ng-if="mdph.email">
          <td class="cell-icon"><i class="fa fa-envelope"></i></td>
          <td><a href="mailto:{{mdph.email}}" title="Envoyer un mail de contact">{{mdph.email}}</a></td>
        </tr>
        <tr>
          <td class="cell-icon"><i class="fa fa-clock-o"></i></td>
          <td><span ng-bind="mdph.schedule"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
