.menu-dashboard {
  background-color: $bg-blue;
  position: fixed;
  width: 240px;
  top: 0;
  min-height: 800px;
  height: 100%;
  transition: width 500ms;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .shared-menu {
    background-color: white;
    margin-bottom: 5px;
    width: 240px;
    min-height: 110px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-dashboard-footer {
    margin-top: auto;
    width: 240px;
    padding: 10px 10px 40px 10px;
    background-color: whitesmoke;

    .cell-icon {
      width: 30px;
      text-align: center;
    }
  }

  .menu-slider {
    display: flex;
    width: 480px;

    &.show-general {
      transition: margin-left 500ms ease-in-out;
      margin-left: 0;
    }

    &.show-detail {
      transition: margin-left 500ms ease-in-out;
      margin-left: -240px;
    }
  }

  .menu-detail {
    width: 240px;
  }

  &.collapsed-menu {
    width: 0;
  }

  .menu-general {
    margin-bottom: 20px;
    width: 240px;
  }

  ul > li > a {
    padding: 5px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;

    &.active, &:focus, &:hover {
      text-decoration: none;
      background-color: $disabled-blue;
    }

    &.icon:before {
      content: ' ';
      font-family: 'FontAwesome';
      color: lighten($flat-ui-blue, 10%);
      font-size: 12px;
      width: 20px;
      display: inline-block;
      text-align: center;
    }

    &.home:before {
      content: '\f015';
    }

    &.sign-out:before {
      content: '\f08b';
    }

    &.globe:before {
      content: '\f0ac';
    }

    &.user:before {
      content: '\f007';
    }

    &.users:before {
      content: '\f0c0';
    }

    &.code-fork:before {
      content: '\f126';
    }

    &.inbox:before {
      content: '\f01c';
    }

    &.book:before {
      content: '\f02d';
    }

    &.arrow-left:before {
      content: '\f060';
    }
  }

  .dashboard-sub-menu {
    a {
      padding: 5px 10px 5px 40px;
      position: relative;

      &:before {
        font-family: 'FontAwesome';
        content: '\f0da';
        color: lighten($flat-ui-blue, 10%);
        position: absolute;
        font-size: 11px;
        left: 28px;
        top: 7px;
      }
    }
  }

  ul {
    margin-bottom: 5px;
    padding: 0;
  }

  li {
    display: block;
  }
}

.btn-menu-link {
  position: fixed;
  top: 10px;
  width: 40px;
  height: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
	background-color: $orange;
  border: none;
  outline: none;
  transition: all 500ms;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: right;

  // i {
  //   transition: all 500ms;
  //   font-size: 30px;
  //   font-weight: bold;
  //   color: white;
  //   width: 20px;
  //   text-align: center;
  // }

  .menu-opener-inner {
    width: 20px;
    display: inline-block;
  }

  .menu-opener-inner::before, .menu-opener-inner::after {
    background: white;
    content: '';
    display: block;
    height: .4rem;
    transition: 500ms all;
    border-radius: 10px;
  }

  .menu-opener-inner::before {
    transform: translateY(-0.25rem) rotate(30deg);
  }
  .menu-opener-inner::after {
    transform: translateY(0.25rem) rotate(-30deg);
  }

  &:hover {
    width: 50px;
  }

  &.expand-btn {
    left: 0px;
  }

  &.collapse-btn {
    left: 240px;
    // i {
    //   transform: rotate(180deg);
    // }

    .menu-opener-inner::before {
      transform: translateY(-0.25rem) rotate(-30deg);
    }
    .menu-opener-inner::after {
      transform: translateY(0.25rem) rotate(30deg);
    }
  }
}
