.menu-dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 2px;
  background-color: $bg-blue;

  h2 {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
    padding: 0 5px;
    padding-top: 10px;
  }

  ul {
    padding: 0 0 10px 10px;
    list-style-type: none;
  }

  ul > li > a {
    padding: 5px;
    display: block;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    &:hover {
      text-decoration: none;
      background-color: $disabled-blue;
    }

    &.active,
    &.active:hover {
      background-color: $flat-ui-blue;
    }
  }
}

.menu-general .experimental {
  background-color: $lighter-red;

  ul > li > a {
    &:hover {
      background-color: $light-red;
    }

    &.active {
      background-color: $light-red;
    }
  }
}

@media (max-width: $screen-xs-max) {
  $menu-width: 100%;
  $slider-width: 200%;

  .shared-menu img {
      height: 50px;
  }

  .menu-dashboard {
    width: $menu-width;
  }

  .menu-general {
    width: $menu-width;
  }

  .menu-detail {
    width: $menu-width;
  }

  .menu-slider {
    display: flex;
    width: $slider-width;

    &.show-general {
      transition: margin-left 500ms ease-in-out;
      margin-left: 0;
    }

    &.show-detail {
      transition: margin-left 500ms ease-in-out;
      margin-left: -$menu-width;
    }
  }

  .btn-menu-link {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  $menu-width: 240px;
  $slider-width: 480px;

  .menu-dashboard {
    width: $menu-width;
    min-height: 600px;
    height: 100%;
    transition: width 500ms;

    .menu-general {
      width: $menu-width;
      margin-bottom: 5px;
    }

    .menu-detail {
      width: $menu-width;
    }

    .menu-slider {
      display: flex;
      width: $slider-width;

      &.show-general {
        transition: margin-left 500ms ease-in-out;
        margin-left: 0;
      }

      &.show-detail {
        transition: margin-left 500ms ease-in-out;
        margin-left: -$menu-width;
      }
    }
  }
}
