<aside class="menu-dashboard">
  <div class="menu-slider" ng-class="menudashboardctrl.getMenuSliderClass()">
    <div class="menu-general">
      <h2>Flux de demandes</h2>

      <div ng-repeat="result in menudashboardctrl.totalRequestsCount" ng-if="result.groups.length > 0">
        <ul>
          <li class="bannette-agent">
            {{result.user.name}}
            <ul>
              <li ng-repeat="banette in menudashboardctrl.banettes" ng-if="result.groupsById[banette.id].count > 0">
                <a ui-sref-active="active" ng-if="result.user._id == menudashboardctrl.currentUser._id" ui-sref="dashboard.workflow.list({userId: 'me', status: banette.id})">
                  {{banette.label}}
                  <display-banette-count count="result.groupsById[banette.id].count" />
                </a>
                <a ui-sref-active="active" ng-if="result.user._id != menudashboardctrl.currentUser._id" ui-sref="dashboard.workflow.list({userId: result.user._id, status: banette.id})">
                  {{banette.label}}
                  <display-banette-count count="result.groupsById[banette.id].count" />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <h2>Gestion de ma MDPH</h2>
      <ul>
        <li>
          <a ui-sref="dashboard.users.agents" ui-sref-active="active">
            Gestion des comptes agents
          </a>
        </li>
        <li>
          <a ui-sref="dashboard.dispatch.secteurs" ui-sref-active="active">
            Gestion des secteurs
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="dashboard.documents">
            Paramétrer l'export des demandes
          </a>
        </li>
      </ul>

      <div class="experimental">
        <h2>Expérimental</h2>
        <ul>
          <li>
            <a ui-sref="evaluation.dashboard({codeDepartement: evaluationCtrl.currentMdph.zipcode})" ui-sref-active="active">
              Outil de soutien à l'évaluation
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu-detail">
      <div class="menu-dashboard-section">
        <ul>
          <li>
            <a class="icon arrow-left" ui-sref="dashboard.workflow">
              Retour au flux des demandes
            </a>
          </li>
        </ul>
        <ul>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.pre_evaluation">Récapitulatif</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.documents">Documents associés</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.history">Vie de la demande</a></li>
          <li><a class="icon" ui-sref-active="active" ui-sref="dashboard.workflow.detail.comments">Commentaires</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>
