.menu-dashboard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 2px;
  background-color: $bg-blue;

  ul {
    padding: 0;
  }

  li {
    display: block;
  }

  ul > li > a {
    padding: 4px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;

    &.active, &:focus, &:hover {
      text-decoration: none;
      background-color: $disabled-blue;
    }

    &.icon:before {
      content: ' ';
      font-family: 'FontAwesome';
      color: lighten($flat-ui-blue, 10%);
      font-size: 12px;
      width: 20px;
      display: inline-block;
      text-align: center;
    }

    &.home:before {
      content: '\f015';
    }

    &.sign-out:before {
      content: '\f08b';
    }

    &.globe:before {
      content: '\f0ac';
    }

    &.user:before {
      content: '\f007';
    }

    &.users:before {
      content: '\f0c0';
    }

    &.code-fork:before {
      content: '\f126';
    }

    &.inbox:before {
      content: '\f01c';
    }

    &.book:before {
      content: '\f02d';
    }

    &.arrow-left:before {
      content: '\f060';
    }
  }

  .dashboard-sub-menu {
    a {
      padding: 5px 10px 5px 40px;
      position: relative;

      &:before {
        font-family: 'FontAwesome';
        content: '\f0da';
        color: lighten($flat-ui-blue, 10%);
        position: absolute;
        font-size: 11px;
        left: 28px;
        top: 7px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  $menu-width: 100%;
  $slider-width: 200%;

  .shared-menu img {
      height: 50px;
  }

  .menu-dashboard {
    width: $menu-width;
  }

  .menu-general {
    width: $menu-width;
  }

  .menu-detail {
    width: $menu-width;
  }

  .menu-slider {
    display: flex;
    width: $slider-width;

    &.show-general {
      transition: margin-left 500ms ease-in-out;
      margin-left: 0;
    }

    &.show-detail {
      transition: margin-left 500ms ease-in-out;
      margin-left: -$menu-width;
    }
  }

  .btn-menu-link {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  $menu-width: 240px;
  $slider-width: 480px;

  .menu-dashboard {
    width: $menu-width;
    min-height: 600px;
    height: 100%;
    transition: width 500ms;

    .menu-general {
      width: $menu-width;
      margin-bottom: 5px;
    }

    .menu-detail {
      width: $menu-width;
    }

    .menu-slider {
      display: flex;
      width: $slider-width;

      &.show-general {
        transition: margin-left 500ms ease-in-out;
        margin-left: 0;
      }

      &.show-detail {
        transition: margin-left 500ms ease-in-out;
        margin-left: -$menu-width;
      }
    }
  }
}
