<div class="modal-header">
    <h1 class="modal-title">Historique de vos demandes</h1>
</div>
<div class="modal-body">
  <div class="input-group">
    <input class="form-control" type="text" ng-model="query" placeholder="Recherche">
    </input>
    <span class="input-group-addon" ng-class="{'btn': query}" ng-click="query = ''"><i class="fa fa-times" ng-class="{'text-muted': !query}"></i></span>
  </div>
  <br>
  <div class="list-group-demande">
    <a class="list-group-item section" ng-click="modalHistory.ok()" ng-repeat="request in modalHistory.requests | historyFilter: query" title="Accéder à la demande {{request.shortId}}"
      ui-sref="{{request.status === 'en_cours' ? '.demande({ shortId: request.shortId })' : '.demande({ shortId: request.shortId })'}}">
      <span class="list-group-item-content">
        <h2 class="list-group-item-heading">Demande {{request.shortId}}</h2>
        <p class="list-group-item-text">Status: {{request.status | requestStatus}}<br/>
        Dernière mise à jour le {{ request.updatedAt | moment }}</p>
      </span>
    </a>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="modalHistory.ok()">Ok</button>
</div>
