#profile {
  @extend .container;
  padding-top: 30px;
  padding-bottom: 30px;

  .request-box {
    padding: 10px 25px;
    border-radius: 2px;
    border: 1px solid $light-grey;
    background-color: white;

    h2 {
      font-size: 1em;
      font-weight: 200;
      margin: 0;
    }

    h3 {
      margin-top: 5px;
    }
  }
}

.button-container {
  margin: 45px 0;
  text-align: center;
}

section.profile-section {
  h2 {
    margin-top: 40px;
  }

  .section-subhead {
    opacity: 0.6;
  }
}

.section-desc {
  color: $light-blue;
}

.section-body-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: $dark-blue;

  h2 {
    margin: 0;
  }
}

.section-body-content {
  position: relative;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

  .question-legend {
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: inherit;
    font-size: 21px;
    color: #333333;
    padding-top: 15px;
    border-bottom: 1px solid #eeeeee;
    min-width: 100%;
  }
}
