<div id="profile" class="profile-container">
  <div class="profile-card profile-card-vertical">
    <div class="profile-card-header">
      <span class="profile-card-avatar">
        <span class="profile-card-icon"><a ui-sref="." title="Écran principal du profil"><i class="fa fa-user"></i></a></span>
      </span>
      <div class="profile-card-header-text">
        <h1 class="profile-card-header-text-title"><a ui-sref=".">{{ ::profilCtrl.profile.getTitle() }}</a></h1>
        <p class="profile-card-header-text-subhead">Dernière modification le {{ profilCtrl.profile.updatedAt | date:'short' }}</p>
        <p class="profile-card-header-text-subhead"><button ng-click="profilCtrl.delete(profile)" class="btn btn-link">Supprimer ce profil</button></p>
      </div>
    </div>

    <div class="profile-card-content" ng-if="profilCtrl.currentRequest.status === 'en_attente_usager'">
      <div ui-view class="container-fluid">
        <h2>Votre MDPH vous demande de corriger les documents associés à votre demande</h2>

        <ul class="profile-card-row">
          <li id="documents" class="profile-card-row-item"><profile-category profile="profilCtrl.profile" completion="profilCtrl.documentCompletion" options="profilCtrl.options.documents" /></li>
        </ul>

        <h3>Récapitulatif de votre demande</h3>
        <div class="request-identifier">{{profilCtrl.currentRequest.shortId}}</div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe ng-src="{{'/api/requests/' + profilCtrl.currentRequest.shortId + '/recapitulatif?access_token=' + profilCtrl.token}}" class="embed-responsive-item"></iframe>
        </div>
        <br>
        <a target="_blank" class="btn btn-lg btn-primary" href="api/requests/{{profilCtrl.currentRequest.shortId}}/pdf/{{profilCtrl.pdfName}}?access_token={{profilCtrl.token}}" download>Télécharger&nbsp;<i class="fa fa-download"></i></a>

        <div class="button-container">
          <button type="button" ng-click="profilCtrl.sendRequest()" class="btn hero-button btn-primary">
            Envoyer la demande
          </button>
        </div>
      </div>
    </div>

    <div class="profile-card-content" ng-if="profilCtrl.currentRequest.status === 'emise'">
      <div ui-view class="container-fluid">
        <h2>Votre demande est en cours de validation par votre MDPH</h2>
        <h3>Récapitulatif de votre demande</h3>
        <div class="request-identifier">{{profilCtrl.currentRequest.shortId}}</div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe ng-src="{{'/api/requests/' + profilCtrl.currentRequest.shortId + '/recapitulatif?access_token=' + profilCtrl.token}}" class="embed-responsive-item"></iframe>
        </div>
        <br>
        <a target="_blank" class="btn btn-lg btn-primary" href="api/requests/{{profilCtrl.currentRequest.shortId}}/pdf/{{profilCtrl.pdfName}}?access_token={{profilCtrl.token}}" download>Télécharger&nbsp;<i class="fa fa-download"></i></a>
      </div>
    </div>

    <div class="profile-card-content" ng-if="profilCtrl.currentRequest.status === 'en_cours'">
      <div ui-view class="container-fluid">
        <section class="profile-section">
          <h2>Informations obligatoires</h2>
          <ul class="profile-card-row">
            <li id="beneficiaire" class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.beneficiaire" /></li>
            <li id="autorite" class="profile-card-row-item" ng-if="!profilCtrl.estAdulte"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.autorite" /></li>
            <li id="vieQuotidienne" class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.vieQuotidienne" /></li>
            <li id="documents" class="profile-card-row-item"><profile-category profile="profilCtrl.profile" completion="profilCtrl.documentCompletion" options="profilCtrl.options.documents" /></li>
            <li id="unconfirmed" ng-if="profilCtrl.currentUser.unconfirmed" class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.unconfirmed" /></li>
          </ul>
        </section>

        <section class="profile-section">
          <h2>Informations complémentaires</h2>
          <p class="section-subhead">Décrivez votre situation, vos besoins, vos projets et vos attentes.</p>
          <ul class="profile-card-row">
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.vieScolaire" /></li>
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.vieTravail" /></li>
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.aidant" /></li>
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.autre" /></li>
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" completion="profilCtrl.prestationsCompletion" options="profilCtrl.options.prestations" /></li>
            <li class="profile-card-row-item"><profile-category profile="profilCtrl.profile" options="profilCtrl.options.particulieres" /></li>
          </ul>
        </section>

        <div class="button-container">
          <button type="button" ng-click="profilCtrl.sendRequest()" class="btn hero-button btn-primary">
            Envoyer la demande
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
