.navbar {
  .logo {
    padding: 2px;
  }

  img {
    height: 46px;
    border: 0;
  }

  .title {
    margin-left: 30px;
    color: rgb(85,85,85);
    text-decoration: none;
  }
}

.navbar.has-intro {
  transition: all 0.6s linear;
  padding-top: 48px;
}

.intro {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: $lighter-blue;
  padding: 14px;
  color: white;
  border-bottom: 1px solid #222;
  cursor: pointer;

  .content {
    text-align: center;
    font-weight: 200;
  }

  strong {
    font-weight: 400;
  }

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0 10px;
  }
}

.intro.ng-hide {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  top: -48px;
}

.intro {
  -webkit-transition:all linear 0.6s;
  transition:all linear 0.6s;
}

.notif-badge {
  background: #D05158;
  position: relative;
}

.notifications {
  ul {
    list-style-type: none;
    position: absolute;
    z-index: 2;
    background: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    outline: none;
    right: 0;
    -webkit-border-radius: 2px;
    border-radius: 5px;
    -webkit-user-select: text;
    padding: 5px;

    li {
      background: #fff;
      padding: 5px;
      margin: 3px;
      border: 1px solid #e7e7e7;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  i {
    color: #c7c7c7;
    float: right;
    margin-top: 3px;
    margin-left: 10px;
  }
}

div {
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 22px 10px;
    border-color: transparent transparent #f8f8f8 transparent;
    left: 15px;
  }
}

[ng-click] {
  cursor: pointer;
}
