<div ng-controller="NavbarCtrl">

  <div class="navbar navbar-default navbar-static-top" ng-class="{'has-intro': showIntro}">
    <div class="intro" ng-cloak ng-show="showIntro">
      <div class="content" ng-click="hideIntro()">
        <span>
          <strong>Service expérimental</strong>, ici l'état innove avec la société civile pour offrir aux usagers le service public de demain.
        </span>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a ui-sref="{{getIndexSref()}}" class="logo" title="Acceuil"><img ng-src="{{getLogoSrc()}}"></a></li>
          <li><a ui-sref="{{getIndexSref()}}" class="title"><em>Maisons Départementales des Personnes Handicapées</em></a></li>
          <li ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Inscription</a></li>
          <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Connexion</a></li>
          <li ng-show="isLoggedIn()"><p class="navbar-text">Bonjour, {{ user.name }}</p> </li>
          <li ng-show="isLoggedIn() && !isAdminMdph()" ui-sref-active="active">
            <a ui-sref="liste_demandes" title="Mes demandes">
              <span class="glyphicon glyphicon-folder-open"></span>
            </a>
          </li>
          <li ng-show="isLoggedIn() && notifications.length > 0">
            <a href="" ng-click="showNotifications = !showNotifications" title="Notifications non lues"><span class="badge notif-badge">{{notifications.length}}</span></a>
            <div class="arrow" ng-show="showNotifications"></div>
          </li>
          <li ng-show="isAdminMdph()" ui-sref-active="active"><a ui-sref="dashboard" title="Tableau de bord"><span class="glyphicon glyphicon-th-list"></span></a></li>
          <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings" title="Paramètres"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Se déconnecter</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container notifications" ng-show="showNotifications">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <ul>
          <li ng-repeat="(idx, notification) in notifications">{{notification.message}} <a href="" ng-click="removeNotif(notification, idx)"><i class="fa fa-times-circle pull-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
