<div ng-controller="NavbarCtrl">

  <div class="navbar navbar-default navbar-static-top" ng-class="{'has-intro': showIntro}">
    <div class="intro" ng-cloak ng-show="showIntro">
      <div class="content" ng-click="hideIntro()">
        <span>
          <strong>Service expérimental</strong>, ici l'Etat innove avec la société civile pour offrir aux usagers le service public de demain.
        </span>
      </div>
    </div>
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main" role="menubar">
        <ul class="nav navbar-nav">
          <li role="menuitem">
            <a ui-sref="{{getIndexSref()}}" class="logo" title="Accueil"><img ng-src="{{getLogoSrc()}}" alt="Accueil">
              <em>Maisons Départementales des Personnes Handicapées</em>
            </a>
          </li>
          <li role="menuitem" ng-if="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li role="menuitem" ng-if="!isLoggedIn()" ui-sref-active="active"><a ui-sref="signup" title="S'inscrire">Inscription</a></li>
          <li role="menuitem" ng-if="!isLoggedIn()" ui-sref-active="active"><a ui-sref="login" title="Se connecter">Connexion</a></li>
          <li role="menuitem" ng-if="isLoggedIn()"><p class="navbar-text">Bonjour, {{ getCurrentUser().name }}</p> </li>
          <li role="menuitem" ng-if="isLoggedIn() && !isAdminMdph()" ui-sref-active="active">
            <a ui-sref="espace_perso.mon_compte" title="Mon espace perso">
              <span class="sr-only">Mon espace perso</span>
              <span class="glyphicon glyphicon-folder-open"></span>
            </a>
          </li>
          <li role="menuitem" ng-if="isLoggedIn() && isAdminMdph()" ui-sref-active="active">
            <a ui-sref="dashboard.requests.user({userId: 'me'})" title="Tableau de bord">
              <span class="sr-only">Mon tableau de bord</span>
              <span class="glyphicon glyphicon-th-list"></span>
            </a>
          </li>
          <li role="menuitem" ng-if="isLoggedIn() && notifications.length > 0" aria-label="notifications" aria-haspopup="true">
            <a href="" ng-click="toggleNotifications()" title="{{notifications.length}} notification(s) non lue(s)">
              <span class="sr-only">Mes notifications</span>
              <span class="badge notif-badge">{{notifications.length}}</span>
            </a>
            <div class="arrow" ng-if="showNotifications"></div>
          </li>
          <li role="menuitem" ng-if="isLoggedIn()"><a href="" ng-click="logout()" title="Se déconnecter">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container notifications" ng-if="showNotifications">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <ul role="menu">
          <li role = "menuitem" ng-repeat="(idx, notification) in notifications">
            <a href class="pull-left" title="Consulter la notification" ng-click="goState(notification, idx)">
              {{notification.message}}
              <br><small class="text-muted">{{momentFromNow(notification.createdAt)}}</small>
            </a>
            <a href class="pull-right" title="Supprimer" ng-click="removeNotif(notification, idx)">
              <span class="sr-only">Supprimer la notification</span>
              <i class="fa fa-times-circle fa-lg text-muted" alt="Icône suppression"></i>
            </a>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
