<div class="modal-header">
    <h1 class="modal-title">Choix du type de document</h1>
</div>
<div class="modal-body">
  <div class="input-group">
    <input class="form-control" type="text" ng-model="query" placeholder="Recherche">
    </input>
    <span class="input-group-addon" ng-class="{'btn': query}" ng-click="query = ''"><i class="fa fa-times" ng-class="{'text-muted': !query}"></i></span>
  </div>
  <br>
  <div ng-repeat="category in filterCategories()">
    {{category | documentCategory}}
    <ul>
        <li ng-repeat="document in category | filter:query">
            <a ng-click="select(document)">{{ document.label }}</a>
        </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
