<div id="formCard">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">
        {{form.user.name}}<br>
        <span class="text-muted">Dernière modification {{updatedAt(form)}}</span>
      </h3>
			<a class="btn btn-danger pull-right" ng-click="delete(form)">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Supprimer</span>
			</a>
		</div>
		<div class="list-group">
			<div class="list-group-item" ng-if="form.formAnswers">
				<h4 class="list-group-item-heading">Voir le questionnaire</h4>
			</div>
		</div>
	</div>
</div>
