<h3>Transférer la demande</h3>
<div>
  <p>Vous avez remplis cette demande pour un tiers et souhaitez la transférer sur son compte. Merci de nous indiquer son email.</p>

  <div ng-if="knownUsers.length > 0">
    <p>Adresses renseignées dans votre demande:</p>
    <ul>
      <li ng-repeat="user in knownUsers" ng-if="user.email">
        <a title="Sélectionner {{user.nom}} {{user.prenom}}" ng-click="select(user.email)">{{user.nom}} {{user.prenom}} - {{user.email}}</a>
      </li>
    </ul>
  </div>
  <form name="userForm" novalidate>
    <label class="control-label" for="emailInput">Email</label>

    <div class="form-group">
      <input type="email" name="emailInput" id="emailInput" class="form-control" ng-model="email"
        placeholder="Ex: vous@domaine.fr" required>

      <div class="help-block" ng-if='userNotFound'><i class="fa fa-warning"></i> Impossible de trouver le compte {{userNotFound}}, cet utilisateur n'a pas encore de compte sur le site impact.sgmap.fr</div>
      <div ng-messages="userForm.emailInput.$error" ng-if="userForm.$valid === false" role="alert">
        <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          <p class="help-block" ng-message='email'><i class="fa fa-warning"></i> L'adresse email saisie est incorrecte.</p>
      </div>
    </div>
  </form>
</div>
<div class="text-right">
  <button class="btn btn-primary" ng-click="ok(userForm)">Transférer</button>
</div>
