<div class="nav-questionnaire">
  <div class="container">
    <ol class="breadcrumb">
      <li><a ui-sref="departement">Accueil du {{mdph.name}}</a></li>
      <li><a ui-sref="departement.demande">Demande</a></li>
      <li class="active">Documents</li>
    </ol>
  </div>
</div>

<div class="questionnaire">

  <div class="section-documents">
    <h1>{{section.label}}</h1>

    <div ng-if="docsList.length > 0">
      <label>Suggestions de documents à fournir</label>
      <ul>
        <li ng-repeat="document in docsList">
          {{document.label}}
        </li>
      </ul>
    </div>

    <h2>Documents obligatoires</h2>
    <div class="row">
      <div class="col-sm-4" ng-repeat="id in documentsObligatoires">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>{{documentTypesById[id].label}}</h3>
          </div>
          <div class="panel-body">
            <p>{{documentTypesById[id].desc}}</p>
            <div ng-if="id === 'certificatMedical' && mdph.zipcode === '14'" class="well">
              <p>Vous pouvez également demander à votre médecin de le télétransmettre directement.
                <br>
                Présentez vous à votre rendez-vous médical avec la brochure d'explication jointe et pensez à vous munir de la référence de votre demande: <strong>{{request.shortId}}</strong>

                <a target="_blank" download href="/assets/documents/teleservice_medecin.pdf">
                  Télécharger la brochure
                </a>
                <!-- <button class="btn btn-primary" ng-click="openBrochure()">
                  Télécharger la brochure
                </button> -->
              </p>
            </div>
            <p ng-if="documentTypesById[id].emptyDoc">
              <a target="_blank" download ng-href="/assets/documents/{{documentTypesById[id].emptyDoc}}">
                Télécharger un modèle de ce document
              </a>
            </p>
            <ul ng-if="!filesVM[id]"><li>Pas de document</li></ul>
            <ul ng-if="filesVM[id]" class="list-group">
              <li ng-repeat="file in filesVM[id]" class="list-group-item">
                <display-file file="file" request="request"></display-file>
              </li>
            </ul>

          </div>
          <div class="panel-footer" ng-if="!file.asked">
            <div class="text-right">
              <div ngf-select ngf-change="upload($files[0], id)" accept=".jpg,.png,.pdf" data-multiple="false" class="btn btn-default">
                <i class="fa fa-upload"></i> Attacher un fichier</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2>Documents complémentaires</h2>
    <div class="row">

      <div ng-repeat="id in documentsComplementaires">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>{{documentTypesById[id].label || 'Autre'}}</h3></div>
            <div class="panel-body">
              <p>{{documentTypesById[id].desc}}</p>
              <p ng-if="documentTypesById[id].emptyDoc">
                <a target="_blank" download ng-href="/assets/documents/{{documentTypesById[id].emptyDoc}}">
                  Télécharger un modèle de ce document
                </a>
              </p>

              <ul ng-if="!filesVM[id]"><li>Pas de document</li></ul>
              <ul ng-if="filesVM[id]" class="list-group">
                <li ng-repeat="file in filesVM[id]" class="list-group-item">
                  <display-file file="file" request="request"></display-file>
                </li>
              </ul>
            </div>
            <div class="panel-footer" ng-if="!file.asked">
              <div class="text-right">
                <div ng-file-select="onFileSelect($files[0], id)" accept=".jpg,.png,.pdf" data-multiple="false" class="btn btn-default">
                  <i class="fa fa-upload"></i> Attacher un fichier</span>
                </div>
                <div class="btn btn-success" ng-if="document.id === 'certificatMedical'"ng-click="demandePartenaire(document)">
                  <i class="fa fa-user"></i> Transférer</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix" ng-if="$index % 3 === 2"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3>Document complémentaire</h3>
          </div>
          <div class="panel-body">
            <p>Ajouter un nouveau type de document</p>
          </div>
          <div class="panel-footer">
            <div class="text-right">
              <button class="btn btn-primary" ng-click="chooseType()">
                <i class="fa fa-plus-circle"></i> Ajouter un document
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 col-sm-offset-10">
        <button alt="Valider" class="btn btn-block btn-success" ng-click="saveSection()">Valider</button>
      </div>
    </div>
  </div>
</div>
