<div class="row form">
  <label class="col-md-2 col-md-offset-1 control-label">Vous êtes aidé par</label>
  <div class="answer col-md-8">
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['famille']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['famille'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['famille']}"></i>
      Votre famille
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['professionnel']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['professionnel'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['professionnel']}"></i>
      Un professionnel de soins à domicile
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['medicoSocial']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['medicoSocial'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['medicoSocial']}"></i>
      Un accompagnement médico-social
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['autre']['value']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['autre']['value'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['autre']['value']}"></i>
      Autre
    </button>
    <div ng-if="sectionModel[question.model][answer.detailModel]['autre']['value']" class="slide">
      <div class="row">
        <br><label class="col-md-2 control-label">Précisez</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="detail"
            ng-model="sectionModel[question.model][answer.detailModel]['autre']['detail']" required>
          <div ng-messages="questionForm.detail.$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
