<div class="row form">
  <label class="col-md-2 col-md-offset-1 control-label">Cette aide consiste en</label>
  <div class="answer col-md-8">
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['logement']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['logement'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['logement']}"></i>
      Un aménagement de logement
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['animal']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['animal'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['animal']}"></i>
      Une aide animalière
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['vehicule']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['vehicule'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['vehicule']}"></i>
      Un aménagement de véhicule
    </button>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['technique']['value']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['technique']['value'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['technique']['value']}"></i>
      Une aide technique <small>(ex: barre d'appui, déambulateur, etc.)</small>
    </button>
    <div ng-if="sectionModel[question.model][answer.detailModel]['technique']['value']" class="slide">
      <div class="row">
        <br><label class="col-md-2 control-label">Précisez</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="detail"
            ng-model="sectionModel[question.model][answer.detailModel]['technique']['detail']" required>
          <div ng-messages="questionForm.detail.$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="btn btn-default btn-block btn-answer text-capitalize"
      ng-model="sectionModel[question.model][answer.detailModel]['autre']['value']"
      btn-checkbox>
      <i class="fa" ng-class="{'fa-check-square': sectionModel[question.model][answer.detailModel]['autre']['value'], 'fa-square-o': !sectionModel[question.model][answer.detailModel]['autre']['value']}"></i>
      Autre
    </button>
    <div ng-if="sectionModel[question.model][answer.detailModel]['autre']['value']" class="slide">
      <div class="row">
        <br><label class="col-md-2 control-label">Précisez</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="detail"
            ng-model="sectionModel[question.model][answer.detailModel]['autre']['detail']" required>
          <div ng-messages="questionForm.detail.$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
