<fieldset>
  <legend ng-hide="hideTitle" class="control-label">Précisez le domicile</legend>

  <div>
    <input type="radio" name="domicile" id="domicile-parents"
      ng-model="sectionModel[answer.detailModel]" value="De {{pronomPluriel}} parents (ou l'un d'entre eux)"
      ng-required="!sectionModel[answer.detailModel]">
    <label for="domicile-parents">De {{pronomPluriel}} parents (ou l'un d'entre eux)</label>
  </div>

  <div>
    <input type="radio" name="domicile" id="domicile-enfants"
      ng-model="sectionModel[answer.detailModel]" value="De {{pronomPluriel}} enfants (ou l'un d'entre eux)"
      ng-required="!sectionModel[answer.detailModel]">
    <label for="domicile-enfants" >De {{pronomPluriel}} enfants (ou l'un d'entre eux)</label>
  </div>

  <div>
    <input type="radio" name="domicile" id="domicile-ami"
      ng-model="sectionModel[answer.detailModel]" value="D'un(e) ami(e)"
      ng-required="!sectionModel[answer.detailModel]">
    <label for="domicile-ami">D'un(e) ami(e)</label>
  </div>

  <div>
    <input type="radio" name="domicile" id="domicile-autreMembreFamille"
      ng-model="sectionModel[answer.detailModel]" value="D'un autre membre de {{pronomSingulier}} famille"
      ng-required="!sectionModel[answer.detailModel]">
    <label for="domicile-autreMembreFamille">D'un autre membre de {{pronomSingulier}} famille</label>
  </div>

  <div>
    <input type="radio" name="domicile" id="domicile-familleAccueill"
      ng-model="sectionModel[answer.detailModel]" value="D'une famille d'accueil"
      ng-required="!sectionModel[answer.detailModel]">
    <label for="domicile-familleAccueill">D'une famille d'accueil</label>
  </div>
</fieldset>
