<div class="row">
  <div class="col-md-4">
    <button class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'parents'">
      Des parents
    </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'ami'">
      D'un(e) ami(e)
    </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'autreMembreFamille'">
      D'un autre membre de<br>la famille
    </button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'familleAccueill'">
      D'une famille d'accueil
    </button>
  </div>
  <div class="col-md-4">
    <div tooltip="{{debug ? debugAdultText : ''}}">
      <button class="btn btn-default btn-block"
        ng-if="debug || showAdult"
        ng-disabled="!showAdult"
        ng-model="sectionModel[answer.detailModel]"
        btn-radio="'enfants'">
        Des enfants
      </button>
    </div>
  </div>
</div>
