<div class="row form-horizontal">
  <label class="col-md-3 control-label">De catégorie</label>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'categorie1'"
      ng-required="!sectionModel[answer.detailModel]">
      1
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'categorie2'"
      ng-required="!sectionModel[answer.detailModel]">
      2
    </button>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-default btn-block" ng-model="sectionModel[answer.detailModel]" btn-radio="'categorie3'"
      ng-required="!sectionModel[answer.detailModel]">
      3
    </button>
  </div>
</div>
