<div class="row form-horizontal" ng-controller="PrecisezDureeCtrl">
  <label class="col-md-2 control-label">Du :</label>
  <div class="col-md-9">
    <p class="input-group">
      <input type="text" name="detail" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="sectionModel[answer.detailModel]['debut']" is-open="opened1" placeholder="DD/MM/YYYY" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" show-button-bar="false"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <div ng-messages="questionForm.detail.$error" ng-if="questionForm.showError">
      <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
    </div>
  </div>

  <label class="col-md-2 control-label">Au :</label>
  <div class="col-md-9">
    <p class="input-group">
      <input type="text" name="detail" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="sectionModel[answer.detailModel]['fin']" is-open="opened2" placeholder="DD/MM/YYYY" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" show-button-bar="false"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 2)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <div ng-messages="questionForm.detail.$error" ng-if="questionForm.showError">
      <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
    </div>
  </div>
</div>
