<div class="row form-horizontal" ng-controller="PrecisezDateCtrl">
  <label class="col-md-3 control-label">{{answer.detailLabel || 'Précisez'}}<br><span class="small">au format jour/mois/année</span></label>
  <div class="col-md-9">
    <input
      type="text"
      class="form-control"
      name="dateDeNaissance"
      id="date-de-naissance"
      required
      ng-model="sectionModel[answer.detailModel]"
      input-date
      date-autocomplete
      placeholder="JJ/MM/AAAA"
      aria-describedby="help-date-de-naissance">
    <div ng-messages="questionForm.dateDeNaissance.$error" ng-if="questionForm.showError">
      <p class="help-block" id="help-date-de-naissance" ng-message='inputDate'>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
      <p class="help-block" id="help-date-de-naissance" ng-message='required'>Ce champ est obligatoire.</p>
    </div>
  </div>
</div>
