<div class="row form-horizontal" ng-controller="PrecisezDateCtrl">
  <div class="row">
    <label class="col-md-3 control-label">{{answer.detailDateLabel || 'Date'}}<br/><span class="small">au format jour/mois/année</span></label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="date_{{answer.detailModel}}"
        id="date_{{answer.detailModel}}"
        ng-model="sectionModel[answer.detailModel].date"
        required
        input-date
        date-autocomplete
        placeholder="JJ/MM/AAAA"
        aria-describedby="help-date">
        <div ng-messages="questionForm['date_' + answer.detailModel].$error" ng-if="questionForm.showError">
          <p class="help-block" ng-message='inputDate'><i class="fa fa-warning"></i>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
          <p class="help-block" ng-message='required'><i class="fa fa-warning"></i>Ce champ est obligatoire.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <label class="col-md-3 control-label" for="detailTextId">{{answer.detailTextLabel || 'Précisez'}}</label>
    <div class="col-md-9">
      <textarea id="detailTextId" name="{{answer.detailTextModel}}" ng-model="sectionModel[answer.detailModel].text" class="form-control" placeholder="{{answer.detailTextPlaceholder}}">
      </textarea>
    </div>
  </div>
</div>
