.banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    text-align: center;
}

@media (min-width: $screen-md-min) {
  .hero-unit {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 55px;
    background-image: url('../assets/images/bridge.jpg');
  }
}

.features {
    margin-top: 70px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
}

.liste-prestations {

    background-image: url('../assets/images/tweed.png');

    margin-top: 70px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    font: 15px 'Times new roman', sans-serif;
    text-align: center;

    h2 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 400;
      color: #eee;
    }

    .row {
      margin-bottom: 20px;
    }

    i {
      color: $medium-red;
      margin-right: 3px;
    }

    .elem {
      text-align: left;
      padding: 5px 30px;
      margin: 2px 0;

      .elem-body {
        padding: 10px;
        background-color: $light-red;
        color: #eee;

        border-radius: 8px;
        text-shadow: 0 1px 0 rgba(0,0,0,.1)
      }
    }
}

.btn-outline-inverse {
    font-weight: 200;
    color: $light-blue;
    background-color: #fff;

    &:hover {
      font-weight: 200;
      color: #fff;
      background-color: #fff;
      background-color: rgba(0, 0, 0, 0.2);
      border-color: #fff;
    }
}

$footer-height: 60px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
}

.footer {
    text-align: center;
    padding: 20px 0;
    a {
      color: #eee;
    }
    border-top: 3px solid $dark-blue;
    background-color: $light-blue;

    // Stick it
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

#push {
    height: 60px;
}
