.banner.banner-blue {
  background: linear-gradient(45deg, $light-blue, $bg-blue);
}

.hero-button {
  @extend .btn;
  @extend .btn-primary;
  padding: 10px 40px;
  font-size: 1.7em;
  font-weight: 500;
  border-radius: 2px;

  &.inverted {
    color: $brand-primary;
    background-color: white;

    &:focus, &:hover {
      background: whitesmoke;
      color: $brand-primary;
    }
  }
}

.hero-unit {
  color: $light-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 330px;
  background-color: $lighter-blue;
  background: linear-gradient(to left, rgba(51, 62, 84, 0.50) , rgba(79, 96, 131, 0.50));

  h1 {
    margin: 0;
    font-size: 5rem;
    line-height: 1;
    letter-spacing: -1px;
    padding: 10px;
  }

  p {
    font-size: 2.1em;
    margin-bottom: 1em;
  }

  ul.mdph-choices {
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
  }

  li.mdph-choice {
    margin: 10px 5px;
  }

  li.mdph-choice > a.btn-default {
    min-width: 300px;
    font-size: 1.2em;
    padding: 15px;
    color: $lighter-blue;

    img {
      mix-blend-mode: multiply;
    }
  }

  .btn-link {
    color: white;
    padding-top: 0;
  }
}

.section-main {
  padding: 50px 15px;
  width: 100%;
  max-width: 1170px;
  margin: auto;

  h2 {
    margin-top: 15px;
    margin-right: 15px;
  }
}

.section-main.section-flow > .flow {
  @extend .row;
  margin-left: 0px;
  margin-right: 0px;

  p {
    @extend .lead;
  }

  span {
    background-color: $bg-blue;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    width: 3rem;
    font-weight: 500;
    font-size: 1em;
    height: 3rem;
  }

  img {
    width: 12vw;
    padding: 2em 0;
  }

  > div {
    @extend .col-md-4;
    text-align: center;
  }
}

@media (max-width: $screen-xs-max) {
  .section-main.section-flow > .flow img {
    width: 36vw;
  }
}
.section-main.section-flow > .more {
  text-align: center;
  margin-top: 20px;
}

.section-main.section-text > div {
  @extend .row;
  > p {
    @extend .col-md-4;
    @extend .lead;
  }
}


.liste-prestations {
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
    color: #eee;
  }


  .row {
    margin-bottom: 20px;
  }


  .panel-footer {
    font-size: 6px;
  }

  i {
    color: $lighter-blue;
    margin-right: 3px;
  }

  .elem {
    text-align: left;
    padding: 5px 30px;
    margin: 2px 0;

    .elem-body {
      padding: 10px;
      background-color: rgba(126, 142, 175, 0.09);
      border-radius: 8px;
    }
  }
}

.btn-outline {
  font-weight: 300;
  color: $light-blue;
  background-color: #fff;
  border: 1px solid lighten($light-blue, 20%);

  &:hover {
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
  }
}

.btn-outline-inverse {
  @extend .btn-outline;
  color: #fff;
  background-color: lighten($light-blue, 5%);

  &:hover {
    color: #fff;
    background-color: $light-blue;
    -webkit-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
  }
}

.card {
  background-color: white;
  border: 1px solid #E8E8E8;
  padding: 30px;

  .list-actions {
    text-align: right;
    padding: 25px 0 0 0;
  }

  a {
    font-size: 1.3em;
    color: $lighter-blue;

    &:focus, &:hover {
      text-decoration: none;

      &:before {
        color: $lighter-blue;
      }
    }

    &:before {
      color: lighten($lighter-blue, 25%);
      font-family: 'FontAwesome';
      content: '\f138';
      margin-right: 5px;
    }
  }
}

.map-container {
  position: relative;

  #map {
    height: 45rem;
    width:100%;
  }

  .card-contact {
    background-color: white;

    .card-img {
      height: 200px;
      overflow: hidden;
      display: none;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    table {
      margin: 10px;
    }

    td.cell-icon {
      text-align: center;
    }

    td {
      padding: 5px;

      i {
        color: $light-blue;
      }

      span {
        white-space: pre-wrap;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .card-contact {
      position: absolute;
      top: 1rem;
      right: 20px;
      width: 300px;

      .card-img {
        display: block;
      }

      table {
        height: 180px;
      }
    }
  }
  @media (min-width: $screen-lg-min) {
    .card-contact {
      left: 50%;
      transform: translate(80px,0);
    }
  }

}
