<ui-view>
  <div class="nav-questionnaire">
    <div class="container">
      <ol class="breadcrumb">
        <li class="active" ng-if="mdph">Accueil {{mdph.name}}</li>
        <li class="active" ng-if="!mdph">Accueil</li>
      </ol>
    </div>
  </div>

  <header ng-if="!mdph" class="hero-unit banner" ng-class="'bg' + mdph.zipcode">
    <div class="container">
      <h1>Service de demande en ligne</h1>
    </div>
  </header>
  <header ng-if="mdph" class="hero-unit banner" ng-class="'bg' + mdph.zipcode">
    <div class="container">
      <h1>Votre demande à la MDPH {{mdph.name}}</h1>
    </div>
  </header>

  <div class="action-dark" ng-if="user">
    <div class ="container">
      <div class="row">
        <div class="col-sm-6">
          <h2><i class="fa fa-user"></i> Bonjour, {{user.name }}</h2>
        </div>
        <div class="col-sm-6">
          <div ng-if="user.role === 'adminMdph'">
            <a class="btn btn-outline-inverse btn-lg" ng-if="user.role === 'adminMdph'" ui-sref="dashboard.requests.user({userId: user._id})">
              Accéder à mon tableau de bord
            </a>
            <hr>
          </div>

          <a class="btn btn-outline-inverse btn-lg" ui-sref="espace_perso.liste_demandes">
            Voir mes demandes
          </a>
          <a class="btn btn-outline btn-lg" ui-sref="{{sref}}">
            Faire une nouvelle demande
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="action-dark" ng-if="!user">
    <div class ="container">
      <div class="row">
        <div class="col-sm-6">
          <h2><i class="fa fa-user"></i> Vous êtes un usager ?</h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-outline-inverse btn-lg" ui-sref="{{sref}}">
            Remplir le questionnaire
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="action">
    <div class ="container">
      <div class="row">
        <div class="col-sm-6">
          <h2><i class="fa fa-user-md"></i> Vous êtes un médecin ?</h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-outline btn-lg" ui-sref="medecin">
            Ajouter un certificat médical à une demande
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="action-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2><i class="fa fa-group"></i> Vous êtes un partenaire ?</h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-outline btn-lg" ui-sref="partenaire">
            Fournir des pièces complémentaires pour compléter une demande
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="features">
    <div class ="container">
      <h2>Un suivi en ligne de votre dossier</h2>
      <div class="row">
        <div class="col-lg-4">
          <h3><i class="fa fa-home fa-3x"></i></h3>
          <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
            Elle peut répondre aux besoins liés à votre handicap.</p>
        </div>
        <div class="col-lg-4">
          <h3><i class="fa fa-comments-o fa-3x"></i></h3>
          <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
        </div>
        <div class="col-lg-4">
          <h3><i class="fa fa-users fa-3x"></i></h3>
          <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="false">
    <div class="liste-prestations">
      <div class ="container">
        <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
        <div class="row">
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Allocation d'éducation de l'enfant handicapé (<abbr title="Allocation d'éducation de l'enfant handicapé">AEEH</abbr>)
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Allocation aux adultes handicapés (<abbr title="Allocation aux adultes handicapés">AAH</abbr>) et son complément
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
            <i class="fa fa-circle"></i>
             Carte d'invalidité/ de priorité/ de stationnement
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Orientation vers un établissement ou service médico-social (<abbr title="Etablissement ou service médico-social">ESMS</abbr>)
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Prestation de compensation du handicap (<abbr title="Prestation de compensation du handicap">PCH</abbr>)
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Renouvellement d'allocation compensatrice (<abbr title="Allocation compensatrice pour tierce personne">ACTP</abbr> ou <abbr title="Allocation compensatrice pour frais professionnels">ACFP</abbr>)</div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Projet personnalisé de scolarisation – parcours et aides à la scolarisation
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Orientation professionnelle et/ou formation professionnelle
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Reconnaissance de la qualité de travailleur handicapé (<abbr title="Reconnaissance de la qualité de travailleur handicapé">RQTH</abbr>)
            </div>
          </div>
          <div class="col-lg-6 col-md-4 elem">
            <div class="elem-body">
              <i class="fa fa-circle"></i>
               Affiliation gratuite à l'assurance vieillesse des parents au foyer (<abbr title="Affiliation gratuite à l'assurance vieillesse des parents au foyer">AVPF</abbr>)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p>
        <a ui-sref="stats" title="Statistiques">Statistiques</a>
         |
        <a ui-sref="a_propos" title="A propos">À propos</a>
         |
        <a href="mailto:impact@sgmap.fr" title="Envoyer un mail de contact">Nous contacter</a>
      </p>
    </div>
  </footer>
</ui-view>
