.banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  background-size: cover;
  min-height: 250px;

  h1 {
    margin-top: 0.67em;
  }

  &.bg {
    background-image: url('../assets/images/grass.jpg');
  }

  &.bg59 {
    background-image: url('../assets/images/saint_amand.jpg');
  }

  &.bg14 {
    background-image: url('../assets/images/arromanches.jpg');
  }

  &.bg93 {
    background-image: url('../assets/images/93_bisbis.jpg');
    width: 100%;
  }
}

.action {
  h2 {
    color: #555;
    margin: 8px 0;
    font-weight: 200;
  }

  background-color: #fff;
  padding: 40px 0;
  font-size: 16px;
  line-height: 1.5;

  .list-actions {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  a {
    padding: 5px 0 0 25px;
    font-size: 1.3em;
    color: $lighter-blue;

    &:focus, &:hover {
      text-decoration: none;

      &:before {
        color: $lighter-blue;
      }
    }

    &:before {
      color: lighten($lighter-blue, 25%);
      font-family: 'FontAwesome';
      content: '\f138';
    }
  }
}

.action-dark {
  @extend .action;
  background-color: lighten($light-blue, 70%);
}

.features {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 70px;


  .p {
    color: #6b6b6b;
  }
  .fa {
    color: #8b8b8b;
  }
  h2 {
    font-weight: 700;
  }
}

.liste-prestations {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  border-top: 3px solid $dark-blue;
  background-color: $lighter-blue;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
    color: #eee;
  }


  .row {
    margin-bottom: 20px;
  }


  .panel-footer {
    font-size: 6px;
  }

  i {
    color: $lighter-blue;
    margin-right: 3px;
  }

  .elem {
    text-align: left;
    padding: 5px 30px;
    margin: 2px 0;

    .elem-body {
      padding: 10px;
      background-color: $light-blue;
      color: #eee;

      border-radius: 8px;
      text-shadow: 0 1px 0 rgba(0,0,0,.1)
    }
  }
}

.btn-outline {
  font-weight: 300;
  color: $light-blue;
  background-color: #fff;
  border: 1px solid lighten($light-blue, 20%);

  &:hover {
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.3);
  }
}

.btn-outline-inverse {
  @extend .btn-outline;
  color: #fff;
  background-color: lighten($light-blue, 5%);

  &:hover {
    color: #fff;
    background-color: $light-blue;
    -webkit-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 27px -7px rgba(0,0,0,0.5);
  }
}

.footer {
  text-align: center;
  padding: 20px 0;
  a {
    color: #eee;
  }
  background-color: $light-blue;
}

