<div id="preevaluation" class="panel-body">

  <small class="text-muted-primary">{{files.length}} documents demandés</small>

  <div class="list-group">
    <div class="list-group-item" ng-if="files.length === 0">
      <div class="backoffice-pj">
        <em>Aucun document sélectionné, utilisez l'outil ci-dessous pour ajouter des pièces justificatives à la demande.</em>
      </div>
    </div>
    <div class="list-group-item" ng-repeat="(idx, file) in files">
      <div class="backoffice-pj" ng-if="requestStep.state === 'valide'">
        {{file.name | documentFilter}}
      </div>
      <div class="backoffice-pj selectable" ng-if="requestStep.state === 'en_cours'" ng-click="removeFile(idx)">
        <i class="fa fa-muted fa-minus"></i> {{file.name | documentFilter}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <a class="btn btn-success btn-block" ng-if="files.length !== 0 && requestStep.state === 'en_cours'" ng-click="saveStep()">
        <i class="fa fa-check"></i> Enregistrer</a>
      </a>
    </div>
  </div>


<div ng-if="requestStep.state === 'en_cours'">
  <hr>
  <document-search form="form" callback="addFile"></document-search>
</div>
