<div id="agent" class="agent" ng-if="!show">
  <form id="agentFormId" aria-labelledby="agent" name="agentForm" ng-submit="adminAgentCtrl.submit(agentForm)" novalidate>

    <fieldset >
      <legend>Nouvel Agent</legend>

      <div class="form-group required" ng-class="{ 'has-error': agentForm.name.$invalid && agentForm.$submitted }">
        <label for="name" class="control-label">Nom complet</label>
        <input id="name" type="text" name="name" class="form-control" ng-model="agent.name" required ng-change="resetMongooseError(form, 'name')" mongoose-error/>
        <div ng-messages="agentForm.name.$error" ng-if="agentForm.$submitted">
        <p class="help-block" ng-message='required'>Veuillez entrer le nom complet de l'agent.</p>
        <p class="help-block" ng-message="mongoose">{{ errors.name }}</p>
        </div>
      </div>
      <div class="form-group required" ng-class="{ 'has-error': agentForm.email.$invalid && agentForm.$submitted }">
        <label for="email" class="control-label">Adresse email</label>
        <input id="email" type="email" name="email" class="form-control" ng-model="agent.email" required ng-change="resetMongooseError(form, 'email')" mongoose-error/>
        <div ng-messages="agentForm.email.$error" ng-if="agentForm.$submitted">
        <p class="help-block" ng-message='required'>Veuillez entrer une adresse e-mail.</p>
        <p class="help-block" ng-message='email'> Cet email n'est pas valide.</p>
        <p class="help-block" ng-message="mongoose">{{ errors.email }}</p>
        </div>
      </div>

      <div class="form-group required" ng-class="{'has-error': agentForm.$submitted && agentForm.mdph.$error.required}">
        <label for="mdph" class="control-label">MDPH</label>
        <select name="mdph" class="form-control" ng-options="mdph.zipcode for mdph in adminAgentCtrl.mdphs" ng-model="agent.mdph" required></select>
        <div ng-messages="documentForm.mdph.$error" ng-if="agentForm.$submitted">
          <p class="help-block" ng-message='required'>La MDPH est obligatoire.</p>
        </div>
      </div>

    </fieldset>

    <br/>
    <div class="form-actions">
      <button id="submitId" type="submit" name="save" alt="Enregistrer" class="btn btn-success">Enregistrer</button>
    </div>
  </form>
</div>

<div id="agent" class="agent" ng-if="show">
    <fieldset >
      <legend>Agent {{agent.name}} créé</legend>

      <div class="form-group">
        <label for="email" class="control-label">Adresse email</label>
        <input id="email" type="text" name="email" class="form-control" ng-model="agent.email" disabled/>
      </div>

      <div class="form-group">
        <label for="password" class="control-label">Mot de passe</label>
        <input id="password" type="text" name="password" class="form-control" ng-model="agent.password" disabled/>
      </div>

    </fieldset>

    <br/>
    <div class="form-actions">
      <button id="submitId" type="submit" name="new" alt="Nouvel utilisateur" class="btn btn-success" ng-click="adminAgentCtrl.new()">Nouveau</button>
    </div>
  </form>
</div>
