<header class="banner bg" mdph-photo="{{departementctrl.currentMdph.zipcode}}">
  <div class="hero-unit" ng-if="departementctrl.isOpened()">
    <h1 ng-if="departementctrl.currentMdph">Votre MDPH {{departementctrl.currentMdph.name}}</h1>

    <p>Gérez vos demandes en ligne</p>

    <div ng-if="!departementctrl.isLoggedIn()">
      <a class="hero-button" ui-sref="signup">
        S'inscrire
      </a>
    </div>

    <a class="btn btn-link" ng-if="!departementctrl.isLoggedIn()" ui-sref="login">
      J'ai déjà un compte
    </a>
  </div>

  <div class="hero-unit" ng-if="departementctrl.isClosed()">
    <h1 ng-if="departementctrl.currentMdph">MDPH {{departementctrl.currentMdph.name}}</h1>

    <p>Votre MDPH n'accepte pas les demandes en ligne</p>

    <a ng-if="!departementctrl.currentMdph.outsideLink" class="btn btn-lg btn-link" href="https://www.service-public.fr/particuliers/vosdroits/N12230">
      Continuer sur service-public.fr
    </a>

    <a ng-if="departementctrl.currentMdph.outsideLink" class="btn btn-lg btn-link" ng-href="{{ departementctrl.currentMdph.outsideLink.href }}">
      Continuer sur {{ departementctrl.currentMdph.outsideLink.label }}
    </a>
  </div>
</header>

<section class="section-blue" ng-if="departementctrl.isLoggedIn() && departementctrl.isOpened()">
  <div class="row">
    <h2>Vos profils</h2>
    <div class="profile-card-content">
      <mes-profils user="departementctrl.getCurrentUser()" />
    </div>
  </div>
</section>

<section class="section-main section-flow" ng-if="departementctrl.isClosed()">
  <form id="form-subscribe" class="form" name="form" ng-submit="departementctrl.submit()">
    <label for="email" class="title">Être prévenu·e de l'ouverture du service</label>
    <div class="input-container">
      <input required type="email" id="email" ng-model="departementctrl.subscribeEmail" placeholder="votre@email.fr">
      <input id="subscribe" type="submit" value="Envoyer" ng-if="!departementctrl.loading">
      <span class="loading" ng-if="departementctrl.loading"><i class="fa fa-spinner fa-spin"></i></span>
    </div>
    <div class="thankyou" ng-if="!departementctrl.thankyou">&nbsp;</div>
    <div class="thankyou" ng-if="departementctrl.thankyou">Merci !</div>
  </form>
</section>

<section-flow />

<section class="section-blue section-blue-row" ng-if="departementctrl.isOpened()">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2><i class="fa fa-user-md"></i> Vous êtes médecin</h2>
        <hr>
        <p>Facilitez la vie des demandeurs en attachant simplement un certificat médical.</p>
        <div class="list-actions">
          <a ui-sref="medecin">
            Ajouter un certificat
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h2><i class="fa fa-group"></i> Vous êtes partenaire</h2>
        <hr>
        <p>N'envoyez plus vos pièces justificatives par courrier, déposez-les simplement dans le dossier de l'usager.</p>
        <div class="list-actions">
          <a ui-sref="partenaire">
            Fournir des pièces complémentaires
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-container">
  <mdph-map mdph="departementctrl.currentMdph"/>
</section>

<section class="section-main section-text" id="en-savoir-plus" ng-if="departementctrl.isOpened()">
  <h2>Un suivi en ligne de votre dossier</h2>
  <div>
    <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
      Elle peut répondre aux besoins liés à votre handicap.</p>
    <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
    <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
  </div>
</section>

<section class="section-blue section-padding" ng-if="!departementctrl.isLoggedIn() && departementctrl.isOpened()">
  <a class="hero-button centered" ui-sref="signup">
    S'inscrire
  </a>
</section>

<section class="section-main" ng-if="departementctrl.isOpened()">
  <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
  <liste-prestations />
</section>
