<ui-view>
  <header class="banner bg" ng-class="'bg-' + currentMdph.zipcode">
    <div class="hero-unit">
      <h1 ng-if="currentMdph">MDPH - {{currentMdph.name}}</h1>
      <p>Gérez vos demandes en ligne</p>

      <a class="hero-button" ui-sref="signup">
        S'inscrire
      </a>
      <a class="hero-button inverted" ng-if="isAdmin()" ui-sref="dashboard.workflow({zipcode: currentMdph.zipcode})" title="Tableau de bord agent">
        Tableau de bord
      </a>
    </div>
  </header>

  <div class="section-main section-flow">
    <div class="flow">
      <div>
        <img src="/assets/images/MDPH_Step1.png" alt="Saisie en ligne">
        <p><span>1</span>&nbsp;Je complète mon profil</p>
      </div>
      <div>
        <img src="/assets/images/MDPH_Step2.png" alt="Saisie en ligne">
        <p><span>2</span>&nbsp;Je transmets ma demande</p>
      </div>
      <div>
        <img src="/assets/images/MDPH_Step3.png" alt="Saisie en ligne">
        <p><span>3</span>&nbsp;Je consulte le suivi de mon dossier</p>
      </div>
    </div>

    <div class="more">
      <a ui-sref="main" class="btn btn-link">En savoir plus</a>
    </div>
  </div>

  <div class="map-container" ng-init="generateMap()">
    <div id="map"></div>
    <div class="card-contact">
      <div class="card-img">
        <img ng-src="assets/images/{{currentMdph.photo}}">
      </div>
      <table>
        <tbody>
          <tr>
            <td class="cell-icon"><i class="fa fa-home"></i></td>
            <td><span ng-bind="currentMdph.address"></span></td>
          </tr>
          <tr>
            <td class="cell-icon"><i class="fa fa-phone"></i></td>
            <td><span ng-bind="currentMdph.phone"></span></td>
          </tr>
          <tr ng-if="currentMdph.email">
            <td class="cell-icon"><i class="fa fa-envelope"></i></td>
            <td><a href="mailto:{{currentMdph.email}}" title="Envoyer un mail de contact">{{currentMdph.email}}</a></td>
          </tr>
          <tr>
            <td class="cell-icon"><i class="fa fa-clock-o"></i></td>
            <td><span ng-bind="currentMdph.schedule"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h2><i class="fa fa-user-md"></i> Vous êtes médecin</h2>
            <hr>
            <p>Facilitez la vie des demandeurs en attachant simplement un certificat médical.</p>
            <div class="list-actions">
              <a ui-sref="medecin">
                Ajouter un certificat
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <h2><i class="fa fa-group"></i> Vous êtes partenaire</h2>
            <hr>
            <p>N'envoyez plus vos pièces justificatives par courrier, déposez-les simplement dans le dossier de l'usager.</p>
            <div class="list-actions">
              <a ui-sref="partenaire">
                Fournir des pièces complémentaires
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>
        <a ui-sref="stats" title="Statistiques">Statistiques</a>
         |
        <a ui-sref="a_propos" title="A propos">À propos</a>
         |
        <a href="mailto:impact@sgmap.fr" title="Envoyer un mail de contact">Nous contacter</a>
      </p>
    </div>
  </footer>
</ui-view>
