.section-blue {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: #444;
  background-color: $lighter-blue;

  .row {
    padding: 60px 0;
    max-width: 1170px;
    margin: auto;
  }

  .p {
    color: #6b6b6b;
  }

  .fa {
    color: #8b8b8b;
  }

  h2 {
    font-weight: 700;
  }
}

.section-padding {
  padding: 50px 0;
}

.bg {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;

  &.bg-59 {
    background-image: url('../assets/images/saint_amand.jpg');
  }

  &.bg-14 {
    background-image: url('../assets/images/arromanches.jpg');
  }

  &.bg-93 {
    background-image: url('../assets/images/93_bisbis.jpg');
  }

  &.bg-06 {
    background-image: url('../assets/images/bg06.jpg');
  }

  &.bg-54 {
    background-image: url('../assets/images/54_place_stanislav.jpg');
  }

  &.bg-17 {
    background-image: url('../assets/images/17_vieux_port.jpg');
  }

  &.bg-test {
    background-image: url('../assets/images/arromanches.jpg');
  }
}
