<header class="banner bg" ng-class="'bg-' + departementctrl.currentMdph.zipcode">
  <div class="hero-unit" ng-if="departementctrl.isOpened()">
    <h1 ng-if="departementctrl.currentMdph">Votre MDPH {{departementctrl.currentMdph.name}}</h1>

    <p>Gérez vos demandes en ligne</p>

    <div ng-if="!departementctrl.isLoggedIn()">
      <a class="hero-button" ui-sref="signup">
        S'inscrire
      </a>
    </div>

    <a class="btn btn-link" ng-if="!departementctrl.isLoggedIn()" ui-sref="login">
      J'ai déjà un compte
    </a>
  </div>

  <div class="hero-unit" ng-if="departementctrl.isClosed()">
    <h1 ng-if="departementctrl.currentMdph">MDPH {{departementctrl.currentMdph.name}}</h1>

    <p>Votre MDPH n'accepte pas les demandes en ligne</p>

    <a ng-if="!departementctrl.currentMdph.outsideLink" class="btn btn-lg btn-link" href="https://www.service-public.fr/particuliers/vosdroits/N12230">
      Continuer sur service-public.fr
    </a>

    <a ng-if="departementctrl.currentMdph.outsideLink" class="btn btn-lg btn-link" ng-href="{{ departementctrl.currentMdph.outsideLink.href }}">
      Continuer sur {{ departementctrl.currentMdph.outsideLink.label }}
    </a>
  </div>
</header>

<section class="section-blue" ng-if="departementctrl.isLoggedIn()">
  <div class="row">
    <h2>Vos profils</h2>
    <div class="profile-card-content">
      <mes-profils user="departementctrl.getCurrentUser()" />
    </div>
  </div>
</section>

<section class="section-main section-flow" ng-if="departementctrl.isClosed()">
  <form id="form-subscribe" class="form" name="form" ng-submit="departementctrl.submit()">
    <label for="email" class="title">Être prévenu·e de l'ouverture du service</label>
    <div class="input-container">
      <input required type="email" id="email" ng-model="departementctrl.subscribeEmail" placeholder="votre@email.fr">
      <input id="subscribe" type="submit" value="Envoyer" ng-if="!departementctrl.loading">
      <span class="loading" ng-if="departementctrl.loading"><i class="fa fa-spinner fa-spin"></i></span>
    </div>
    <div class="thankyou" ng-if="!departementctrl.thankyou">&nbsp;</div>
    <div class="thankyou" ng-if="departementctrl.thankyou">Merci !</div>
  </form>
</section>

<section class="section-main section-flow" ng-if="departementctrl.isOpened()">
  <div class="flow">
    <div>
      <img src="/assets/images/MDPH_Step1.png" alt="Je complète mon profil">
      <p><span>1</span>&nbsp;Je complète mon profil</p>
    </div>
    <div>
      <img src="/assets/images/MDPH_Step2.png" alt="Je transmets ma demande">
      <p><span>2</span>&nbsp;Je transmets ma demande</p>
    </div>
    <div>
      <img src="/assets/images/MDPH_Step3.png" alt="Je consulte le suivi de mon dossier">
      <p><span>3</span>&nbsp;Je consulte le suivi de mon dossier</p>
    </div>
  </div>
</section>

<section class="section-blue section-blue-row">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <h2><i class="fa fa-user-md"></i> Vous êtes médecin</h2>
        <hr>
        <p>Facilitez la vie des demandeurs en attachant simplement un certificat médical.</p>
        <div class="list-actions">
          <a ui-sref="medecin">
            Ajouter un certificat
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <h2><i class="fa fa-group"></i> Vous êtes partenaire</h2>
        <hr>
        <p>N'envoyez plus vos pièces justificatives par courrier, déposez-les simplement dans le dossier de l'usager.</p>
        <div class="list-actions">
          <a ui-sref="partenaire">
            Fournir des pièces complémentaires
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-container">
  <mdph-map mdph="departementctrl.currentMdph"/>
</section>

<section class="section-main section-text" id="en-savoir-plus" ng-if="departementctrl.isOpened()">
  <h2>Un suivi en ligne de votre dossier</h2>
  <div>
    <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
      Elle peut répondre aux besoins liés à votre handicap.</p>
    <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
    <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
  </div>
</section>

<section class="section-blue section-padding" ng-if="!departementctrl.isLoggedIn() && departementctrl.isOpened()">
  <a class="hero-button centered" ui-sref="signup">
    S'inscrire
  </a>
</section>

<section class="section-main">
  <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
  <div class="liste-prestations">
    <div class="row">
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Allocation d'éducation de l'enfant handicapé (<abbr title="Allocation d'éducation de l'enfant handicapé">AEEH</abbr>)
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Allocation aux adultes handicapés (<abbr title="Allocation aux adultes handicapés">AAH</abbr>) et son complément
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
        <i class="fa fa-circle"></i>
         Carte d'invalidité/ de priorité/ de stationnement
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Orientation vers un établissement ou service médico-social (<abbr title="Etablissement ou service médico-social">ESMS</abbr>)
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Prestation de compensation du handicap (<abbr title="Prestation de compensation du handicap">PCH</abbr>)
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Renouvellement d'allocation compensatrice (<abbr title="Allocation compensatrice pour tierce personne">ACTP</abbr> ou <abbr title="Allocation compensatrice pour frais professionnels">ACFP</abbr>)</div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Projet personnalisé de scolarisation – parcours et aides à la scolarisation
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Orientation professionnelle et/ou formation professionnelle
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Reconnaissance de la qualité de travailleur handicapé (<abbr title="Reconnaissance de la qualité de travailleur handicapé">RQTH</abbr>)
        </div>
      </div>
      <div class="col-lg-6 col-md-4 elem">
        <div class="elem-body">
          <i class="fa fa-circle"></i>
           Affiliation gratuite à l'assurance vieillesse des parents au foyer (<abbr title="Affiliation gratuite à l'assurance vieillesse des parents au foyer">AVPF</abbr>)
        </div>
      </div>
    </div>
  </div>
</section>
