<p>
  <strong>{{prenom}} {{nom}} {{#if nom_usage}}Nom d'usage: {{nom_usage}}{{/if}}</strong><small>(de sexe {{sexe}})</small> né(e) le <strong>{{dateNaissance}}</strong> à {{lieu_naissance}} <small>({{lieu_naissance_cp}})</small>.
</p>

<p>{{pronoun sexe true}} réside actuellement au <strong>{{adresse}}, {{code_postal}} {{commune}}, {{pays}}</strong>.</p>

<p>{{prenom}} préfère être contacté(e) par <strong>{{mode_contact}}</strong></p>
<p>Son adresse email est <strong>{{email}}</strong></p>

{{#tel_1}}
<p>Ses numéros de téléphone sont: <strong>{{tel_1}}</strong>{{#tel_2}} et <strong>{{tel_2}}{{/tel_2}}</strong></p>
{{/tel_1}}

{{#nom_usage}}
  <div>Nom d'usage: {{nom_usage}}</div>
{{/nom_usage}}

<div>Prénom: {{prenom}}</div>
<div>Sexe: {{sexe}}</div>
<div>Nationalité: {{nationalite}}</div>
<div>Date de naissance: {{dateNaissance}}</div>
<div>Lieu de naissance: {{lieu_naissance}}</div>
<div>Code postal du lieu de naissance: {{lieu_naissance_cp}}</div>
<div>Adresse: {{adresse}}</div>
<div>Code postal: {{code_postal}}</div>
<div>Commune: {{commune}}</div>
<div>Pays: {{pays}}</div>
<div>Email: {{email}}</div>

{{#tel_1}}
<div>Telephone 1: {{tel_1}}</div>
{{/tel_1}}

{{#tel_2}}
<div>Telephone 2: {{tel_2}}</div>
{{/tel_2}}

{{#mode_contact}}
<div>Mode de contact: {{mode_contact}}</div>
{{/mode_contact}}

{{#domicile_organisme}}
<div>Organisme de domicile: {{domicile_organisme}}</div>
{{/domicile_organisme}}

{{#prestations_familiales}}
<div>Organisme payeur de prestations familiales: {{prestations_familiales}}</div>
{{/prestations_familiales}}

{{#numero_allocataire}}
<div>N° Allocataire: {{numero_allocataire}}</div>
{{/numero_allocataire}}

{{#prestations_familiales_precisez}}
<div>Organisme d'assurance maladie: {{assurance}}, {{prestations_familiales_precisez}}</div>
{{/prestations_familiales_precisez}}

{{#numero_secu}}
<div>Numéro de Sécurité Sociale: {{numero_secu}}</div>
{{/numero_secu}}
