<div class="section section-identite">
  <div class="heading">
    <h2>Identité</h2>
  </div>
  <div class="subsection">
    <h3>Bénéficiaire</h3>
    <div class="question">
      {{#beneficiaire}}
        {{>identite}}
      {{/beneficiaire}}
    </div>
  </div>

  {{#if autorite}}
  <div class="subsection">
    {{#autorite}}
      <h3>Autorité parentale / Délégation d'autorité (tutelle, curatelle, organisme, autre...)</h3>
      <div class="question">
        {{>autorite}}
      </div>
    {{/autorite}}
  </div>
  {{else}}
  <div class="subsection">
    <h3>Autorité parentale</h3>
    <div class="question">
      <p>Aucune autorité déclarée</p>
    </div>
  </div>
  {{/if}}

  {{#if autre}}
  <div class="subsection">
    <h3>Personne accompagnant la demande</h3>
    {{#autre}}
      <div class="question">
        {{>identite}}
      </div>
    {{/autre}}
  </div>
  {{/if}}
</div>
