<div>Sexe: {{sexe}}</div>
<div>Nom: {{nom}}</div>
<div>Nom d'usage: {{nom_usage}}</div>
<div>Prénom: {{prenom}}</div>
<div>Nationalité: {{nationalite}}</div>
<div>Date de naissance: {{dateNaissance}}</div>
<div>Lieu de naissance: {{lieu_naissance}}</div>
<div>Code postal du lieu de naissance: {{lieu_naissance_cp}}</div>
<div>Adresse: {{adresse}}</div>
<div>Code postal: {{code_postal}}</div>
<div>Commune: {{commune}}</div>
<div>Pays: {{pays}}</div>
<div>Email: {{email}}</div>
<div>Telephone 1: {{tel_1}}</div>
<div>Telephone 2: {{tel_2}}</div>
<div>Mode de contact: {{mode_contact}}</div>
<div>Organisme de domicile: {{domicile_organisme}}</div>
<div>Organisme payeur de prestations familiales: {{prestations_familiales}}</div>
<div>N° Allocataire: {{numero_allocataire}}</div>
<div>Organisme d'assurance maladie: {{assurance}}, {{prestations_familiales_precisez}}</div>
<div>Numéro de Sécurité Sociale: {{numero_secu}}</div>
