<p>
  Nom complet : <strong>{{capitalize prenom}} {{capitalize nom 'upper'}}</strong>
</p>

{{#if nom_usage}}
<p>
    Nom d'usage: <strong>{{nom_usage}}</strong>
</p>
{{/if}}

{{#if type}}
<p>
  à aidé à la réalisation de cette démarche en tant que <strong>{{type}}</strong>
</p>
{{/if}}

{{#if dateNaissance}}
<p>
  Date de naissance : <strong>{{moment dateNaissance}}</strong> {{#if lieu_naissance}}à {{lieu_naissance}}{{/if}} {{#if lieu_naissance_cp}}<small>({{lieu_naissance_cp}})</small>{{/if}}
</p>
{{/if}}

<p>
  {{#if nomVoie}}
    Adresse actuelle :
    <address>
      {{numero_voie}} {{extension}} {{typeVoie.label}} {{nomVoie}}
      <br>
      {{#if etageEscalierAppartement}}
        {{etageEscalierAppartement}}
      {{/if}}
      {{#if immeubleBatimentResidence}}
        {{immeubleBatimentResidence}}
      {{/if}}
      {{#if lieuDit}}
        {{lieuDit}}
      {{/if}}
       <br>
      {{code_postal}} {{capitalize localite}}
    </address>
  {{/if}}

  {{#if adresse}}
    Adresse actuelle : <strong>{{capitalize adresse}}, {{code_postal}} {{capitalize commune}}, {{capitalize pays 'upper'}}</strong>.
  {{/if}}
</p>


{{#if mode_contact}}
<p>
  Mode de contact préféré : <strong>{{mode_contact}}</strong>
</p>
{{/if}}

<p>
  Email : <strong>{{email}}</strong>
</p>

{{#if tel_1}}
<p>
  Téléphone principal : <strong>{{tel_1}}</strong>
</p>
{{/if}}

{{#if tel_2}}
<p>
  Téléphone secondaire : <strong>{{tel_2}}</strong>
</p>
{{/if}}

<p>{{showRenouvellement}}</p>
{{#if numeroDossier}}
<p>
  Numéro de dossier dans votre MDPH : <strong>{{numeroDossier}}</strong>
</p>
{{/if}}

{{#if domicile_organisme}}
<p>
  Domicile auprès de l'organisme : <strong>{{domicile_organisme}}</strong>
</p>
{{/if}}

{{#if prestations_familiales}}
<p>
  Organisme payeur de prestations familiales : <strong>{{capitalize prestations_familiales 'upper'}}</strong>
</p>
{{/if}}

{{#if numero_allocataire}}
<p>
  Numéro d'allocataire : <strong>{{numero_allocataire}}</strong>
</p>
{{/if}}

{{#if assurance}}
<p>
  Organisme d'assurance maladie :
  <strong>
    {{#if assurance_precisez}}
      {{assurance_precisez}}
    {{else}}
      la {{assurance}}
    {{/if}}
  </strong>
</p>
{{/if}}

{{#if numero_secu}}
<p>
  Numéro de sécurité sociale : <strong>{{numero_secu}}</strong>
</p>
{{/if}}
