<div class="section">
  <h2>Identité</h2>
  <h3>Bénéficiaire</h3>
  <div class="question">
    {{#beneficiaire}}
      {{>identite}}
    {{/beneficiaire}}
  </div>

  <h3>Autorité parentale</h3>
  <div class="question">
    {{#autorite}}
      {{>autorite}}
      <div>Type: {{type}}</div>
    {{/autorite}}
    {{^autorite}}Non renseigné{{/autorite}}
  </div>

  <h3>Personne accompagnant la demande</h3>
  <div class="question">
    {{#aidantDemarche}}
      {{>aidantDemarche}}
    {{/aidantDemarche}}
    {{^aidantDemarche}}Non renseigné{{/aidantDemarche}}
  </div>
</div>
