<html>
  {{> head}}
  <body>
    <div class="pull-left">
      <img src="http://{{path}}/assets/images/cerfa.png" width="91,4" height="48,9"></img>
      {{#if mdph.logo}}
      <img src="http://{{path}}/api/mdphs/{{mdph.zipcode}}/logo/" width="88,9" height="48,9"></img>
      {{else}}
      <img src="http://{{path}}/assets/images/logo_defaut.jpg" width="88,9" height="48,9"></img>
      {{/if}}
    </div>
    <div class="pull-right">
      {{#if submittedAt}}
        <div>Demande passée le {{submittedAt}}</div>
      {{/if}}
    </div>

    <div class="clearfix"></div>

    <h1>Mes réponses au questionnaire MDPH</h1>

    <p>
      Je peux demander à rencontrer la CDAPH. La CDAPH, c’est la Commission des Droits et de l’Autonomie des Personnes Handicapées. Créée par la loi 2005-102 du 11 février 2005, elle prend les décisions d’attribution des droits aux personnes avec un handicap sur la base de l’évaluation et des propositions de la MDPH.
    </p>
    <p>
      Une évaluation approfondie va être réalisée par l’équipe de la MDPH, qui vous recontactera si nécessaire.
    </p>

    {{#identites}}
      {{> identites}}
    {{/identites}}

    {{#sections}}
      {{> section}}
    {{/sections}}

    {{#if request.data.prestations}}
      {{> prestations}}
    {{/if}}
  </body>
</html>
