<div class="section section-prestations">
  <h2>Vos demandes</h2>
  <div class="subsection">

    {{#if request.detailPrestations}}
      <div class="question">
        <h3>Nouvelles demandes</h3>
        <ul>
          {{#request.detailPrestations}}
            <li>{{ title }}</li>
          {{/request.detailPrestations}}
        </ul>
      </div>
    {{/if}}

    {{#if request.detailRenouvellements}}
      <div class="question">
        <h3>Renouvellements</h3>
        <ul>
          {{#request.detailRenouvellements}}
            <li>{{ title }}</li>
          {{/request.detailRenouvellements}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>
