<div class="question">
  <h3>{{title}}</h3>
  <ul>
    {{#answers}}
      <li>{{label}}</li>
      <ul>
        {{#detail}}
          <li>{{detail}}</li>
        {{/detail}}
      </ul>
      <ul>
        {{#details}}
          <li>{{.}}</li>
        {{/details}}

        {{#detailsObject}}
          <li>{{label}} : {{detail}}</li>
        {{/detailsObject}}

        {{#listeFrais}}
          {{>detailsFrais}}
        {{/listeFrais}}

        {{#listeDiplomes}}
          {{>detailsDiplomes}}
        {{/listeDiplomes}}

        {{#listeCv}}
          {{>detailsCV}}
        {{/listeCv}}

        {{#jours}}
          {{>detailsEDT}}
        {{/jours}}

        {{#etablissements}}
          {{>detailsEtablissement}}
        {{/etablissements}}

        {{#structures}}
          {{>detailsStructures}}
        {{/structures}}

      </ul>
    {{/answers}}
  </ul>
</div>
