<h3>{{title}}</h3>
<div class="question">
  <ul>
    {{#answers}}
      <li>{{{ntobr label}}}</li>
      <ul>
        {{#if detail}}
          <li>{{moment detail}}</li>
        {{/if}}
      </ul>
      <ul>
        {{#if details}}
          <li>{{details}}</li>
        {{/if}}

        {{#detailsObject}}
          <li>{{label}} : {{detail}}</li>
        {{/detailsObject}}

        {{#if listeFrais}}
          {{>detailsFrais}}
        {{/if}}

        {{#if listeDiplomes}}
          {{>detailsDiplomes}}
        {{/if}}

        {{#if listeCv}}
          {{>detailsCV}}
        {{/if}}

        {{#if jours}}
          {{>detailsEDT}}
        {{/if}}

        {{#etablissements}}
          {{>detailsEtablissement}}
        {{/etablissements}}

        {{#structures}}
          {{>detailsStructures}}
        {{/structures}}

      </ul>
    {{/answers}}
  </ul>
</div>
