<div class="question">
  <h3>{{titleDefault}}</h3>
  <ul>
    {{#answers}}
      {{#label}}
        <li>{{label}}</li>
      {{/label}}
      <ul>
        {{#detail}}
          <li>{{detail}}</li>
        {{/detail}}
      </ul>
      <ul>
        {{#details}}
          <li>{{.}}</li>
        {{/details}}
        {{#detailsFrais}}
          <li> Frais :
            <ul>
              <li>Nom : {{nom}}</li>
              <li>Fréquence : {{frequence}}</li>
              <li>Total : {{total}}</li>
              <li>Remboursé : {{rembourse}}</li>
              <li>Précisions : {{detail}}</li>
            </ul>
          </li>
        {{/detailsFrais}}
      </ul>
    {{/answers}}
  </ul>
</div>
