.geva-section {
  width: 100%;
  padding: 10px;

  a {
    opacity: 0.8;

    &:hover, &:focus {
      text-decoration: none;
      opacity: 1;
    }

    h3 {
      color: $bg-blue;
      opacity: 0.8;

      &:first-child {
        margin-top: 0px;
      }

      &:hover, &:focus {
        opacity: 1;
      }
    }
  }

  h4 {
    margin-left: 5px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .optionnal {
    &:first-child {
      margin-bottom: 15px;
    }
  }

  li {
    padding: 2px 20px;

    &:first-letter {
      text-transform: capitalize;
    }
    a{
      color: $medium-heavy-grey;
    }
  }

  li.answered {
    color: #337ab7;

    &:before{
        content: "\f046";
        font-family: 'FontAwesome';
        display: inline-block;
        width: 1.2em;
      }

    a{
      color: #337ab7;
    }
  }
}
