.geva {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
}

.geva-section {
  width: 100%;
  padding: 10px;
  display: flex;
}

.geva-section-content {
  display: flex;
  flex-grow: 1;
  border: 1px solid $lighter-blue;
  border-radius: 4px;

  .head {
    width: 30%;
    background-color: $bg-blue;
    padding: 20px 8px;
    text-align: center;

    span {
      color: $disabled-blue;
      font-size: 45px;
    }

    h1 {
      color: white;
      font-size: 1.3em;
      margin: 0;
    }

    a {
      &:hover, &:focus {
        text-decoration: none;
        span {
          color: white;
        }
      }
    }
  }

  .body {
    width: 70%;
    padding: 20px;

    ul {
      margin: 0;
    }

    .optionnal {
      margin-top: 15px;
      ul {
        background-color: whitesmoke;
      }
    }

    li:first-letter {
      text-transform: capitalize;
    }

    h2 {
      padding-bottom: 5px;
      text-align: right;
      font-size: 1.2em;
      margin: 0;
      border-bottom: 1px solid $bg-blue;
    }
  }
}
