<div ui-view>
  <div class="list-header">
    <h2 class="padding-title">{{ workflowListCtrl.banetteUser.name }} - Demandes {{workflowListCtrl.status | requestStatus}}</h2>

    <form class="pull-right">
      <div class="input-group search">
        <input type="text" class="form-control input-sm" ng-model="query" name="search" placeholder="Recherche">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-sm btn-primary">
            Ok
          </button>
        </div>
      </div>
    </form>

    <div class="tools">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary" class="check-request" ng-click="workflowListCtrl.selectAll()">
          <i class="fa" ng-class="{'fa-square': !workflowListCtrl.allSelected(), 'fa-check-square': workflowListCtrl.allSelected()}"></i>
        </button>

        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
          <li role="menuitem" ng-if="workflowListCtrl.showDownloadAndDeleteButtons">
            <a href="#" ng-click="workflowListCtrl.downloadRequests()"><i class="fa fa-download"></i> Télécharger les demandes</a>
          </li>
          <li role="menuitem" ng-if="workflowListCtrl.status !== 'irrecevable' && workflowListCtrl.status !== 'validee'">
            <a href="#" ng-click="workflowListCtrl.openIrrecevableModal()"><i class="fa fa-archive"></i> Marquer comme irrecevable</a>
          </li>
          <li role="menuitem" ng-if="workflowListCtrl.status === 'validee' || workflowListCtrl.status === 'irrecevable'">
              <a href="#" ng-click="workflowListCtrl.allSelectedRequestsDownloadOpenModal()">
                <i class="fa fa-trash"></i> Supprimer les demandes {{workflowListCtrl.status === 'validee' ? 'validées' : 'irrecevables'}} téléchargées
              </a>
          </li>
        </ul>

        <button type="button" class="btn btn-link btn-refresh" ng-class="{ 'refreshing': workflowlistctrl.isRefreshing }" ng-click="workflowlistctrl.refresh()">
          Rafraîchir
        </button>
      </div>
    </div>
  </div>

  <div class="list-main">
    <table>
      <tbody ng-repeat="group in workflowListCtrl.groups">
        <tr>
          <td class="lead" colspan="8">
            {{::group.title}}
          </td>
        </tr>
        <tr ng-hide="filteredRequests.length">
          <td colspan="8">
            Pas de demandes
          </td>
        </tr>
        <tr
          ng-repeat="request in filteredRequests = (workflowListCtrl.groupedByAge[group.id] | filter:query)">
          <td class="check-request" ng-click="request.isSelected = !request.isSelected">
            <i class="fa" ng-class="{'fa-square': !request.isSelected, 'fa-check-square': request.isSelected}"></i>
          </td>
          <td>
            <span class="user">
              <a ui-sref="dashboard.workflow.detail.validation_depot({shortId: request.shortId})">
                <span ng-if="request.data.identites.beneficiaire">
                  {{::request.data.identites.beneficiaire.nom | uppercase}}, {{::request.data.identites.beneficiaire.prenom | capitalize}}
                </span>
                <span ng-if="!request.data.identites.beneficiaire">
                  Demande incomplète, bénéficiaire non remplis
                </span>
              </a>
            </span>
          </td>
          <td>
            <span>
              {{::request.user.email}}
            </span>
          </td>
          <td>
            <span class="user">
              <a ui-sref="dashboard.workflow.detail.validation_depot({shortId: request.shortId})">
                {{::request.shortId}}
              </a>
            </span>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <ul>
                    <li ng-repeat="evaluator in request.evaluators">
                      <a ui-sref="dashboard.workflow.list({userId: evaluator._id, status: workflowListCtrl.status})">
                        {{::evaluator.name}}
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-plus-circle"></i><button class="btn btn-link" ng-click="workflowListCtrl.openTransferModal(request)">Assigner</button>
                </td>
              </tr>
            </table>
          </td>
          <td>{{::request.submittedAt | date}}</td>
          <td>
            <button ng-show="workflowListCtrl.showDownloadAndDeleteButtons" class="btn btn-link" ng-click="workflowCtrl.download(request)">
              <i class="fa fa-download"></i>&nbsp;Télécharger
            </button>
          </td>
          <td class="col-md-2">
            <button ng-show="workflowListCtrl.showDownloadAndDeleteButtons && request.isDownloaded" class="btn btn-link red-color" ng-click="workflowCtrl.openDeleteModal(request)">
              <i class="fa fa-trash"></i>&nbsp;Supprimer</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
