<div class="modal-header">
  <h1 class="modal-title">Secteur de transfert</h1>
</div>
<div class="modal-body">
  <div class="radio" ng-repeat="secteur in secteurs">
    <label>
      <input type="radio" name="secteur" ng-value="secteur" ng-model="$parent.secteurId">
      {{secteur.name}}
    </label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Annuler</button>
  <button class="btn btn-success" ng-click="transfer()">Transférer</button>
</div>
