<div class="section-main section-flow">
  <div class="flow">
    <ol>
      <li>
        <img src="/assets/images/MDPH_Step1.png" alt="Je remplis mon profil">
        <p><span>1</span>Je remplis mon profil</p>
      </li>
      <li>
        <img src="/assets/images/MDPH_Step2.png" alt="Je joins mes pièces justificatives">
        <p><span>2</span>Je joins mes pièces justificatives</p>
      </li>
      <li>
        <img src="/assets/images/MDPH_Step3.png" alt="Je transmets ma demande">
        <p><span>3</span>Je transmets ma demande</p>
      </li>
    </ol>
  </div>
</div>
