<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <div class="list-group-item searchbox">
          <input class="form-control" type="text" ng-model="query" placeholder="Recherche">
          </input>
        </div>
        <a class="list-group-item" ng-repeat="user in users | filter:query" ui-sref-active="active" ui-sref="dashboard.users.detail({id: user._id})">
          {{user.name}}
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="list-group">
        <div class="list-group-item" ng-repeat="request in requests" ng-class="{'sent': request.requestStatus=='Emise', 'admissible': request.requestStatus=='Recevable', 'complete': request.requestStatus=='Complète'}">
          <div class="row">
            <div class="col-sm-2">
              <i class="fa fa-1x fa-folder"></i>
              {{request.user.name}}
              <br/>
              <small class="text-muted"><i>{{request.updatedAt | date : format : timezone}}</i></small>
            </div>
            <div class="col-sm-offset-7 col-sm-3">
              <div class="btn btn-primary btn-block" ng-click="traiterDemande(request)">
                Traiter cette demande
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
