<div class="list-group">
  <div class="list-group-item" ng-if="files.length === 0">
    <div class="backoffice-pj">
      <em>Aucun document sélectionné, utilisez l'outil ci-dessous pour ajouter des pièces justificatives à la demande.</em>
    </div>
  </div>
  <div ng-repeat="(idx, file) in files" ng-if="files.length > 0" ng-mouseleave="showButtons = false" ng-mouseover="showButtons = true" class="list-group-item">
    <div class="row backoffice-pj">
      <div class="col-md-6" ng-if="file.state === 'demande' ">
        {{file.name | documentFilter}}
        <small>(En attente)</small>
      </div>
      <div class="col-md-8" ng-if="file.state !== 'demande' ">
        <a href="{{file.path}}" target="_blank">{{file.name | documentFilter}}</a> <small ng-if="file.partenaire">(Partenaire : {{file.partenaire}})</small>
      </div>
      <div ng-if="showButtons && file.state === 'telecharge'">
        <div class="col-md-2">
          <a class="btn btn-success btn-block" ng-click="file.state = 'valide'"><i class="fa fa-check"></i> Valider</a>
        </div>
        <div class="col-md-2">
          <a class="btn btn-danger btn-block" ng-click="file.state = 'erreur'"><i class="fa fa-times"></i> Refuser</a>
        </div>
      </div>
      <div ng-if="file.state !== 'demande' && file.state !== 'telecharge'">
        <div class="col-md-2 col-md-offset-2 backoffice-pj-result">
          <span class="success" ng-if="file.state === 'valide'"><i class="fa fa-check"></i> Validé</span>
          <span class="danger" ng-if="file.state !== 'valide'"><i class="fa fa-times"></i> Refusé</span>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div ng-if="showSave()">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-10">
        <a class="btn btn-success btn-block" ng-disabled="disableSave()" ng-click="save()">
          <i class="fa fa-check"></i> Enregistrer
        </a>
      </div>
    </div>
  </div>
</div>
