<div class="form-horizontal" role="form" ng-controller="CmCliniqueActuelleCtrl">
  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_actuelle_poids">Poids</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="number" name="clinique_actuelle_poids" min="0" integer ng-model="form.clinique_actuelle.poids" class="form-control">
        <span class="input-group-addon">kg</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div ng-messages="form.clinique_actuelle_poids.$error" class="control-label">
        <div ng-message="number">Vous n'avez pas entré un chiffre</div>
        <div ng-message="min">Le poids entré est invalide</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_actuelle_taille">Taille</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="number" name="clinique_actuelle_taille" min="0" max="250" integer ng-model="form.clinique_actuelle.taille" class="form-control">
        <span class="input-group-addon">cm</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_actuelle_lateralite">Latéralité dominante avant handicap</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="clinique_actuelle_lateralite" ng-model="form.clinique_actuelle.lateralite" value="gauche"> Gauche
      </label>
      <label class="radio-inline">
        <input type="radio" name="clinique_actuelle_lateralite" ng-model="form.clinique_actuelle.lateralite" value="droite"> Droite
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th rowspan="2">Description des signes cliniques invalidants</th>
      <th colspan="3">
        Fréquence
      </th>
    </tr>
    <tr>
      <th>Permanents</th>
      <th>Régulier<br><small>&gt15j par mois</small></th>
      <th>Ponctuel<br><small>&lt15j par mois</small></th>
    </tr>
    <tr ng-repeat="description in descriptions">
      <td><input type="text" class="form-control" ng-model="description.name"></td>
      <td class="text-center">
        <input type="checkbox" ng-model="description.frequence['permanent']"></input>
      </td>
      <td class="text-center">
        <input type="checkbox" ng-model="description.frequence['regulier']"></input>
      </td>
      <td class="text-center">
        <input type="checkbox" ng-model="description.frequence['ponctuel']"></input>
      </td>
    </tr>
  </table>

  <div class="form-group">
    <label for="clinique_actuelle_precisions" class="col-sm-4 control-label">Précisions</label>
    <div class="col-sm-8">
      <input name="clinique_actuelle_precisions" type="text" class="form-control" id="clinique_actuelle_precisions" ng-model="form.clinique_actuelle.precisions">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_actuelle_perspective">Perspective d'évolution globale</label>
    <div class="col-sm-8">
      <label class="radio-inline" ng-repeat="perspective in perspectives">
        <input type="radio" name="clinique_actuelle_perspective" ng-model="form.clinique_actuelle.perspective" value="{{perspective.id}}"> {{perspective.label}}
      </label>
      <br ng-if="perspective.br">
    </div>
  </div>
</div>