<div class="section-nav-steps" ng-hide="hideSubsections">
  <div class="container">
    <div class="nav-section" ng-repeat="section in subsections">
      <a ui-sref="{{section.sref}}"
        ng-class="{
          active: isSelected(section),
          showBefore: section.showBefore, showAfter: section.showAfter,
          first: !section.showBefore, last: !section.showAfter}"
        tooltip="{{section.tooltip}}">
        <span>{{getLabel(section)}}</span>
      </a>
    </div>
  </div>
</div>
