<div class="section-nav-steps" ng-hide="hideSubsections">
  <span class="nav-section" ng-repeat="section in sections">
    <a ng-if="section.isEnabled" ui-sref="{{section.sref}}" ui-sref-active="active"
      ng-class="{
        showBefore: section.showBefore, showAfter: section.showAfter,
        first: !section.showBefore, last: !section.showAfter}"
      tooltip="{{section.tooltip}}">
      <span ng-if="section.span">{{getLabel(section)}}</span>
    </a>
    <a ng-if="!section.isEnabled"
      ng-class="{showBefore: section.showBefore, showAfter: section.showAfter,
        first: !section.showBefore, last: !section.showAfter}"
      tooltip="{{section.tooltip}}" class="disabled">
      <span ng-if="section.span">{{getLabel(section)}}</span>
    </a>
  </span>
</div>
