<h3 class="required">Prestations demandées</h3>

<table class="table table-prestations" ng-if="request.status === 'en_cours'">
  <tbody ng-repeat="(key, type) in types">
    <tr class="table-header">
      <th>{{key | prestationType}}</th>
      <td id="yes-{{key}}" class="center-text">Oui</td>
      <td id="no-{{key}}" class="center-text">Non</td>
      <td id="renew-{{key}}" class="center-text">Renouvellement</td>
    </tr>
    <tr ng-repeat="prestation in type">
      <td>
        <div id="{{prestation.id}}">
          {{prestation.title}}
        </div>
        <div>
          <button class="btn btn-link" ng-click="prestation.showDetail = !prestation.showDetail" type="button">{{prestation.showDetail ? 'Moins' : 'Plus'}} de détails</button>
        </div>
        <div class="text-justify" ng-if="prestation.showDetail">
          {{prestation.description}}
          <a href="{{prestation.link}}">{{prestation.link}}</a>
        </div>
      </td>

      <td class="center-text" ng-click="prestation.choice = 'true'">
        <input type="radio" name="{{prestation.id}}" ng-model="prestation.choice" value="true" aria-labelledby="{{prestation.id}} yes-{{key}}">
      </td>
      <td class="center-text" ng-click="prestation.choice = 'false'">
        <input type="radio" name="{{prestation.id}}" ng-model="prestation.choice" value="false" aria-labelledby="{{prestation.id}} no-{{key}}">
      </td>
      <td class="center-text" ng-click="prestation.choice = 'renouvellement'">
        <input type="radio" name="{{prestation.id}}" ng-model="prestation.choice" value="renouvellement" aria-labelledby="{{prestation.id}} renew-{{key}}">
      </td>
    </tr>
  </tbody>
</table>

<div ng-if="request.status !== 'en_cours'">
  <h4 ng-show="request.detailPrestations">Nouvelles prestations</h4>
  <div ng-repeat="prestation in request.detailPrestations">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>

  <h4 ng-show="request.detailRenouvellements">Renouvellements de prestations</h4>
  <div ng-repeat="prestation in request.detailRenouvellements">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>
</div>
