ul.list-prestations {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    > div.input {
      padding: 20px;
    }

    > div.detail > .text-justify {
      font-size: 13px;

      label {
        font-weight: normal;
      }
    }

    a {
      font-size: 13px;
    }
  }
}

h4.weak-h4 {
  font-weight: 200;
}
