<h3 class="required">Prestations demandées</h3>

<div ng-repeat="(key, type) in types" ng-if="request.status === 'en_cours'">
  <h4>{{key | prestationType}}</h4>
  <ul class="demande-prestations">
    <li ng-repeat="prestation in type">
      <div>
        <div class="inline">
          <label for="{{prestation.id}}">
            <input type="checkbox" id="{{prestation.id}}" ng-model="prestation.isSelected">&nbsp;{{prestation.title}}
          </label>
        </div>

        <div class="inline well well-renew" ng-if="prestation.isSelected">
          <fieldset>
            <span class="control-label"> S'agit-il d'un renouvellement ?</span>
            <input type="radio" name="renouvPrest{{prestation.id}}" id="renouvYes{{prestation.id}}" ng-model="prestation.estRenouvellement" ng-value="true">
            <label class="radio-inline" for="renouvYes{{prestation.id}}">Oui</label>
            <input type="radio" name="renouvPrest{{prestation.id}}" id="renouvNo{{prestation.id}}" ng-model="prestation.estRenouvellement" ng-value="false">
            <label class="radio-inline" for="renouvNo{{prestation.id}}">Non</label>
          </fieldset>
        </div>

        <div ng-class="{'inline' : !prestation.isSelected}">
          <button class="btn btn-link" ng-click="prestation.showDetail = !prestation.showDetail" type="button">{{prestation.showDetail ? 'Moins' : 'Plus'}} de détails</button>
        </div>
      </div>

      <div class="well" ng-if="prestation.showDetail">
        {{prestation.description}}
        <a href="{{prestation.link}}">{{prestation.link}}</a>
      </div>
    </li>
  </ul>
</div>

<div ng-repeat="prestation in request.detailPrestations" ng-if="request.status !== 'en_cours'">
  <dl class="demande-prestations">
    <dt>{{prestation.title}}</dt>
    <dd>{{prestation.description}}</dd>
  </dl>
</div>
