<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container" data-spy="scroll" data-target=".navbar-cm">
  <div class="row">
    <div class="col-md-2">
      <div class="nav navbar-cm list-group">
        <a class="list-group-item" href="#{{section.id}}" ng-click="scrollTo(section.id)" ng-repeat="(idx, section) in sections">{{idx + 1}}. {{section.name}}</a>
      </div>
    </div>
    <div class="col-md-10">
      <form name="form">
        <div id="{{section.id}}" ng-repeat="(idx, section) in sections">
          <h1 class="page-header">{{idx + 1}}. {{section.name}}</h1>
          <div ng-include="section.template"></div>
        </div>
      </form>
    </div>
  </div>
</div>
