<h2>Documents complémentaires</h2>
<div class="row">
  <div ng-repeat="documentType in documentsComplementaires">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{documentType.label || 'Autre'}}</h3></div>
        <div class="panel-body">
          <p>{{documentType.desc}}</p>
          <p ng-if="documentType.emptyDoc">
            <a target="_blank" download ng-href="/assets/documents/{{documentType.emptyDoc}}">
              Télécharger un modèle de ce document
            </a>
          </p>

          <ul ng-if="!filesVM[documentType.id]"><li>Pas de document</li></ul>
          <ul ng-if="filesVM[documentType.id]" class="list-group">
            <li ng-repeat="file in filesVM[documentType.id]" class="list-group-item">
              <display-file file="file" request="request"></display-file>
            </li>
          </ul>
        </div>
        <div class="panel-footer" ng-if="!file.asked">
          <div class="text-right">
            <div ngf-select ngf-change="upload($files[0], documentType.id)" accept=".jpg,.png,.pdf" data-multiple="false" class="btn btn-default">
              <i class="fa fa-upload"></i> Attacher un fichier</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix" ng-if="$index % 3 === 2"></div>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary btn-block btn-lg" ng-click="chooseType()">
      <i class="fa fa-plus-circle"></i> Ajouter un document
    </button>
  </div>
</div>
