<div class="plan-classement">
  <div class="wrapper">
    <div class="trees">
      <div class="tree-wrapper">
        <div class="tree-title">
          <h3>Catégories</h3>
          <a class="btn btn-success" data-nodrag ng-click="newCategory(this)" style="margin-right: 8px;">
            Nouvelle catégorie <i class="fa fa-plus"></i>
          </a>
        </div>

        <div ui-tree="treeOptions" id="tree-categories">
          <ol ui-tree-nodes="" ng-model="categories">
            <li class="ui-tree-document-category angular-ui-tree-handle angular-ui-tree-node-no-drag">
              <div class="ui-tree-category-content">
                <div class="detail" data-nodrag>
                  <h3 class="category-type">Catégorie obligatoire</h3>
                  <p>{{pdfCategory.label}}</p>
                </div>
                <div class="files" ng-if="!collapsed">
                  <a
                    ng-if="pdfCategory.barcode"
                    style="margin-right: 16px;"
                    target="_self"
                    download="{{pdfCategory.barcode.filename}}"
                    href="api/mdphs/{{currentMdph.zipcode}}/categories/{{pdfCategory._id}}/file?access_token={{token}}">
                    {{pdfCategory.barcode.filename}}
                  </a>
                  <em
                    class="text-muted"
                    ng-if="!pdfCategory.barcode"
                    style="margin-right: 16px;">
                    Aucun séparateur associé
                  </em>

                  <button ngf-select ngf-change="upload($file, pdfCategory)" accept=".pdf" ngf-multiple="false" class="btn btn-default btn-sm">
                    <i class="fa fa-upload"></i> Modifier</span>
                  </button>
                </div>
              </div>
            </li>

            <li ng-repeat="category in categories" ui-tree-node>
              <div ui-tree-handle>
                <div class="ui-tree-document-category ui-tree-category-content">
                  <div class="detail" data-nodrag>
                    <h3 class="category-type">Catégorie personalisée</h3>
                    <input class="input-category-label" data-nodrag type="text"
                      ng-change="save(category)"
                      ng-keydown="saving = 'waiting'"
                      ng-model-options="{ debounce: 1000 }"
                      ng-model="category.label">

                    <div class="actions" data-nodrag>
                      <a class="text-danger-lite" data-nodrag ng-click="removeCategory(this)">
                        <i class="fa fa-times"></i> Supprimer
                      </a>
                    </div>
                  </div>
                  <div class="files">
                    <a
                      ng-if="category.barcode"
                      style="margin-right: 16px;"
                      target="_self"
                      download="{{category.barcode.filename}}"
                      href="api/mdphs/{{currentMdph.zipcode}}/categories/{{category._id}}/file?access_token={{token}}">
                      {{category.barcode.filename}}
                    </a>
                    <em
                      class="text-muted"
                      ng-if="!category.barcode"
                      style="margin-right: 16px;">
                      Aucun séparateur associé
                    </em>

                    <button ngf-select ngf-change="upload($file, category)" accept=".jpg,.png,.pdf" ngf-multiple="false" class="btn btn-default btn-sm">
                      <i class="fa fa-upload"></i> Modifier</span>
                    </button>
                  </div>
                </div>
              </div>

              <ol ui-tree-nodes="" ng-model="category.documentTypes">
                <li ng-repeat="documentType in category.documentTypes" ui-tree-node>
                  <div ui-tree-handle>
                    <div class="ui-tree-category-content">
                      <div class="detail" data-nodrag>
                        <h3 class="category-type">Document {{documentType.mandatory ? 'obligatoire' : 'complémentaire'}}</h3>
                        {{documentType.label}}
                        <a class="text-danger-lite" data-nodrag ng-click="removeDocumentType(this, category)">
                            <i class="fa fa-times"></i> Supprimer
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>

      <div class="tree-wrapper">
        <h3>Non-catégorisés</h3>
        <div ui-tree="treeOptions" data-nodrop-enabled="true">
          <ol ui-tree-nodes="" ng-model="noCategories">
            <li class="angular-ui-tree-handle angular-ui-tree-node-no-drag">
              <div class="ui-tree-document-category ui-tree-category-content">
                <div class="detail" data-nodrag>
                  <h3 class="category-type">Catégorie obligatoire</h3>
                  <p>{{unclassifiedCategory.label}}</p>
                </div>
                <div class="files">
                  <a
                    ng-if="unclassifiedCategory.barcode"
                    style="margin-right: 16px;"
                    target="_self"
                    download="{{unclassifiedCategory.barcode.filename}}"
                    href="api/mdphs/{{currentMdph.zipcode}}/categories/{{unclassifiedCategory._id}}/file?access_token={{token}}">
                    {{unclassifiedCategory.barcode.filename}}
                  </a>
                  <em
                    class="text-muted"
                    ng-if="!unclassifiedCategory.barcode"
                    style="margin-right: 16px;">
                    Aucun séparateur associé
                  </em>

                  <button ngf-select ngf-change="upload($file, unclassifiedCategory)" accept=".pdf" ngf-multiple="false" class="btn btn-default btn-sm">
                    <i class="fa fa-upload"></i> Modifier</span>
                  </button>
                </div>
              </div>
              <ol ui-tree-nodes="" ng-model="documentTypes">
                <li ng-repeat="document in documentTypes" ui-tree-node>
                  <div ui-tree-handle class="tree-node tree-node-content">
                    <div class="ui-tree-category-content">
                      <div class="detail">
                        <h3 class="category-type">Document {{document.mandatory ? 'obligatoire' : 'complémentaire'}}</h3>
                        {{document.label}}
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
