<div class="nav-questionnaire">
  <div class="container">
    <ol class="breadcrumb">
      <li><a ui-sref="departement">Accueil du {{mdph.name}}</a></li>
      <li><a ui-sref="departement.demande">Demande</a></li>
      <li class="active">{{section.label}}</li>
    </ol>
  </div>
</div>
<ui-view>
  <div class="questionnaire">
    <h1>{{section.desc}}</h1>

    <div class="row-type-identite">
      <div class="col-sm-3">
        <identity-card
          type="'beneficiaire'"
          section-model="sectionModel"></identity-card>
      </div>
    </div>

    <div class="row-type-identite" ng-if="sectionModel.beneficiaire && estMineur(sectionModel.beneficiaire.dateNaissance)">
      <div class="col-sm-3">
        <identity-card
          type="'autorite'"
          current-id="'parent1'"
          section-model="sectionModel"></identity-card>
      </div>

      <div class="col-sm-3">
        <identity-card ng-if="sectionModel.autorite.parent1.nom"
          type="'autorite'"
          current-id="'parent2'"
          section-model="sectionModel"></identity-card>
      </div>
    </div>

    <div class="row-type-identite" ng-if="sectionModel.beneficiaire">
      <div class="col-sm-3" ng-repeat="(idx, aidant) in sectionModel.aidantDemarche">
        <identity-card
          type="'aidantDemarche'"
          current-id="idx"
          section-model="sectionModel"></identity-card>
      </div>

      <div class="col-sm-3">
        <identity-card
          type="'aidantDemarche'"
          current-id="sectionModel.aidantDemarche.length"
          section-model="sectionModel"></identity-card>
      </div>
    </div>
  </div>
</ui-view>
