<div ng-class="{'not-ready': !isReadyToSend(), 'ready': isReadyToSend()}">
  <h3 ng-if="!isReadyToSend()">Votre demande n'est pas encore prête à être transmise à la MDPH {{mdph.name}}</h3>
  <h3 ng-if="isReadyToSend()">Votre demande est prête à être transmise à la MDPH {{mdph.name}}</h3>

  <div class="table-wrapper">
    <h4><a ui-sref="espace_perso.mon_compte">Votre compte</a></h4>
    <table class="table">
      <tr ng-if="currentUser.unconfirmed" class="envoi-warning">
        <td>Vous n'avez pas encore confirmé votre compte.  <br>
        Vous pouvez le faire en ouvrant le lien d'activation qui vous a été envoyé par mail à votre adresse <em>{{currentUser.email}}</em> <br>
        Si vous n'avez pas reçu ce mail, <a target="_blank" ui-sref="resend_confirmation({currentUserId: currentUser._id})">cliquez ici pour le renvoyer</a>.</td>
      </tr>
      <tr ng-if="!currentUser.unconfirmed" class="envoi-success">
        <td>Vous avez bien confirmé votre compte grâce à votre adresse {{currentUser.email}}.</td>
      </tr>
    </table>

    <h4>Vos renseignements</h4>
    <table class="table">
      <tr ng-if="!getProfileCompletion()" class="envoi-warning">
        <td>Vous n'avez pas fini de remplir les parties obligatoires de ce profil. Sans cela, nous ne pouvons pas transmettre votre demande.</td>
      </tr>
      <tr ng-if="getProfileCompletion()" class="envoi-success">
        <td>Vous avez entièrement rempli les parties obligatoires de ce profil.</td>
      </tr>
    </table>

    <h4>Vos documents</h4>
    <table class="table">
      <tr ng-if="!getDocumentsCompletion()" class="envoi-warning">
        <td>Vous n'avez pas fourni l'ensemble des documents obligatoires pour la complétude de votre demande. Sans cette étape, nous ne pouvons pas envoyer votre demande.</td>
      </tr>
      <tr ng-if="getDocumentsCompletion()" class="envoi-success">
        <td>Vous avez fourni l'ensemble des documents obligatoires pour la complétude de votre demande.</td>
      </tr>
    </table>
  </div>
</div>
