.profile-category {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: $lighter-grey;
  color: black;
  border: 1px solid $light-grey;

  + div {
    color: #a94442;
    font-size: 12px;
    text-align: center;
  }

  &.complete > .profile-category-icon {
    background-color: darkcyan;
    color: white;

    .progress-desc {
      border-bottom: 1px solid darken(darkcyan, 3%);
    }
  }

  &.error {
    border-color: #a94442;

    .profile-category-icon {
      color: #a94442;
      background-color: #f2dede;
    }

    .profile-category-content {
      color: #a94442;
    }
  }
}

.profile-category-icon {
  padding: 10px;
  background-color: darken(whitesmoke, 5%);
  color: #666666;;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  overflow: hidden;

  .icon {
    font-size: 7rem;
  }

  .progress-desc {
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #CACACA;

    i.fa {
      margin-right: 0;
    }
  }
}

.profile-category-content {
  background-color: white;
  padding: 10px;
  color: #333;
  height: 190px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 70%;
}

.last-updated {
  @extend .text-muted;
  font-style: italic;
  font-size: 0.8em;
}

.profile-category-content-text {
  margin: 10px 0;
}

.profile-category-actions {
  display: flex;
  justify-content: flex-end;
}

.profile-category-header {
  display: flex;
  align-items: center;

  .profile-category-header-text {
    display: flex;
    flex: 1;
    margin-top: 5px;
    overflow: hidden;


    .profile-category-header-text-title {
      font-size: 1.2em;
      font-weight: 500;
      margin: 0;
    }

    .profile-category-header-text-subhead {
      color: rgba(255, 255, 255, 0.54);
      font-size: 1.1em;
      font-weight: 300;
      line-height: 24px;
    }
  }
}
