.profile-category {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: $lighter-grey;
  color: black;
  border: 1px solid $light-grey;


  + div {
    color: #a94442;
    /*font-size: 12px;*/
    text-align: center;
  }

  &.complete > .profile-category-icon {
    background-color: $green;
    color: white;

    .progress-desc {
      border-bottom: 1px solid darken($green, 3%);
    }
  }

  &.error {
    border-color: #a94442;

    .profile-category-icon {
      color: #a94442;
      background-color: #f2dede;
    }

    .profile-category-content {
      color: #a94442;
    }
  }
}

.profile-category-icon {
  padding: 10px;
  background-color: darken(whitesmoke, 5%);
  color: #666666;;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-direction: column;
  /*width: 30%;
  overflow: hidden;*/

  .icon {
    font-size: 5rem;
  }

  .progress-desc {
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid #CACACA;

    i.fa {
      margin-right: 0;
    }
  }
}

.profile-category-content {
  background-color: white;
  padding: 10px;
  color: #333;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;
  /*width: 130px;   width: 70%;*/
}

.last-updated {
  @extend .text-muted;
  font-style: italic;
  font-size: 0.8em;
}

.profile-category-content-text {
  margin: 1px 0;
}

.profile-category-actions {
  display: flex;
  justify-content: flex-end;
}

.profile-category-header {
  display: flex;
  align-items: center;

  .profile-category-header-title {
    font-size: 1.2em;
    font-weight: 500;
    /*margin: 0px 20px;
    width: 200px;*/
  }
}

@media (max-width: $screen-xs-max) {
  .profile-category {
    flex-direction: column;
  }

  .profile-category-icon {
    width: 100%;
  }

  .profile-category-content {
    width: 100%;
  }
}
