<div class="profile-category {{profileCategoryCtrl.completion}}" ng-class="{
    'mandatory': profileCategoryCtrl.options.mandatory,
    'error': profileCategoryCtrl.options.error
  }">
  <div class="profile-category-icon">
    <i class="icon fa" ng-class="profileCategoryCtrl.icon"></i>

    <div class="progress-desc" ng-if="profileCategoryCtrl.options.mandatory || profileCategoryCtrl.completion === 'complete'" ng-switch="profileCategoryCtrl.completion">
      <span ng-switch-default>À renseigner</span>
      <span ng-switch-when="complete"><i class="fa fa-check-circle"></i>&nbsp;Complet</span>
    </div>
  </div>

  <div class="profile-category-content">
    <div class="profile-category-header">
      <span class="profile-category-header-text">
        <h2 class="profile-category-header-text-title">{{ ::profileCategoryCtrl.title }}</h2>
      </span>
    </div>

    <div class="profile-category-actions">
      <button ng-click="profileCategoryCtrl.go()" class="btn btn-blue">Modifier</button>
    </div>
  </div>
</div>
<div ng-if="profileCategoryCtrl.options.error"> Complétez cette section avant de transmettre la demande</div>
