<div id="formCard">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">
        {{user.name}}<br>
        <span class="text-muted">{{user.role | role}}</span>
      </h3>
      <a class="btn btn-danger pull-right" ng-if="user.role !== 'adminMdph'" ng-click="delete(user)">
        <i class="glyphicon glyphicon-trash"></i>
        <span>Supprimer</span>
      </a>
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">{{user.email}}</h4>
      </div>
  </div>
</div>
