<ui-view>
  <div class="partenaire-view">
    <h1>Ajouter une pièce complémentaire</h1>

    <form class="form" name="form" ng-submit="enterShortId(form)" novalidate>
      <div class="form-group">
        <label>Référence demande, fournie par le demandeur</label>
        <input type="text" name="shortId" class="form-control" ng-model="shortId" placeholder="8 caractères, chiffres et lettres, ex: Qyq1v096" required>
      </div>

      <div class="form-group has-error">
        <p class="help-block" ng-show="form.shortId.$error.required && form.$submitted">
           Veuillez saisir la référence demande.
        </p>
      </div>

      <div class="form-group">
        <label for="inputEmail">Votre e-mail</label>
        <input type="email" class="form-control" name="inputEmail" placeholder="Ex: email@domaine.fr" required ng-model="partenaire.email">
      </div>

      <div class="form-group has-error">
        <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.email && form.$submitted">
          <p class="help-block">L'adresse email saisie est incorrecte.</p>
        </div>

        <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.required && form.$submitted">
          <p class="help-block">L'adresse email est obligatoire.</p>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-primary btn-lg btn-login" type="submit">
          Valider
        </button>
      </div>
    </form>

    <br/>

    <div class="alert alert-warning warning-box-flex">
      <i class="fa fa-warning"></i>
      <div>
        Le document ne sera ajouté à la demande que si l'email envoyé à cette adresse est validé.
     </div>
    </div>
  </div>
</ui-view>
