<ui-view>
  <div class="questionnaire">
      <h1>Partenaire</h1>

      <form class="form" name="form" ng-submit="enterShortId(form)" novalidate>
        <div class="form-group">
          <label>Code client du demandeur</label>
          <input type="text" name="shortId" class="form-control" ng-model="shortId" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.shortId.$error.required && form.$submitted">
             Veuillez saisir votre code client.
          </p>
        </div>

        <div class="form-group">
          <label for="inputEmail">Votre e-mail</label>
          <input type="email" class="form-control" name="inputEmail" placeholder="Email" required ng-model="partenaire.email">
        </div>

        <div class="form-group has-error">
          <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.email && form.$submitted">
            <p class="help-block">L'adresse email saisie est incorrecte.</p>
          </div>

          <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.required && form.$submitted">
            <p class="help-block">L'adresse email est obligatoire.</p>
          </div>
        </div>

        <div>
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</ui-view>
