<h3>MDPH destinataire</h3>

<div ng-if="request.status === 'en_cours'">
  <div class="form-group required" ng-class="{'has-error': !request.mdph && infoForm.$submitted}">
    <fieldset>
      <legend class="control-label" id="request-mdph">Sélectionnez la MDPH destinaire de votre demande</legend>
      <select ng-options="mdph.code_departement as mdph.nom_du_departement group by mdph.nom_de_la_region for mdph in enabledMdphs" ng-change="resetOldMdph()" name="request-mdph" class="form-control" id="request-mdph" ng-model="request.mdph" required></select>
    </fieldset>
    <div ng-if="!request.mdph && infoForm.$submitted">
      <p class="help-block">Ce champ est obligatoire.</p>
    </div>
  </div>

  <div class="form-group" ng-if="request.mdph">
    <fieldset>
      <legend class="control-label">Avez-vous déjà un dossier dans une MDPH ?</legend>
      <input type="radio" name="typeDossier" id="renouvellement" ng-model="request.estRenouvellement" ng-value="true">
      <label class="radio-inline" for="renouvellement">Oui</label>
      <input type="radio" name="typeDossier" id="nouvelle_demande" ng-model="request.estRenouvellement" ng-value="false" ng-change="resetOldMdph()">
      <label class="radio-inline" for="nouvelle_demande">Non</label>
    </fieldset>
  </div>
  <div class="form-group" ng-if="request.estRenouvellement === true">
    <fieldset>
      <legend class="control-label" id="request-mdph">Dans quelle MDPH se trouve ce dossier ?</legend>
      <select ng-options="mdph.code_departement as mdph.nom_du_departement group by mdph.nom_de_la_region for mdph in enabledMdphs"
              ng-init="request.old_mdph = request.mdph" name="request-mdph" class="form-control" id="request-mdph" ng-model="request.old_mdph" ng-change="request.numeroDossier = null" required></select>
    </fieldset>
  </div>
  <div class="form-group" ng-if="request.old_mdph && request.mdph === request.old_mdph">
    <label for="numeroDossier" class="control-label">Connaissez-vous votre numéro de dossier ?</label>
    <input id="numeroDossier" type="text" name="numeroDossier" class="form-control" ng-model="request.numeroDossier" placeholder="Numéro de dossier">
  </div>

  <div class="form-group" ng-if="request.old_mdph && request.mdph !== request.old_mdph">
    <div class="alert alert-warning" role="alert">
      N'oubliez pas de précisez à votre MDPH précédente qu'elle doit transmettre votre dossier à votre nouvelle MDPH.
    </div>
  </div>
</div>

<div ng-if="request.status !== 'en_cours'">
  <p>Vous avez transmis cette demande le <strong>{{request.submittedAt | moment}}</strong>, à la <strong>MDPH {{selectedMdph.nom_du_departement}}, {{selectedMdph.code_departement}}</strong>.</p>
</div>
