
.request-item {
  border-bottom: 1px solid whitesmoke;

  a:hover {
    text-decoration: none;
  }

  .row {
    padding: 10px 20px;
    &:hover {
      background-color: rgb(249, 249, 249);
    }
    .label {
      margin: 2px;
    }
  }
}

.filtre-accordeon {
	.panel {
		border: none;
		background: none;
	}
	.panel-heading {
		border: none;
		background: none;
	}
	.panel-title {
		color: white;
		border: none;
		background: none;
	}
	.panel-group {
		margin-bottom: 0;
	}
}

.workflow {
    margin-bottom: 15px;
    text-align: center;
    .fa {
      color: #e7e7e7;
    }
}

.complete {
	.fa-folder, .fa-folder-o {
		color: #f9f26c;
	}
	.progress-bar {
		background-color: #f8f155;
	}
}
.text-complete {
  color: #7c7936;
}

.panel-complete {
	border-color: #fbf79e;
}

.panel-complete > .panel-heading {
	color: #7c7936;
	background-color: #fefde7;
	border-color: #fbf79e;
}

.panel-complete > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #fbf79e;
}

.request-searchbox {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  .panel {
    box-shadow: none;
  }
  .panel-title {
    color: #777;
  }
}
