
a.list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;

  .text-muted {
    color: #CCC;
  }
}

.filtre-accordeon {
	.panel {
		border: none;
		background: none;
	}
	.panel-heading {
		border: none;
		background: none;
	}
	.panel-title {
		color: white;
		border: none;
		background: none;
	}
	.panel-group {
		margin-bottom: 0;
	} 
}

.workflow {
    margin-bottom: 15px;
    text-align: center;
    .fa {
      color: #4f6083;
    }
}
