<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
      <div class="pending" ng-if="pending">
         <h2><small><i class="fa fa-spinner fa-pulse"></i> En attente de confirmation ...</small></h2>
      </div>
      <div class="pending" ng-if="!pending">
        <div ng-if="!error">
          <h1>Adresse mail confirmée</h1>
          <h2><small>Vous pouvez désormais vous connecter avec votre compte.</small></h2>
        </div>
        <div ng-if="error">
          <h1><i class="fa fa-warning"></i> Erreur</h1>
          <h2><small>Ce lien est incorrect ou à déjà été utilisé.</small></h2>
        </div>
      </div>
    </div>
  </div>
</div>
