<div class="timeline">
  <div ng-repeat="action in history" class="timeline-block" ng-class="{user: action.user.role !== 'adminMdph', agent: action.user.role === 'adminMdph'}">
    <div class="timeline-img {{action | actionTypeIconFilter}}">
      <i class="fa fa-{{action | actionTypeIconFilter}}"></i>
    </div>

    <div class="timeline-content">
      <h1>{{action.label}}</h1>
      <h2>{{action.date | moment}} <span ng-if="action.user">par {{action.user.name}}</span></h2>

      <!-- TODO: Print details here -->
    </div>
  </div>
</div>
