.timeline {
  background-color: #e9f0f5;
  position: relative;
  color: #7f8c97;
  padding: 18px;
}

.timeline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.timeline-block {
  position: relative;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.timeline-block.user {
  margin-left: 5px;
  left: 50%;
}

.timeline-block.agent {
  margin-right: 5px;
}

.timeline-block:before {
  content: "";
  display: table;
  clear: both;
}

.user > .timeline-img {
  left: -12px;
}

.agent > .timeline-img {
  right: -12px;
}

.timeline-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  i {
    display: block;
    color: white;
    font-size: 12px;
  }

  &.plus {
    background: $brand-info;
  }

  &.edit {
    background: $brand-warning;
  }

  &.upload {
    background: $brand-success;
  }

  &.send {
    background: $brand-info;
  }

  &.bullseye {
    background: $brand-warning;
  }

    &.folder {
      background: $brand-warning;
    }

    &.trash {
      background: $brand-danger;
    }
}

.timeline-content {
  padding: 5px;
  padding-left: 10px;
  position: relative;
  background: white;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #d7e4ed;

  h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    margin: 0
  }
}

.user > .timeline-content {
  margin-left: 20px;
}

.agent > .timeline-content {
  margin-right: 20px;
}

.timeline-content:before {
  position: absolute;
  top: 14px;
  border-color: transparent;
  content: '';
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

.timeline-content > .detail {
  margin-top: 4px;
  font-style: italic;
}

.user > .timeline-content:before {
  right: 100%;
  border-right-color: white;
  border-right: 7px solid white;
}

.agent > .timeline-content:before {
  left: 100%;
  border-left-color: white;
  border-left: 7px solid white;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
