<div class="edit-partenaire">
  <div class="list-header">
    <h2 class="padding-title" ng-if="!user._id">Création d'un agent</h2>
    <h2 class="padding-title" ng-if="user._id">Edition d'un agent</h2>
  </div>
  <form class="form-horizontal" name="userForm" ng-submit="update(userForm)" >
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" name="nom" ng-model="user.name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" name="email" ng-model="user.email" required>
        <p class="help-block" ng-show="userForm.email.$error.mongoose">
          {{ errors.email }}
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.$submitted }" ng-if="!user._id">
      <label for="inputEmail" class="col-sm-2 control-label">Mot de passe</label>
      <div class="col-sm-10">
        <input id="password" type="{{inputType}}" name="password" class="form-control"
               ng-model="user.password" required mongoose-error zxcvbn="passwordStrength" zx-min-score="2">

        <div ng-messages="userForm.password.$error" ng-if="userForm.$submitted">
          <p id="error-message" ng-message="passwordStrength" class="help-block">Votre mot de passe est d'une robustesse trop faible</p>
        </div>

        <password-strength-bar password="userForm.password.$viewValue"></password-strength-bar>

        <input type="checkbox" id="checkbox" ng-model="hidePassword" ng-click="toggleType()" />
        <label for="checkbox">Afficher le mot de passe</label>
      </div>
    </div>
    <div class="form-group">
      <label for="secteur" class="col-sm-2 control-label">Secteurs associés</label>
      <div class="col-sm-10">
        <div ng-repeat="secteur in secteurs">
          <label>
            <input type="checkbox" name="secteur"
              ng-value="secteur._id"
              ng-checked="user.secteurs.indexOf(secteur._id) > -1"
              ng-click="toggleSelection(secteur)">
            {{secteur.name}}
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10 text-right">
        <button class="btn btn-danger" ng-if="user._id" type="button" ng-click="delete()">
          <i class="fa fa-remove"></i> Supprimer
        </button>
        <a class="btn btn-default" ui-sref="^">Annuler</a>
      </div>
      <div class="col-sm-2 text-right">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-save"></i> Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
