<div class="login-view-white login-view-white__no-header">

  <h1>Inscrivez-vous pour commencer votre démarche</h1>

  <form class="form" name="forms.form" ng-submit="register(forms.form)" novalidate>
    <div class="form-group required" ng-class="{ 'has-error': forms.form.email.$invalid && forms.form.$submitted }">
      <label for="email" class="control-label">Adresse email</label>

      <input id="email" type="email" name="email" class="form-control" ng-model="user.email"
             required
             ng-change="resetMongooseError(forms.form, 'email')"
             mongoose-error/>

      <div ng-messages="forms.form.email.$error" ng-if="forms.form.$submitted">
       <p class="help-block" ng-message='required'>Veuillez entrer votre adresse e-mail.</p>
       <p class="help-block" ng-message='email'> Cet email n'est pas valide.</p>
       <p class="help-block" ng-message="mongoose">{{ errors.email }}</p>
      </div>
    </div>

    <password-field user="user" libelle="Créez votre mot de passe"/>

    <password-rules-alert/>

    <div class="form-group required" ng-show="show">
      <label for="emailSecours" class="control-label">Adresse email de secours</label>
      <input id="emailSecours" type="email" name="emailSecours" class="form-control" ng-model="user.emailSecours" ng-init="user.emailSecours = 'your@email.com'"/>
    </div>
    <div ng-messages="form.emailSecours.$error" ng-if="form.$submitted">
      <p class="help-block" ng-message='required'>Veuillez entrer votre adresse e-mail de secours.</p>
      <p id="error-message" ng-message="formulaire" class="help-block">Erreur dans le formulaire, merci de raffraichir la page.</p>
    </div>

    <div class="input-field required">
      <label for="contact" class="control-label">Contact</label>
      <input id="contact" type="text" name="contact" class="input-field" ng-model="user.contact" ng-init="user.contact = ''"/>
    </div>
    <div ng-messages="form.contact.$error" ng-if="form.$submitted">
      <p class="help-block" ng-message='required'>Veuillez entrer votre numéro de contact.</p>
      <p id="error-message" ng-message="formulaire" class="help-block">Erreur dans le formulaire, merci de raffraîchir la page.</p>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-login" type="submit">
        Inscrivez-vous
      </button>
    </div>
  </form>

  <hr>

  <div class="text-right">
    <h1>Vous avez déjà un compte ? <a ui-sref="login">Connectez-vous</a></h1>
  </div>
</div>
