<div class="login-view-white login-view-white__no-header">

  <h1>Inscrivez-vous pour commencer votre démarche</h1>

  <form class="form" name="form" ng-submit="register(form)" novalidate>
    <div class="form-group required" ng-class="{ 'has-error': form.email.$invalid && form.$submitted }">
      <label for="email" class="control-label">Adresse email</label>

      <input id="email" type="email" name="email" class="form-control" ng-model="user.email"
             required
             ng-change="resetMongooseError(form, 'email')"
             mongoose-error/>

      <div ng-messages="form.email.$error" ng-if="form.$submitted">
       <p class="help-block" ng-message='required'>Veuillez entrer votre adresse e-mail.</p>
       <p class="help-block" ng-message='email'> Cet email n'est pas valide.</p>
       <p class="help-block" ng-message="mongoose">{{ errors.email }}</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{ 'has-error': form.password.$invalid && form.$submitted }">
      <label for="password" class="control-label">Créez votre mot de passe</label>
      <input id="password" type="{{inputType}}" name="password"
        class="form-control" ng-model="user.password" required mongoose-error zxcvbn="passwordStrength" zx-min-score="1">
      <password-strength-bar password="form.password.$viewValue"></password-strength-bar>

      <input type="checkbox" id="checkbox" ng-model="hidePassword" ng-click="toggleType()" />
      <label for="checkbox">Afficher le mot de passe</label>

      <p ng-messages="form.password.$error" ng-if="form.$submitted" class="help-block">Le mot de passe doit avoir une robustesse plus elevé</p>

    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg btn-login" type="submit">
        Inscrivez-vous
      </button>
    </div>
  </form>

  <hr>

  <div class="text-right">
    <h1>Vous avez déjà un compte ? <a ui-sref="login">Connectez-vous</a></h1>
  </div>
</div>
