#stats-container {
  .section {
    background-color: whitesmoke;
    margin: 30px;
    padding: 30px;
  }

  .col-sm-6 {
    text-align: center;
  }

  h2 {
    font-size: 25px;
  }

  .bigup {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }
}
