#stats-container {
  .section {
    background-color: whitesmoke;
    padding: 30px;
    margin: 15px 0;
  }

  ul.select-period {
    display: flex;
    list-style-type: none;
  }

  .btn-link {
    background-color: white;
  }

  .btn-link.active {
    background-color: $green;
    color: white;
  }

  .col-sm-4 {
    text-align: center;
  }

  h1 {
    font-size: 15px;
  }

  .bigup {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }

  ul {
    padding-left: 0;
  }

}
