#stats-container {
  .section {
    background-color: white;
    padding: 30px;
    margin: 15px 0;
  }

  .col-sm-4 {
    text-align: center;
  }

  h1 {
    font-size: 15px;
  }

  .bigup {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
  }

  ul {
    padding-left: 0;
  }

}
