.panel-info .panel-heading >h1 {
  margin: 0;
  font-size: 24px;
}

#mon-compte {
  .panel-default {
    .panel-heading {
      background-color: lighten($lighter-blue, 5%);
      color: white;
      border-bottom: none;

      h1 {
        font-size: 1.4em;
      }
    }
  }

  padding-top: 30px;

  .form-control-static {
    font-size: 16px;
  }
}

