.well-detail {
  position: relative;
  -webkit-border-radius: 0 0 5px 5px ;
  -moz-border-radius: 0 0 5px 5px ;
  border-radius: 0 0 5px 5px ;
  border-top: none;
  margin: 0 15px;

  .row {
    margin-bottom: 4px;
    width: 80%;
  }
}

.slide.ng-enter {
  transition:0.1s linear all;
  opacity:0;
  top: -50px;
}

.slide.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}
