.password-strength-bar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  .progress {
    flex-grow: 1;
    min-width: 200px;
    margin-left: 15px;
    background-color: #fff;
    position: relative;

    label {
      color: #000;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.progress-bar-danger {
  background-color: $light-red;
}

.progress-bar-warning {
  background-color: $yellow;
}

.progress-bar-info {
  background-color: $flat-ui-blue;
}

.progress-bar-succes {
  background-color: $green;
}
