.nav-questionnaire {
  background-color: rgb(231, 231, 231);

  ol {
    margin: 0;
  }

  .breadcrumb {
    background-color: rgb(231, 231, 231);
    margin: 3px 0;
    float: left;
  }

  .sub-sections {
    padding-top: 5px;
    float: right;
  }
}

.questionnaire {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 30px;

  .category {
    margin-bottom: 2em;
    border: 1px solid $light-grey;
  }

  .section {
    display: block;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;

    .fa-chevron-circle-right {
      font-size: 24px;
      color: lighten($light-blue, 45%);
    }

    &:hover {
      background-color: whitesmoke;
      text-decoration: none;

      .fa-chevron-circle-right {
        color: lighten($light-blue, 15%);
      }
    }
  }

  .section-body {
    padding: 10px;

    .left {
      float: left;
      margin-right: 15px;
    }
  }

  form {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #DDD;
  }

  h1 {
    font-size: 1.5em;
    font-weight: 200;
  }

  h2 {
    font-size: 1.3em;
    margin: 0;
    color: $light-blue;
  }

  p {
    margin-top: 5px;
    color: #333;
    font-size: 1em;
    font-weight: 200;
  }

  .abstract-footer {
    text-align: right;
    font-size: 9px;
    padding: 2px 5px;
  }

  .footer-required {
    @extend .abstract-footer;
    font-weight: 600;
  }
}

.btn-answer {
  padding-left: 15px;
  border-bottom: 2px solid $light-grey;
  text-align: left;
  i {
    color: $light-grey;
    margin-right: 15px;
  }

  &.active {
    border-bottom: 2px solid $primary;
    background-color: white;

    i {
      color: $primary;
    }
  }
}

.answer {
  margin-bottom: 8px;
}
