<div class="container">
  <div class="row row-pull-down">
    <div class="col-md-6">
      <a class="btn btn-default btn-block" ng-click="currentRequest.renouvellement = false" ui-sref="departement.questionnaire.projet_de_vie.informations.representant">
        <div>
          <i class="fa fa-folder fa-4x"></i>
        </div>
        <div>
          Je souhaite faire une demande pour que ma MDPH étudie mes droits
        </div>
      </a>
    </div>
    <div class="col-md-6 ">
      <a class="btn btn-default btn-block" ng-click="currentRequest.renouvellement = true" ui-sref="departement.questionnaire.projet_de_vie.informations.representant">
        <div>
          <i class="fa fa-history fa-4x"></i>
        </div>
        <div>
          J'ai déjà un dossier dans une MDPH et souhaite renouveler ma demande
        </div>
      </a>
    </div>
  </div>
</div>
