<div class="list-mdph">
  <table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th class="zipcode">Code département &nbsp;<a ng-click="sort_by('zipcode')"><i class="icon-sort"></i></a></th>
            <th class="name">Dénomination &nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
            <th class="enabled">Est en activité &nbsp;<a ng-click="sort_by('enabled')"><i class="icon-sort"></i></a></th>
            <th class="opened">Est ouverte &nbsp;<a ng-click="sort_by('opened')"><i class="icon-sort"></i></a></th>
            <th class="evaluate">Utilise l'outil de soutien &nbsp;<a ng-click="sort_by('evaluate')"><i class="icon-sort"></i></a></th>
        </tr>
    </thead>
    <tfoot align="center">
      <tr ng-if="adminMdphCtrl.itemsPerPage <= adminMdphCtrl.totalItems">
        <td colspan="5">
          <pagination total-items="adminMdphCtrl.totalItems"
            ng-model="adminMdphCtrl.currentPage"
            ng-change="adminMdphCtrl.pageChanged()"
            class="pagination-sm"
            items-per-page="adminMdphCtrl.itemsPerPage">
          </pagination>
        </td>
      </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="mdph in adminMdphCtrl.mdphs.slice(((adminMdphCtrl.currentPage-1)*adminMdphCtrl.itemsPerPage), ((adminMdphCtrl.currentPage)*adminMdphCtrl.itemsPerPage))"
          ng-click="adminMdphCtrl.selectItem(mdph)">
          <td>{{mdph.zipcode}}</td>
          <td>{{mdph.name}}</td>
          <td><img src="assets/images/yes.png" ng-if="mdph.enabled"/><img src="assets/images/no.png" ng-if="!mdph.enabled"/></td>
          <td><img src="assets/images/yes.png" ng-if="mdph.opened"/><img src="assets/images/no.png" ng-if="!mdph.opened"/></td>
          <td><img src="assets/images/yes.png" ng-if="mdph.evaluate"/><img src="assets/images/no.png" ng-if="!mdph.evaluate"/></td>
        </tr>
    </tbody>

  </table>

</div>

<hr/>

<div id="detail-mdph" class="detail-mdph">
  <form id="mdphDetailFormId" aria-labelledby="mdphDetail" name="mdphDetailForm" ng-submit="adminMdphCtrl.submit(mdphDetailForm)" novalidate>

  <fieldset>
    <legend>Identification</legend>
    <div class="form-group required" ng-class="{'has-error': mdphDetailForm.zipcode.$invalid && mdphDetailForm.$submitted}">
      <label for="zipcode" class="control-label">Code département</label>
      <input id="zipcode" type="text" name="zipcode" class="form-control" ng-model="mdphDetail.zipcode" ng-minlength="1" required/>
      <div ng-messages="mdphDetailForm.zipcode.$error" ng-if="mdphDetailForm.$submitted">
        <p class="help-block" ng-message='required'>Le code departementest obligatoire.</p>
        <p class="help-block" ng-message='minlength'>La longueur du code departement est 2 ou 3.</p>
      </div>
    </div>

    <div class="form-group required" ng-class="{'has-error': mdphDetailForm.name.$invalid && mdphDetailForm.$submitted}">
      <label for="name" class="control-label">Dénomination</label>
      <input id="name" type="text" name="name" class="form-control" ng-model="mdphDetail.name" ng-minlength="3" required/>
      <div ng-messages="mdphDetailForm.name.$error" ng-if="mdphDetailForm.$submitted">
        <p class="help-block" ng-message='required'>Le nom de la MDPH est obligatoire.</p>
        <p class="help-block" ng-message='minlength'>La longueur minimal du nom est 3.</p>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': mdphDetailForm.logo.$invalid && mdphDetailForm.$submitted}">
      <label for="logo" class="control-label">Logo</label>
      <input id="logo" type="file" name="logo" class="form-control-file" ngf-select ng-model="mdphDetail.logo" accept=".jpg" ngf-multiple="false" ngf-max-size="2MB" ng-Change="adminMdphCtrl.setLogoChanged()"/>
      <div>
        <img ng-if="!logoChanged && mdphDetail.logo" ng-src="/api/mdphs/{{mdphDetail.zipcode}}/logo" class="thumb" width="150" height="90" alt="logo"/>
        <img ng-if="logoChanged" ngf-src="mdphDetail.logo" class="thumb" width="150" height="90"/>
      </div>
      <div ng-messages="mdphDetailForm.logo.$error" ng-if="mdphDetailForm.$submitted">
        <p class="help-block" ng-message='maxSize'>Le logo est trop volumineux</p>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': mdphDetailForm.photo.$invalid && mdphDetailForm.$submitted}">
      <label for="photo" class="control-label">Photo d'accueil</label>
      <input id="photo" type="file" name="photo" class="form-control-file" ngf-select ng-model="mdphDetail.photo" accept=".jpg" ngf-multiple="false" ngf-max-size="10MB" ng-Change="adminMdphCtrl.setPhotoChanged()"/>
      <div>
        <img ng-if="!photoChanged && mdphDetail.photo" ng-src="/api/mdphs/{{mdphDetail.zipcode}}/photo" class="thumb" width="1200" height="400" alt="photo"/>
        <img ng-if="photoChanged" ngf-src="mdphDetail.photo" class="thumb" width="1200" height="400"/>
      </div>
      <div ng-messages="mdphDetailForm.photo.$error" ng-if="mdphDetailForm.$submitted">
        <p class="help-block" ng-message='maxSize'>La photo est trop volumineuse</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Etat</legend>
    <div class="form-group">
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" ng-model="mdphDetail.enabled"/> En activité
        </label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" ng-model="mdphDetail.opened"/> Ouverte
        </label>
      </div>
      <div class="checkbox">
        <label class="control-label">
          <input type="checkbox" ng-model="mdphDetail.evaluate"/> Utilise l'outil de soutien
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Sites</legend>
    <div ng-repeat="location in mdphDetail.locations">
        <div class="form-group required" ng-class="{'has-error': mdphDetailForm.location-name.$invalid && mdphDetailForm.$submitted}">
          <label for="location-name" class="control-label">Nom du site</label>
          <input id="location-name" type="text" name="location-name" class="form-control" ng-model="location.name" required/>
          <div ng-messages="mdphDetailForm.location-name.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>Le nom du site est obligatoire.</p>
          </div>
        </div>
        <div class="checkbox">
          <label class="control-label">
            <input type="checkbox" ng-model="location.headquarters"/> Site du siège
          </label>
        </div>
        <div class="form-group required" ng-class="{'has-error': mdphDetailForm.location-email.$invalid && mdphDetailForm.$submitted}">
          <label for="location-email" class="control-label">Email de contact</label>
          <input id="location-email" type="text" name="location-email" class="form-control" ng-model="location.email" required/>
          <div ng-messages="mdphDetailForm.location-email.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>L'email de la MDPH est obligatoire.</p>
          </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': mdphDetailForm.location-phone.$invalid && mdphDetailForm.$submitted}">
          <label for="location-phone" class="control-label">Téléphone de contact</label>
          <input id="location-phone" type="text" name="location-phone" class="form-control" ng-model="location.phone" required/>
          <div ng-messages="mdphDetailForm.location-phone.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>Le telephone de la MDPH est obligatoire.</p>
          </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': mdphDetailForm.location-address.$invalid && mdphDetailForm.$submitted}">
          <label for="location-address" class="control-label">Adresse de contact</label>
          <input id="location-address" type="text" name="location-address" class="form-control" ng-model="location.address" required/>
          <div ng-messages="mdphDetailForm.location-address.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>L'adresse de la MDPH est obligatoire.</p>
          </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': (mdphDetailForm.coordx.$invalid || mdphDetailForm.location-coordy.$invalid) && mdphDetailForm.$submitted}">
          <label class="control-label">Coordonnées Géographique</label>
          <label for="location-coordx" >X :</label>
          <input id="location-coordx" type="text" name="location-coordx" class="form-control" ng-model="location.coordinates.coordx" required/>
          <label for="location-coordy" >Y :</label>
          <input id="location-coordy" type="text" name="location-coordy" class="form-control" ng-model="location.coordinates.coordy" required/>
          <div ng-messages="mdphDetailForm.location-coordx.$error || mdphDetailForm.location-coordy.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>Les coordonnées géographiques de la MDPH est obligatoire.</p>
          </div>
        </div>
        <div class="form-group required" ng-class="{'has-error': mdphDetailForm.location-schedule.$invalid && mdphDetailForm.$submitted}">
          <label for="location-schedule" class="control-label">Horaires d'ouverture</label>
          <input id="location-schedule" type="text" name="location-schedule" class="form-control" ng-model="location.schedule" required/>
          <div ng-messages="mdphDetailForm.location-schedule.$error" ng-if="mdphDetailForm.$submitted">
            <p class="help-block" ng-message='required'>Les horaires d'ouverture de la MDPH sont obligatoires.</p>
          </div>
        </div>
        <a ng-click="adminMdphCtrl.removeLocation($index)" title="supprimer le site"><i class="glyphicon glyphicon-minus"></i></span></a>
        <hr/>
      </div>
      <a ng-click="adminMdphCtrl.addLocation()" title="ajouter un nouveau site"><i class="glyphicon glyphicon-plus"></i></span></a>
    </fieldset>

    <div class="form-actions">
      <button id="submitId" type="submit" name="save" alt="Enregistrer" class="btn btn-success">Enregistrer</button>
    </div>
  </form>
</div>
