<form name="questionForm" novalidate>
  <label class="question-legend" for="autresrenseignements" ng-bind-html="question.title"></label>

  <textarea class="form-control" rows="20"
    name="autresrenseignements" id="autresrenseignements"
    placeholder="{{placeholder}}"
    ng-model="sectionModel['autresRenseignements']"></textarea>

  <nav-steps
    ng-hide="hideSteps"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />
</form>
