<qtitle></qtitle>

<div class="row answer" ng-repeat="answer in question.answers" ng-if="!answer.onlyAdult || isAdult()">
  <div class="col-md-8 col-md-offset-2">
    <button
      class="btn btn-default btn-block"
      ng-model="sectionModel[question.model][answer.model]"
      btn-checkbox>
      {{answer.label}}
    </button>
    <div class="well well-detail slide" ng-if="answer.detail && sectionModel[question.model][answer.model]">
      <div class="row form-horizontal" ng-if="!answer.detailUrl">
        <label class="col-md-2 control-label">Précisez</label>
        <div class="col-md-10">
          <input type="text" class="form-control" ng-model="model.detail" placeholder="{{answer.placeholder}}">
        </div>
      </div>
      <div ng-if="answer.detailUrl">
        <div ng-include="answer.detailUrl"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <small><em>Plusieurs choix possibles</em></small>
  </div>
</div>
