<qtitle ng-hide="hideTitle"></qtitle>

<div class="answer" ng-repeat="answer in question.answers" ng-if="!isAdmin || !answer.onlyAdult || isAdult()">
  <button
    class="btn btn-default btn-block btn-answer text-capitalize"
    ng-model="formAnswers[section.id][question.model][answer.model]"
    btn-checkbox>
    <i class="fa" ng-class="{'fa-check-square': formAnswers[section.id][question.model][answer.model], 'fa-square-o': !formAnswers[section.id][question.model][answer.model]}"></i>
    {{answer.label}}
  </button>
  <div class="well well-detail slide" ng-if="answer.detailUrl && formAnswers[section.id][question.model][answer.model]">
    <div class="row form-horizontal">
      <div ng-include="answer.detailUrl"></div>
    </div>
  </div>
</div>

<nav-steps ng-hide="hideSteps"></nav-steps>
