<form name="questionForm" ng-submit="check(questionForm)" novalidate>
  <fieldset>
    <legend ng-hide="hideTitle" class="question-legend" ng-bind-html="question.title"></legend>

    <ul class="answers">
      <div class="answer" ng-repeat="answer in question.answers">
        <div ng-if="(!answer.onlyAdult || (answer.onlyAdult && demandeCtrl.estAdulte)) && (!answer.onlyChild || (answer.onlyChild && !demandeCtrl.estAdulte))">
            <li>
            <label for="{{question.model}}-{{answer.model}}" class="btn-answer"
              ng-class="{'active': sectionModel[question.model][answer.model]}">
              <input type="checkbox" name="{{question.model}}" id="{{question.model}}-{{answer.model}}"
              ng-model="sectionModel[question.model][answer.model]" ng-value="answer.label" />
              <span ng-bind-html="answer.label"></span>
            </label>
          </li>

          <div class="well well-detail slide" ng-if="answer.detailUrl && sectionModel[question.model][answer.model] === true">
            <div ng-include="answer.detailUrl"></div>
          </div>
        </div>
      </div>
    </ul>
  </fieldset>

  <div role="alert" ng-if="questionForm.showError && questionForm.$invalid" class="alert alert-danger">
    <i class="fa fa-warning"></i> Veuillez sélectionner une des options ou préciser votre réponse
  </div>

  <nav-steps
    ng-hide="hideSteps"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />
</form>
