<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>

  <profile-btn profile="profilCtrl.profile"></profile-btn>

  <div class="row">
    <div class="list-group col-sm-offset-1 col-sm-10 cv" ng-if="experiences.length > 0">
      <div ng-repeat="experience in experiences | orderBy:'-debut'" class="list-group-item row">
        <a ng-click="modifierExperience(experience)" class="col-md-11">
          <span class="list-group-item-heading col-md-6">
            <strong>{{experience.intitule}}</strong> - {{experience.employeur}}
          </span>
          <span class="list-group-item-text col-md-6 text-right">{{experience.debut | date:'dd/MM/yyyy'}}
            <span ng-if="experience.fin">
               - {{experience.fin | date:'dd/MM/yyyy'}}
            </span>
            <span ng-if="!experience.fin">
               - Aujourd'hui
            </span>
          </span>
          <span class="list-group-item-text col-md-10">{{experience.motif}}</span>
          <span class="list-group-item-text col-md-2 text-right">{{experience.contrat}}</span>
        </a>
        <span class="col-md-1">
          <a ng-click="supprimerExperience(experience)"><i class="fa fa-times-circle-o fa-lg"></i></a>
        </span>
      </div>
    </div>
    <div ng-if="ajoutEnCours">
      <div class="form-group form-group col-md-offset-1 col-md-10">
        <label class="control-label" for="intitule">Intitulé du poste</label>
        <input name="intitule" type="text" class="form-control" ng-model="tempExp.intitule" placeholder="Intitulé du poste" required>
        <div ng-messages="questionForm.intitule.$error" ng-if="questionForm.showError">
          <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
        </div>
      </div>
      <div class="form-group form-group col-md-offset-1 col-md-5">
        <label class="control-label" for="employeur">Employeur</label>
        <input name="employeur" type="text" class="form-control" ng-model="tempExp.employeur" placeholder="Entreprise" required>
        <div ng-messages="questionForm.employeur.$error" ng-if="questionForm.showError">
          <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
        </div>
      </div>
      <div class="form-group col-md-5">
        <label for="contrat" class="control-label">Type de contrat</label>
        <input name="contrat" type="text" class="form-control" ng-model="tempExp.contrat" placeholder="CDI, CDD, ..." required>
        <div ng-messages="questionForm.contrat.$error" ng-if="questionForm.showError">
          <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
        </div>
      </div>

      <div class="form-group col-md-offset-1 col-md-10">
        <label class="control-label" for="date-de-debut">
          Date de début <span class="small">au format jour/mois/année</span>
        </label>
        <input
          type="text"
          class="form-control"
          name="dateDeDebut"
          id="date-de-debut"
          required
          ng-model="tempExp.debut"
          input-date
          date-autocomplete
          placeholder="JJ/MM/AAAA"
          aria-describedby="help-date-de-debut">
        <div ng-messages="questionForm.dateDeDebut.$error" ng-if="questionForm.showError">
          <div class="help-block" id="help-date-de-debut" ng-message='inputDate'><i class="fa fa-warning"></i> Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</div>
          <div class="help-block" id="help-date-de-debut" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
        </div>
      </div>

      <div class="form-group col-md-offset-1 col-md-10">
        <label class="control-label" for="date-de-debut">
          Date de fin <small>(Ne pas renseigner si vous êtes toujours en poste)</small><br><small>au format jour/mois/année</small>
        </label>
        <input
          type="text"
          class="form-control"
          name="dateDeFin"
          id="date-de-fin"
          ng-model="tempExp.fin"
          input-date
          date-autocomplete
          placeholder="JJ/MM/AAAA"
          aria-describedby="help-date-de-fin">
        <div ng-messages="questionForm.dateDeFin.$error" ng-if="questionForm.showError">
          <div class="help-block" id="help-date-de-fin" ng-message='inputDate'><i class="fa fa-warning"></i> Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</div>
          <div class="help-block" id="help-date-de-fin" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
        </div>
      </div>

      <div class="form-group col-md-offset-1 col-md-10">
        <label for="contrat" class="control-label">Motif de fin d'activité</label>
        <textarea name="motif" type="text" class="form-control" ng-model="tempExp.motif" placeholder="Motif" required></textarea>
        <div ng-messages="questionForm.motif.$error" ng-if="questionForm.showError">
          <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
        </div>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <button class="btn btn-default btn-block" ng-click="annuler()">Annuler</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success btn-block" ng-click="validerExperience(questionForm)">Valider l'expérience</button>
      </div>
    </div>

    <div class="text-center" ng-if="!ajoutEnCours">

      <button class="btn btn-success btn-lg" ng-click="ajouterExperience()">Ajouter une expérience</button>
    </div>
  </div>

  <nav-steps
    ng-if="!ajoutEnCours"
    ng-hide="hideSteps"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />
</form>
