<form name="questionForm" novalidate>
  <label class="question-legend" for="inputdate">{{question.title}}</label>

  <input
    type="text"
    class="form-control"
    name="myInputDate"
    id="input-date"
    required
    ng-model="sectionModel[question.model]"
    input-date
    date-autocomplete
    placeholder="JJ/MM/AAAA"
    aria-describedby="help-input-date">
  <div ng-messages="questionForm.myInputDate.$error" ng-if="questionForm.showError">
    <p class="help-block" id="help-input-date" ng-message='inputDate'>Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</p>
    <p class="help-block" id="help-input-date" ng-message='required'>Ce champ est obligatoire.</p>
  </div>

  <nav-steps
    ng-hide="hideSteps"
    profile="profilCtrl.profile"
    next-step="nextStep"
    question-form="questionForm"
    is-last-question="isLastQuestion" />
</form>
