<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>
  <table class="table my-table-striped">
    <thead ng-if="model.listeDiplomes.length > 0">
      <th id="diplome">Diplômes</th>
      <th id="annee">Année d'obtention</th>
      <th id="domaine">Domaine</th>
    </thead>
    <tbody>
      <tr ng-repeat="(idx, diplome) in model.listeDiplomes">
        <td class="col-md-4">
          <input aria-labelledby="diplome" name="diplome" aria-describedby="help-diplome" required type="text" class="form-control" ng-model="diplome.nom" placeholder="Intitulé du diplôme">
          <div ng-messages="questionForm.diplome.$error" ng-if="questionForm.showError">
            <div class="help-block" id="help-diplome" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
          </div>
        </td>
        <td class="col-md-4">
          <input
            type="text"
            class="form-control"
            name="annee"
            id="annee"
            required
            ng-model="diplome.annee"
            input-date
            date-autocomplete
            aria-labelledby="annee"
            aria-describedby="help-annee">
          <div ng-messages="questionForm.annee.$error" ng-if="questionForm.showError">
            <div class="help-block" id="help-annee" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
          </div>
        </td>
        <td class="col-md-4">
          <input aria-labelledby="domaine" name="domaine" aria-describedby="help-domaine" required type="text" class="form-control" ng-model="diplome.domaine" placeholder="Domaine d'étude">
          <div ng-messages="questionForm.domaine.$error" ng-if="questionForm.showError">
            <div class="help-block" id="help-domaine" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
          </div>
        </td>
      </tr>
      <tr ng-if="model.listeDiplomes.length === 0">
        <td colspan=3><em>Pas de diplôme renseigné</em></td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          <button class="btn btn-default" ng-click="removeLine()" aria-label="Retirer le dernier diplôme" ng-if="model.listeDiplomes.length > 0">
            <i class="fa fa-minus"></i> Retirer le dernier diplôme
          </button>
          <button class="btn btn-success" ng-click="addLine()" aria-label="Ajouter un diplôme">
            <i class="fa fa-plus"></i> Ajouter un diplôme
          </button>
        </td>
    </tbody>
  </table>

  <nav-steps ng-hide="hideSteps"></nav-steps>

</form>
