$analog-1: #333E54;
$analog-1-border: #1C222E;
$analog-2: #473B52;
$analog-2-border: #372E40;
$analog-3: #435275;
$analog-3-border: #1F2636;
$analog-4: #D05158;
$analog-4-border: #6E2B2E;

@mixin panel-action-color($color) {
  .panel-heading {
    color: white;
  }

  &.panel-closed {
    .panel-heading {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 15%);
      }
    }
  }

  &.panel-opened {
    .panel-heading {
      background-color: lighten($color, 15%);
    }
  }

  border-color: darken($color, 15%);
}

.prestations {
  .panel {
    border-bottom: 4px solid #dddddd;
  }

  .panel-footer {
    text-align: right;
    font-size: 10px;
  }

  .panel-action {
    .panel-heading {
      cursor: pointer;
    }

    &.presta-carte {
      @include panel-action-color($analog-1);
    }

    &.presta-finances {
      @include panel-action-color($analog-2);
    }

    &.presta-accompagnement {
      @include panel-action-color($analog-3);
    }

    transition: max-height 0.15s ease-out;
  }
}
