<qtitle></qtitle>

<div class="row prestations">
  <div class="col-sm-4" ng-repeat="prestation in prestations">
    <div class="panel panel-default panel-action"
      ng-class="prestation.type" ng-if="!isSelected(prestation)" tooltip="{{prestation.title}}" ng-click="select(prestation)">
      <div class="panel-body text-center">
        {{prestation.label}}
      </div>
    </div>

    <div class="panel panel-default panel-opened"
      ng-class="prestation.type" ng-if="prestation.selected">
      <div class="panel-heading" tooltip="{{prestation.title}}">
        <h3 class="panel-title">{{prestation.label}}
          <span class="glyphicon glyphicon-remove-circle pull-right" ng-click="deselect(prestation)"></span>
        </h3>
      </div>
      <div class="panel-body">
        <label>Date de fin</label>
        <div class="input-group">
          <input type="text" class="form-control"
            datepicker-popup="dd/MM/yyyy" ng-model="prestation.date"
            is-open="prestation.opened" placeholder="DD/MM/YYYY" datepicker-options="{{dateOptions}}"
            close-text="Fermer" show-button-bar="false" ng-required="true"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event, prestation)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-action presta-autre">
      <div class="panel-body input-group">
        <input type="text" class="form-control" ng-model="currentLabel" placeholder="Autre prestation"/>
        <span class="input-group-btn">
          <button class="btn btn-default" ng-disabled="!currentLabel" ng-click="currentLabel && add()"><span class="glyphicon glyphicon-plus" ></span></button>
        </span>
      </div>
    </div>
  </div>
</div>

<nav-steps></nav-steps>
