<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>

  <div class="form-group">
    <label class="control-label" for="employeur-name">{{model.nom.label}}</label>
    <input type="text" name="employeurName" id="employeur-name" class="form-control" ng-model="model.nom.value" placeholder="Nom" required>
    <div ng-messages="questionForm.employeurName.$error" ng-if="questionForm.showError">
      <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="employeur-adresse">{{model.adresse.label}}</label>
    <textarea rows="4" name="employeurAdresse" id="employeur-adresse" class="form-control" ng-model="model.adresse.value" placeholder="Adresse" required></textarea>
    <div ng-messages="questionForm.employeurAdresse.$error" ng-if="questionForm.showError">
      <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
    </div>
  </div>

  <nav-steps
    ng-hide="hideSteps"
    profile="profilCtrl.profile"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-last-question="isLastQuestion" />

</form>
