<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>

  <table aria-label="Emploi du temps" class="table my-table-striped">
    <thead>
      <th></th>
      <th>Matin</th>
      <th>Midi</th>
      <th>Après-midi</th>
    </thead>
    <tbody>
      <tr ng-repeat="(idx, jour) in jours">
        <td>{{jour}}</td>
        <td>
          <input aria-label="{{jour}} matin" name="matin{{idx}}" type="text" class="form-control" ng-model="model.jours[idx]['matin']">
        </td>
        <td>
          <input aria-label="{{jour}} midi" name="midi{{idx}}" type="text" class="form-control" ng-model="model.jours[idx]['midi']">
        </td>
        <td>
          <input aria-label="{{jour}} après-midi" name="aprem{{idx}}" type="text" class="form-control" ng-model="model.jours[idx]['aprem']">
        </td>
      </tr>
    </tbody>
  </table>

  <nav-steps
    ng-hide="hideSteps"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />

</form>
