<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>

  <div class="answer form-horizontal" ng-repeat="(idx, etablissement) in model.etablissements">
    <input type="text" name="input{{idx}}" class="form-control" ng-model="etablissement.name" placeholder="Nom de l'établissement" required>
    <div ng-messages="questionForm['input' + idx].$error" ng-if="questionForm.showError">
      <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <label class="btn btn-default center-block" ng-click="addEtablissement()">+</label>
    </div>
  </div>

  <nav-steps ng-hide="hideSteps"></nav-steps>
</form>
