<form name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>
  <table aria-label="Etablissements de scolarité actuels" class="table my-table-striped">
    <thead>
      <th id="nom">Nom</th>
      <th id="rue">Rue</th>
      <th id="ville">Ville</th>
      <th id="duree">Depuis le</th>
    </thead>
    <tbody>
      <tr ng-repeat="(idx, etablissement) in model.etablissements">
        <td class="col-md-3">
          <input aria-labelledby="nom" name="nom{{idx}}" type="text" class="form-control" ng-model="etablissement.nom" placeholder="Nom de l'établissement" required>
          <div ng-messages="questionForm['nom' + idx].$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </td>
        <td class="col-md-3">
          <input aria-labelledby="rue" name="rue{{idx}}" type="text" class="form-control" ng-model="etablissement.rue" placeholder="Rue">
          <div ng-messages="questionForm['rue' + idx].$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </td>
        <td class="col-md-3">
          <input aria-labelledby="ville" name="ville{{idx}}" type="text" class="form-control" ng-model="etablissement.ville" placeholder="Ville" required>
          <div ng-messages="questionForm['ville' + idx].$error" ng-if="questionForm.showError">
            <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
          </div>
        </td>
        <td class="col-md-3">
          <input
            type="text"
            class="form-control"
            name="date{{idx}}"
            id="annee"
            required
            ng-model="etablissement.date"
            input-date
            date-autocomplete
            placeholder="JJ/MM/AAAA"
            aria-labelledby="duree"
            aria-describedby="help-annee">
          <div ng-messages="questionForm['date' + idx].$error" ng-if="questionForm.showError">
            <div class="help-block" id="help-annee" ng-message='inputDate'><i class="fa fa-warning"></i> Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.</div>
            <div class="help-block" id="help-annee" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          <button class="btn btn-default" ng-click="retirerEtablissement()" aria-label="Supprimer le dernier établissement" ng-if="model.etablissements.length > 1">
            <i class="fa fa-minus"></i> Supprimer le dernier établissement
          </button>
          <button class="btn btn-success" ng-click="ajouterEtablissement()" aria-label="Ajouter un établissement">
            <i class="fa fa-plus"></i> Ajouter un établissement
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav-steps ng-hide="hideSteps"></nav-steps>

</form>
