<form id="frais-handicap" name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>
  <em>{{question.placeholder}}</em>

  <table aria-label="Liste des frais liés au handicap" class="table my-table-striped">
    <thead>
      <th id="frais">Frais engagés</th>
      <th>
        <span id="montant1">Montant total</span>/
        <span id="frequence">Fréquence</span>
      </th>
      <th id="montant2">Montant remboursé</th>
      <th id="precisions">Précisions</th>
    </thead>
    <tbody>
      <tr ng-repeat="frais in model.listeFrais">
        <td>
          <input type="text" class="form-control" ng-model="frais.nom" placeholder="Libellé des frais" aria-labelledby="frais">
        </td>
        <td>
          <div class="flex-group">
            <input type="text" class="form-control flex-group-left" ng-model="frais.total" placeholder="Montant" aria-labelledby="montant1">
            <select class="form-control flex-group-right" ng-model="frais.frequence" aria-labelledby="frequence">
              <option value="Par jour"><a href="#">Par jour</a></option>
              <option value="Par semaine"><a href="#">Par semaine</a></option>
              <option value="Par mois"><a href="#">Par mois</a></option>
              <option value="Par an"><a href="#">Par an</a></option>
            </select>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="frais.rembourse" placeholder="Montant remboursé" aria-labelledby="montant2">
        </td>
        <td>
          <input type="text" class="form-control" ng-model="frais.detail" placeholder="Précisions" aria-labelledby="precisions">
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          <button class="btn btn-default" ng-click="retirerFrais()" aria-label="Supprimer le dernier frais" ng-if="model.listeFrais.length > 1">
            <i class="fa fa-minus"></i> Supprimer le dernier frais
          </button>
          <button class="btn btn-success" ng-click="ajouterFrais()" aria-label="Ajouter un frais">
            <i class="fa fa-plus"></i> Ajouter un frais
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>

  </div>

  <nav-steps ng-hide="hideSteps"></nav-steps>

</form>
