<form id="frais-handicap" name="questionForm" novalidate>
  <qtitle ng-hide="hideTitle"></qtitle>

  <profile-btn profile="profilCtrl.profile"></profile-btn>

  <em>{{question.placeholder}}</em>

  <table aria-label="Liste des frais liés au handicap" class="table my-table-striped">
    <thead ng-if="model.listeFrais.length > 0">
      <th id="frais">Frais engagés</th>
      <th>
        <span id="montant1">Montant total</span>/
        <span id="frequence">Fréquence</span>
      </th>
      <th id="montant2">Montant remboursé</th>
      <th id="precisions">Précisions</th>
    </thead>
    <tbody>
      <tr ng-repeat="frais in model.listeFrais">
        <td>
          <input type="text" class="form-control" ng-model="frais.nom" placeholder="Libellé des frais" aria-labelledby="frais">
        </td>
        <td>
          <div class="flex-group">
            <input type="text" class="form-control flex-group-left" ng-model="frais.total" placeholder="Montant" aria-labelledby="montant1">
            <select ng-init="frais.frequence = 'Par mois'" class="form-control flex-group-right" ng-model="frais.frequence" aria-labelledby="frequence">
              <option value="Par jour">Par jour</option>
              <option value="Par semaine">Par semaine</option>
              <option value="Par mois">Par mois</option>
              <option value="Par an">Par an</option>
            </select>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="frais.rembourse" placeholder="Montant remboursé" aria-labelledby="montant2">
        </td>
        <td>
          <input type="text" class="form-control" ng-model="frais.detail" placeholder="Précisions" aria-labelledby="precisions">
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-right">
          <button class="btn btn-default" ng-click="removeLine()" aria-label="Supprimer le dernier frais" ng-if="model.listeFrais.length > 1">
            <i class="fa fa-minus"></i> Supprimer le dernier frais
          </button>
          <button class="btn btn-success" ng-click="addLine()" aria-label="Ajouter un frais">
            <i class="fa fa-plus"></i> Ajouter un frais
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav-steps
    ng-hide="hideSteps"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />

</form>
