<form name="questionForm" novalidate>
  <fieldset>
    <legend ng-hide="hideTitle" class="question-legend">{{question.title}}</legend>

    <ul class="answers">
      <div class="answer" ng-repeat="answer in question.answers">
        <li
          class="btn-answer" ng-class="{'active': sectionModel[question.model] === answer.model}"
          ng-click="sectionModel[question.model] = answer.model"
          ng-if="profilCtrl.estAdulte || !answer.onlyAdult">
          <input type="radio" class="radio-answers" name="{{question.model}}" id="{{question.model}}-{{answer.model}}"
            ng-model="sectionModel[question.model]" ng-value="answer.model"
            ng-required="!sectionModel[question.model]"/>
          <label for="{{question.model}}-{{answer.model}}">{{answer.label}}</label>
        </li>

        <div class="well well-detail slide" ng-if="answer.detailUrl && sectionModel[question.model] === answer.model">
          <div ng-include="answer.detailUrl"></div>
        </div>
      </div>
    </ul>
  </fieldset>

  <div role="alert" ng-if="questionForm.showError && questionForm.$invalid" class="alert alert-danger">
    <ul>
      <li>Veuillez sélectionner une des options ou préciser votre réponse</li>
    </ul>
  </div>

  <nav-steps transclude ng-hide="hideSteps" hide-back="hideBack"></nav-steps>
</form>
