<qtitle ng-hide="hideTitle"></qtitle>

<div class="answer" ng-repeat="answer in question.answers"
  ng-if="isAdmin || !answer.onlyAdult || isAdult()">
  <button
    class="btn btn-default btn-block btn-answer text-capitalize"
    ng-model="formAnswers[section.id][question.model]"
    btn-radio="answer.value">
    <i class="fa" ng-class="{'fa-dot-circle-o': formAnswers[section.id][question.model] === answer.value, 'fa-circle-o': formAnswers[section.id][question.model] !== answer.value}"></i>
    {{answer.label}}
  </button>
  <div class="well well-detail slide" ng-if="answer.detailUrl && formAnswers[section.id][question.model] === answer.value">
    <div ng-include="answer.detailUrl"></div>
  </div>
</div>

<nav-steps ng-hide="hideSteps"></nav-steps>
