<form name="questionForm" novalidate>
  <fieldset>
    <legend ng-hide="hideTitle" class="question-legend">{{question.title}}</legend>

    <profile-btn profile="profilCtrl.profile"></profile-btn>

    <ul class="answers">
      <li
        class="btn-answer" ng-class="{'active': model['valeur'] === true}"
        ng-click="model['valeur'] = true">
        <input type="radio" class="radio-answers" name="{{question.model}}" id="{{question.model}}-oui"
          ng-model="model['valeur']" ng-value="true" ng-required="!model['valeur']"/>
        <label for="{{question.model}}-oui">Oui</label>
      </li>
      <div class="well well-detail slide" ng-if="model['valeur']">
        <table class="table my-table-striped">
          <thead ng-if="model.structures.length > 0">
            <th id="idLabelNomStructure">Nom de la structure</th>
            <th id="idQuestionContact" colspan="2">Etes-vous déjà en contact ?</th>
          </thead>
          <tbody>
            <tr ng-repeat="structure in model.structures">
              <td>
                <input type="text" class="form-control" ng-model="structure.name" placeholder="Nom de la structure" aria-labelledby="idLabelNomStructure">
              </td>
              <td>
                <button class="btn btn-default form-control btn-block" ng-model="structure.contact" btn-radio="'oui'" aria-labelledby="idQuestionContact">
                  Oui
                </button>
              </td>
              <td>
                <button class="btn btn-default form-control btn-block" ng-model="structure.contact" btn-radio="'non'" aria-labelledby="idQuestionContact">
                  Non
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">
                <button class="btn btn-default" ng-click="removeLine()" aria-label="Supprimer la dernière structure" ng-if="model.structures.length > 1">
                  <i class="fa fa-minus"></i> Supprimer la dernière structure
                </button>
                <button class="btn btn-success" ng-click="addLine()" aria-label="Ajouter une structure">
                  <i class="fa fa-plus"></i> Ajouter une structure
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <li class="btn-answer" ng-class="{'active': model['valeur'] === false}"
          ng-click="model['valeur'] = false">
        <input type="radio" name="{{question.model}}" id="{{question.model}}-non"
               ng-model="model['valeur']" ng-value="false" ng-required="!model['valeur']"/>
        <label for="{{question.model}}-non">Non</label>
      </li>
    </ul>
  </fieldset>

  <div role="alert" ng-if="questionForm.showError && questionForm.$invalid" class="alert alert-danger">
    <ul>
      <li>Veuillez sélectionner une des options ou préciser votre réponse</li>
    </ul>
  </div>

  <nav-steps
    ng-hide="hideSteps"
    profile="profilCtrl.profile"
    prev-step="prevStep"
    next-step="nextStep"
    question-form="questionForm"
    is-first-question="isFirstQuestion"
    is-last-question="isLastQuestion" />

</form>
