<form name="questionForm" novalidate>
  <label class="question-legend" for="inputid">{{question.title}}</label>

  <textarea type="text" name="inputname" id="inputid" class="form-control"
    rows="4" ng-model="sectionModel[question.model]" placeholder="{{question.placeholder}}" required></textarea>
  <div ng-messages="questionForm.inputname.$error" ng-if="questionForm.showError">
    <div class="help-block" ng-message='required'><i class="fa fa-warning"></i> Ce champ est obligatoire</div>
  </div>

  <nav-steps ng-hide="hideSteps"></nav-steps>
</form>
