<header class="banner bg" mdph-photo="{{gestionProfilCtrl.currentMdph.zipcode}}">
  <div class="hero-unit">
    <h1 ng-if="gestionProfilCtrl.currentMdph">Votre MDPH {{gestionProfilCtrl.currentMdph.name}}</h1>

    <p>Gérez vos demandes en ligne</p>

  </div>
</header>

<section class="section-gestion container-fluid">
  <div class="row">

    <div ng-class="{'col-md-2':!showMenu}" ng-if="!showMenu">
      <div class="icon-profil centre"/>
    </div>

    <div ng-class="{'col-md-10 border-left':!showMenu}">

      <div class="container-fluid">
        <div class="container-fluid breadcrump">
          <div class="breadcrump-section">
            <div ng-class="{'large': !showMenu}"  class="first right-arrow active">
              <span>Profils</span>
            </div>
          </div>
          <div class="breadcrump-section">
            <div ng-class="{'large': !showMenu}"  class="left-arrow last">
              <span>Demandes</span>
            </div>
          </div>
        </div>
      </div>

      <div class="icon-profil centre" ng-if="showMenu" />

      <div class="container-fluid" ng-class="{'border-top': showMenu}">
        <br/>
        <h2>Vos profils</h2>
        <div class="row" ng-repeat="(idx, profil) in gestionProfilCtrl.profils" ng-if="!showMenu">
          <div class="col-flex5 col-icon-profil left-radius" ng-click="gestionProfilCtrl.goProfil(profil)">{{ ::profil.getTitle() }}</div>
          <div class="col-flex3 col-item" ng-click="gestionProfilCtrl.goProfil(profil)">Créé le {{profil.createdAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-flex6 col-item right-radius" align="right" ng-click="gestionProfilCtrl.goProfil(profil)">{{ gestionProfilCtrl.showCurrentRequestStatus(profil) }}</div>
          <div class="col-flex2 col-action left-radius right-radius" align="center" ng-click="gestionProfilCtrl.deleteProfil(profil)">Supprimer</div>
        </div>
        <div class="smallRow" ng-repeat="(idx, profil) in gestionProfilCtrl.profils" ng-if="showMenu">
          <div class="col-flex11 col-icon-profil left-radius right-radius" ng-click="gestionProfilCtrl.goProfil(profil)">{{ ::profil.getTitle() }}</div>
          <div class="col-flex1 col-action left-radius right-radius" ng-click="gestionProfilCtrl.deleteProfil(profil)"></div>
        </div>
        <div class="row" ng-class="{'smallRow': showMenu}">
          <div class="col-md-12 col-new left-radius right-radius" ng-click="gestionProfilCtrl.createProfil()">Créer un nouveau profil *</div>
        </div>
        <div class="row" ng-class="{'smallRow': showMenu}" >
          <i class="note">* Le mode multi-profils permet d'effectuer des demandes pour plusieurs usagers</i>
        </div>

        <h2 ng-if="gestionProfilCtrl.deletedProfils.length > 0">Vos profils supprimés</h2>
        <div class="row" ng-repeat="(idx, deletedProfil) in gestionProfilCtrl.deletedProfils" ng-if="!showMenu">
          <div class="col-flex3 col-icon-profil-desabled  left-radius">{{ ::deletedProfil.getTitle() }}</div>
          <div class="col-flex6 col-item-desabled">Créé le {{deletedProfil.createdAt | date:'dd/MM/yyyy'}} - Supprimé le {{ deletedProfil.deletedAt | date:'dd/MM/yyyy'}}</div>
          <div class="col-flex5 col-item-desabled right-radius" align="right">{{ gestionProfilCtrl.showCurrentRequestSendedStatus(deletedProfil) }}</div>
          <div class="col-flex2 col-action-desabled left-radius right-radius" align="center">Profil supprimé</div>
        </div>
        <div class="smallRow" ng-repeat="(idx, deletedProfil) in gestionProfilCtrl.deletedProfils" ng-if="showMenu">
          <div class="col-flex1 col-icon-profil-desabled left-radius right-radius">{{ ::deletedProfil.getTitle() }}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-container">
  <mdph-map mdph="gestionProfilCtrl.currentMdph"/>
</section>

<section class="section-main section-text" id="en-savoir-plus">
  <h2>Votre demande en ligne à la MDPH</h2>
  <div>
    <p>La MDPH, c'est la Maison Départementale pour les Personnes Handicapées.
      Elle peut répondre aux besoins liés à votre handicap.</p>
    <p>Ce service vous permet de saisir votre demande et de la transmettre à votre MDPH pour qu'elle instruise votre dossier.</p>
    <p>Il vous permet de solliciter la MDPH en tant que bénéficiaire ou en tant que représentant légal d'un bénéficiaire.</p>
  </div>
</section>

<section class="section-main">
  <h2>En fonction de votre situation, vous pourrez peut-être bénéficier des droits suivants</h2>
  <liste-prestations />
</section>
