.backoffice-pj {
  &.selectable {
    cursor: pointer;
  }

  i.fa-muted {
    color: #999999;
    margin-right: 5px;
  }

  &:hover {
    i.fa-muted {
      color: $light-blue;
    }
  }
}

.searchbox {
  color: white;
  background-color: $lighter-blue;
}

.panel-primary-light {
  border-color: #333;
}
