<form id="profile-identites" aria-labelledby="infoPerso" name="infoForm" ng-submit="submit(infoForm)" novalidate>
  <h2>Détails de votre demande</h2>

  <p>Identitfiant de la demande: <strong>{{request.shortId}}</strong></p>

  <section class="identite-section">
    <div class="form-group required" ng-class="{'has-error': !request.mdph && infoForm.$submitted}">
      <fieldset>
        <legend class="control-label" id="request-mdph">Sélectionnez la MDPH destinaire de votre demande</legend>
        <select ng-options="mdph.code_departement as mdph.nom_du_departement group by mdph.nom_de_la_region for mdph in mdphs" name="request-mdph" class="form-control" id="request-mdph" ng-model="request.mdph" required></select>
      </fieldset>
      <div ng-if="!request.mdph && infoForm.$submitted">
        <p class="help-block">Ce champ est obligatoire.</p>
      </div>
    </div>
  </section>

  <section class="identite-section">

    <div class="documents-sections">
      <div ui-view="obligatoires"></div>
      <!-- <div ui-view="complementaires"></div>
      <div ui-view="suggestions"></div> -->
    </div>

  </section>

  <div class="identity-form-actions">
    <a ui-sref="^" class="btn btn-link" role="button">Annuler</a>
    <button type="submit" name="submit" alt="Valider" class="btn btn-success">Envoyer</button>
  </div>
</form>
