<div class="trajectoire-wrapper"
ng-class="{
  'sub-level': trjctrCtrl.sublevel,
  'main-level': !trjctrCtrl.sublevel}">
<div ng-repeat="question in trjctrCtrl.questions" ng-if="trjctrCtrl.filterQuestion(question)">
  <div class="question" ng-class="{'question-active': question.isSelected}">
    <button type="button" class="btn btn-link" ng-click="trjctrCtrl.toggleSelected(question, trjctrCtrl.questions)" ng-disabled="trjctrCtrl.readOnly">
      <i class="fa" ng-class="question.isSelected ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true" ng-if="trjctrCtrl.sublevel"></i>
      {{question.Question ? (question.Question | capitalizeString) : (question.Libelle | capitalizeString)}}
    </button>
    <button type="button" class="btn btn-link showOnHover" ng-click="trjctrCtrl.newIssue(trjctrCtrl.root, question)">
      Commenter
    </button>
    <button type="button" class="btn btn-link"
      ng-click="trjctrCtrl.sublevel ? trjctrCtrl.toggleCollapseSublevel(question, trjctrCtrl.questions) : trjctrCtrl.toggleCollapse(question, trjctrCtrl.questions)"
      ng-if="( !trjctrCtrl.sublevel || question.Reponses) && !trjctrCtrl.readOnly">
      <i class="fa" ng-class="question.isOpen ? 'fa-minus': 'fa-plus' "></i>
    </button>
  </div>

  <trajectoire
    ng-if="question.isOpen || question.isSelected || trjctrCtrl.hasQuestionSelected(question)"
    model="question.id"
    questions="question.Reponses"
    sublevel="true"
    new-issue="trjctrCtrl.newIssue"
    root="trjctrCtrl.getRootQuestion(question)"
    read-only="trjctrCtrl.readOnly" />
</div>
</div>
