.trajectoire-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(93, 93, 93, 0.21);

  &.main-level {
    width: 100%;
    float: right;

    > div {
      border: 1px solid #ddd;
    }

    > div:not(:last-child) {
      border-bottom: 5px solid white;
    }
  }

  &.sub-level {
    width: 95%;
    float: right;
    margin-bottom: 5px;
  }

  .question {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-link:first-child {
      flex-grow: 1;
      text-align: left;
    }
  }

  .question-active {
    background-color: #337ab7;
    border-color: #456179;
    .btn-link {
      color: #fff;
      &:disabled {
        opacity: 1;
      }
    }
  }
}
