<div class="trajectoire-wrapper"
ng-class="{
  'sub-level': trjctrCtrl.sublevel,
  'main-level': !trjctrCtrl.sublevel}">
<div ng-repeat="question in trjctrCtrl.questions" ng-if="trjctrCtrl.filterQuestion(question)">
  <div class="question" ng-class="{'question-active': question.isSelected}">
    <button type="button" class="btn btn-link" ng-click="trjctrCtrl.toggleSelected(question)" ng-disabled="trjctrCtrl.readOnly">
      <i class="fa" ng-class="question.isSelected ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true" ng-if="!question.Reponses && trjctrCtrl.sublevel"></i>
      {{question.Question ? (question.Question | capitalizeString) : (question.Libelle | capitalizeString)}}
    </button>
    <button type="button" class="btn btn-link showOnHover" ng-click="trjctrCtrl.newIssue(trjctrCtrl.root, question)">
      Commenter
    </button>
    <button type="button" class="btn btn-link"
      ng-click="!trjctrCtrl.sublevel ? trjctrCtrl.toggleCollapse(question) : trjctrCtrl.toggleCollapseSublevel(question)"
      ng-if="( !trjctrCtrl.sublevel || question.Reponses) && !trjctrCtrl.readOnly">
      <i class="fa" ng-class="((!trjctrCtrl.sublevel && trjctrCtrl.isCurrentQuestion(question) )  || trjctrCtrl.sublevel && trjctrCtrl.isCurrentSubQuestion(question) ) ?  'fa-minus': 'fa-plus' "></i>
    </button>
  </div>

  <trajectoire
    ng-if="((!trjctrCtrl.sublevel && trjctrCtrl.isCurrentQuestion(question) )  || trjctrCtrl.sublevel && trjctrCtrl.isCurrentSubQuestion(question) ) || question.isSelected "
    model="question.id"
    questions="question.Reponses"
    sublevel="true"
    new-issue="trjctrCtrl.newIssue"
    current-question-id="trjctrCtrl.currentQuestionId"
    current-sub-question-id="trjctrCtrl.currentSubQuestionId"
    root="trjctrCtrl.getRootQuestion(question)"
    read-only="trjctrCtrl.readOnly" />


</div>
</div>
