.detail-main {
  padding: 0 20px 20px 20px;
}

.detail-tab {
  padding-top: 20px;
}

.dashboard-demande-header {
  .header-details {
    @extend .well;
    margin-bottom: 10px;

    p {
      margin: 0;
      strong {
        font-wight: 500;
      }
    }
  }

  .header-actions {
    margin-bottom: 10px;
  }

  .status-actions-container {
    background-color: $bg-blue;
    padding: 10px;
    color: white;
  }

  .status-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .status-action {
      @extend .box-shadow-z1;

      a {
        display: flex;

        div {
          padding: 8px 12px;
          background-color: white;

          &.action-icon {
            color: white;

            &.action-icon-success {
              background-color: $green;
            }

            &.action-icon-danger {
              background-color: $lighter-red;
            }
          }
        }
      }
    }
  }

}
