<div class="list-header">
  <div class="dashboard-demande-header">
    <div class="detail">
      <h2><strong>{{request.formAnswers.identites.beneficiaire.nom | capitalize}} {{request.formAnswers.identites.beneficiaire.prenom | capitalize}}</strong> - {{request.shortId}}</h2>
      <div class="header-actions">
        <a target="_blank"
          class="btn btn-primary"
          href="api/requests/{{request.shortId}}/pdf/{{pdfName}}?access_token={{token}}"
          download>
          <i class="fa fa-download"></i>&nbsp;Télécharger
        </a>
        <button class="btn btn-link" ng-click="toggleDetail()">{{showDetail ? 'Cacher' : 'Afficher'}} détails</button>
      </div>
      <div class="alert alert-info" ng-show="showDetail">
        <p>Identitfiant <strong>{{request.shortId}}</strong></p>
        <p ng-if="request.formAnswers.identites">Bénéficiaire <strong>{{request.formAnswers.identites.beneficiaire.nom | capitalize}} {{request.formAnswers.identites.beneficiaire.prenom | capitalize}}</strong></p>
        <p ng-if="!request.formAnswers.identites"><em>Demande incomplète - Identité non remplies</em></p>
        <p>Effectuée par <strong>{{request.user.email}}</strong></p>
        <p>
          <span ng-if="request.submittedAt">
            Envoyée le <strong>{{request.submittedAt | date: format: timezone}}</strong>,
          </span>
          Dernière mise à jour le <strong>{{request.updatedAt | date: format: timezone}}</strong>
        </p>
      </div>
    </div>
    <div ng-switch="request.status" class="status-actions-container">
      <div ng-switch-when="emise">
        <div class="status-actions">
          <h3>Demande émise</h3>
          <a class="btn btn-primary" ui-sref=".documents">
            <i class="fa fa-envelope"></i>&nbsp;Préparer l'accusé de réception
          </a>
        </div>
      </div>
      <div ng-switch-when="enregistree">
        <div class="status-actions">
          <h3>Demande enregistrée</h3>
        </div>
      </div>
      <div ng-switch-when="en_attente_usager">
        <div class="status-actions">
          <h3>Demande en attente</h3>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="detail-main">
  <!-- <ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active="active"><a ui-sref=".pre_evaluation">Récapitulatif</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".documents">Documents associés</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".evaluation">Synthèse de l'évaluation</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".history">Vie de la demande</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref=".comments">Commentaires</a></li>
  </ul> -->

  <div class="detail-tab">
    <div ui-view></div>
  </div>
</div>
