<div class="form-horizontal" role="form" ng-controller="CmCliniqueCtrl">
  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_poids">Poids</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="number" name="clinique_poids" min="0" integer ng-model="certificat.clinique.poids" class="form-control">
        <span class="input-group-addon">kg</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div ng-messages="form.clinique_poids.$error" class="control-label">
        <div ng-message="number">Vous n'avez pas entré un chiffre</div>
        <div ng-message="min">Le poids entré est invalide</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_taille">Taille</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="number" name="clinique_taille" min="0" max="250" integer ng-model="certificat.clinique.taille" class="form-control">
        <span class="input-group-addon">cm</span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_lateralite">Latéralité dominante avant handicap</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="clinique_lateralite" ng-model="certificat.clinique.lateralite" value="gauche"> Gauche
      </label>
      <label class="radio-inline">
        <input type="radio" name="clinique_lateralite" ng-model="certificat.clinique.lateralite" value="droite"> Droite
      </label>
    </div>
  </div>

  <table class="table table-bordered">
    <tr class="primary-row">
      <th rowspan="2">Description des signes cliniques invalidants</th>
      <th colspan="3">
        Fréquence
      </th>
    </tr>
    <tr class="sub-primary-row">
      <th>Permanents</th>
      <th>Réguliers<br><small>&gt15j par mois</small></th>
      <th>Ponctuels<br><small>&lt15j par mois</small></th>
    </tr>
    <tr ng-repeat="description in descriptions">
      <td><input type="text" class="form-control" ng-model="description.name"></td>
      <td class="radio-td">
        <input type="radio" ng-model="description.frequence" value="permanent"></input>
      </td>
      <td class="radio-td">
        <input type="radio" ng-model="description.frequence" value="regulier"></input>
      </td>
      <td class="radio-td">
        <input type="radio" ng-model="description.frequence" value="ponctuel"></input>
      </td>
    </tr>
    <tr class="primary-row">
      <td class="action-td" colspan="4" ng-click="addDescription()">
        <i class="fa fa-plus"></i> Plus
      </td>
    </tr>
  </table>

  <div class="form-group">
    <label for="clinique_precisions" class="col-sm-4 control-label">Précisions</label>
    <div class="col-sm-8">
      <input name="clinique_precisions" type="text" class="form-control" id="clinique_precisions" ng-model="certificat.clinique.precisions">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="clinique_perspective">Perspective d'évolution globale</label>
    <div class="col-sm-8">
      <label class="radio-inline" ng-repeat="perspective in perspectives">
        <input type="radio" name="clinique_perspective" ng-model="certificat.clinique.perspective" value="{{perspective.id}}"> {{perspective.label}}
      </label>
      <br ng-if="perspective.br">
    </div>
  </div>

  <div class="form-group">
    <label for="clinique_pj" class="col-sm-4 control-label">Comptes-rendus joints</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <input type="file" id="clinique_pj" ng-model="certificat.clinique.pj">
        </div>
        <div class="col-sm-12">
          <input class="form-control" ng-model="certificat.clinique.pjDetail" type="text" placeholder="Préciser">
        </div>
      </div>
    </div>
  </div>
</div>