#pre-evaluation {
  margin-bottom: 10px;

  section {
    background-color: #4A4C56;
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 10px;

    h2 {
      padding-left: 10px;
      margin: 20px 0;

      span {
        font-size: 25px;
      }
    }

    .content {
      background-color: white;
      color: black;
      padding: 15px;
      border-radius: 5px;

      h3 {
        margin-top: 0;
      }

      .btn > i{
        margin-right: 10px;
      }
    }
  }
}
