<div class="row prestations">
  <div ng-repeat="(idx, prestation) in prestations">
    <div ng-class="{'col-sm-3': width === 4, 'col-sm-4': width === 3}">
      <div class="panel panel-default"
        ng-class="editable ? 'panel-action ' +  prestation.type : prestation.type">
        <div class="panel-heading" ng-click="editable && toggle(prestation)">
          <h3 class="panel-title">
            <div class="row">
              <div class="col-xs-10">{{prestation.title}}</div>
              <div class="col-xs-1"><i class="fa" ng-if="editable"
                ng-class="{'fa-plus-circle': !isSelected(prestation), 'fa-minus-circle': isSelected(prestation)}"></i>
              </div>
            </div>
          </h3>
        </div>
        <div ng-if="!hideDetailPrestations">
          <div class="panel-body" ng-if="!isSelected(prestation) || !editable">
            <p>{{prestation.description}}</p>
            <div class="text-center" ng-if="prestation.link">
              <a href="{{prestation.link}}" target="_blank">
                <span class="glyphicon glyphicon-info-sign"></span> Plus d'infos
              </a>
            </div>
          </div>
          <div class="panel-body" ng-if="isSelected(prestation) && editable && endDate">
            <label>Date de fin</label>
            <div class="input-group">
              <input type="text" class="form-control"
                datepicker-popup="dd/MM/yyyy" ng-model="formAnswers.prestations[prestation.id].date"
                is-open="prestation.opened" placeholder="DD/MM/YYYY" datepicker-options="{{dateOptions}}"
                close-text="Fermer" show-button-bar="false" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, prestation)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="panel-body" ng-if="isSelected(prestation) && editable && !endDate">
            <label>{{prestation.title}}</label>
          </div>

          <div class="panel-footer" ng-show="{{prestation.renouvellement}}" ng-if="!editable">
            {{prestation.descRenouvellement}}
          </div>
        </div>
      </div>
    </div>
    <div ng-if="idx % width === width - 1" class="clearfix"></div>
  </div>
</div>
