.issue-wrapper {
  padding: 3em 2em;
  background-color: whitesmoke;

  .issue {
    background-color: white;
    border-radius: 2px;
    padding: 20px;
  }

  .issue.closed {
    background-color: whitesmoke;
    color: #999;
  }

  h3 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .small {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .issue+.issue {
    margin-top: 20px;
  }
}
