<div class="modal-header">
  <h1 class="modal-title">Demande de certificat médical</h1>
</div>

<form id="formEmailMedic" name="formEmailMedic" ng-submit="medicModalCtrl.ok(formEmailMedic)" novalidate>
  <div class="modal-body">
    <div class="form-group required" ng-class="{'has-error': formEmailMedic.email.$invalid && formEmailMedic.$submitted}">
      <label for="emailMedic" class="control-label">Adresse email de votre médecin : </label>
      <input id="emailMedic" class="form-control" type="email" name="email" ng-model="medicModalCtrl.emailMedic" required></input>
      <div ng-messages="formEmailMedic.email.$error" ng-if="formEmailMedic.$submitted">
        <p class="help-block" ng-message='required'>Ce champ est obligatoire.</p>
        <p class="help-block" ng-message='email'>L'adresse email saisie est incorrecte.</p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="medicModalCtrl.cancel()">Annuler</button>
    <button type="submit" class="btn btn-success">Envoyer une demande de certificat médical</button>
  </div>
</form>
