<div class="step-body-head">
  <h2>{{step.desc}}</h2>
</div>

<div class="step-body-content">
  <div ng-if="!request._id">
    <div ui-view="login"></div>
  </div>

  <div ng-if="request._id">
    <div ui-view="en_cours" ng-if="request.status === 'en_cours'"></div>
    <div ui-view="emise" ng-if="request.status === 'emise'"></div>
  </div>
</div>

<div class="section-footer">
  <a ng-if="step.previous" ui-sref="^.{{step.previous.id}}">
    <i class="fa fa-long-arrow-left"></i> {{step.previous.label}}
  </a>
  <a ng-if="step.next" ui-sref="^.{{step.next.id}}">
    {{step.next.label}} <i class="fa fa-long-arrow-right"></i>
  </a>
</div>
