<div ng-if="request.status === 'en_cours'">

  <ul class="list-prestations">

    Les droits et les prestations délivrés par la commission des droits et de l’autonomie des personnes
    handicapées sont soumis à certaines conditions, notamment liées à l’âge :

    <div class="well">
      <h3>Demandes relatives à la vie quotidienne</h3>
      <h3>Vous avez moins de 20 ans :</h3>

      <li>
        <prestation ng-model="demandectrl.aeeh"></prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.pch"></prestation>
      </li>

      <div class="well-detail-darker">

        <h6>Carte mobilité inclusion</h6>

        <ul class="list-prestations">

          <li>
            <prestation ng-model="demandectrl.carteinvalidite"></prestation>
          </li>

          <li>
            <prestation ng-model="demandectrl.cartestationnement"></prestation>
          </li>

        </ul>

      </div>

      <li>
        <prestation ng-model="demandectrl.av"></prestation>
      </li>

    </div>

    <div class="well">
      <h3>Demandes relatives à la vie quotidienne</h3>
      <h3>Vous avez plus de 20 ans :</h3>
      <li>
        <prestation ng-model="demandectrl.aah"></prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.complement"></prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.sms"></prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.ems"></prestation>
      </li>


      <li>
        <div class="well-detail-darker">

          <h6>Allocation Compensatrice (AC)</h6>

          <ul class="list-prestations">
            <li>
              <prestation ng-model="demandectrl.ac"></prestation>
            </li>

            <li>
              <prestation ng-model="demandectrl.acfp"></prestation>
            </li>

          </ul>

        </div>
      </li>

      <li>
        <prestation ng-model="demandectrl.pch"></prestation>
      </li>

      <div class="well-detail-darker">

        <h6>Carte mobilité inclusion</h6>

        <ul class="list-prestations">

          <li>
            <prestation ng-model="demandectrl.carteinvalidite"></prestation>
          </li>

          <li>
            <prestation ng-model="demandectrl.cartestationnement"></prestation>
          </li>

        </ul>

      </div>

      <li>
        <prestation ng-model="demandectrl.av"></prestation>
      </li>


    </div>

  </ul>

  <ul class="list-prestations">

    <div class="well">

      <h3>Demandes relatives à la vie scolaire</h3>

      <li>
        <prestation ng-model="demandectrl.pps"></prestation>
      </li>

    </div>

    <div class="well">

      <h3>Demandes relatives au travail, à l’emploi et à la formation professionnelle</h3>

      <li>
        <prestation ng-model="demandectrl.rqth"></prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.orp"></prestation>
      </li>

      <div class="well-detail-darker">

        <h6>Orientation professionnelle</h6>

        <ul class="list-prestations">

          <li>
            <prestation ng-model="demandectrl.crp_cpo_ueros"></prestation>
          </li>

          <li>
            <prestation ng-model="demandectrl.esat"></prestation>
          </li>

          <li>
            <prestation ng-model="demandectrl.marche_travail"></prestation>
          </li>

          <li>
            <prestation ng-model="demandectrl.marche_travail_acc"></prestation>
          </li>

        </ul>

      </div>

      <li>
        <prestation ng-model="demandectrl.formation"></prestation>
      </li>

      <div>
        « Le dispositif emploi accompagné propose un accompagnement médico-social et un soutien à l’insertion professionnelle du travailleur handicapé et à son employeur. Peuvent être bénéficiaires de ce dispositif les travailleurs handicapés :
        <ul>
          <li>ayant un projet d’insertion en milieu ordinaire de travail,</li>
          <li>accueillis dans un établissement ou service d’aide par le travail ayant un projet d’insertion en milieu ordinaire de travail,</li>
          <li>déjà en emploi en milieu ordinaire de travail, rencontrant des difficultés particulières pour sécuriser leur insertion professionnelle.»</li>
        </ul>
      </div>

    </div>

  </ul>
</div>

<div ng-if="request.status !== 'en_cours'">
  <h4 ng-show="request.detailPrestations">Nouvelles prestations</h4>
  <div ng-repeat="prestation in request.detailPrestations">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>

  <h4 ng-show="request.detailRenouvellements">Renouvellements de prestations</h4>
  <div ng-repeat="prestation in request.detailRenouvellements">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>
</div>
