<div ng-if="request.status === 'en_cours'">

  <ul class="list-prestations">

    <div class="well">

      <h3>Demandes relatives à la vie quotidienne</h3>

      <li>
        <prestation ng-model="demandectrl.aeeh"
                    id="aeeh"
                    titre="Allocation d’Education de l’Enfant Handicapé (AEEH) voire un de ses compléments"
                    link="http://vosdroits.service-public.fr/particuliers/N14808.xhtml">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.sms"
                    id="sms"
                    titre="Orientation en Etablissements et Services médico-sociaux"
                    link="http://www.cnsa.fr/accompagnement-en-etablissement-et-service/les-etablissements-et-les-services-medico-sociaux">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.ems"
                    id="ems"
                    titre="Accompagnement par un service ou établissement médico-social"
                    link="http://www.cnsa.fr/accompagnement-en-etablissement-et-service/les-etablissements-et-les-services-medico-sociaux">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.pch"
                    id="pch"
                    titre="Prestation de Compensation du Handicap (PCH)"
                    link="http://vosdroits.service-public.fr/particuliers/N14201.xhtml">
        </prestation>
      </li>


      <li>
        <div class="well-detail-darker">

          <h6>Allocation Compensatrice (AC)</h6>

          <ul class="list-prestations">
            <li>
              <prestation ng-model="demandectrl.ac"
                          id="ac"
                          titre="Allocation Compensatrice pour Tierce Personne (ACTP)"
                          link="http://vosdroits.service-public.fr/particuliers/F2475.xhtml">
              </prestation>
            </li>

            <li>
              <prestation ng-model="demandectrl.acfp"
                          id="acfp"
                          titre="Allocation Compensatrice pour Frais Professionnels (ACFP)"
                          link="https://www.service-public.fr/particuliers/vosdroits/F1657">
              </prestation>
            </li>

          </ul>

        </div>
      </li>

      <li>
        <prestation ng-model="demandectrl.aah"
                    id="aah"
                    titre="Allocation aux Adultes Handicapés (AAH)"
                    link="http://vosdroits.service-public.fr/particuliers/N12230.xhtml">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.complement"
                    id="complement"
                    titre="Complément de ressources"
                    link="https://www.service-public.fr/particuliers/vosdroits/F12911">
        </prestation>
      </li>


      <li>
        <div class="well-detail-darker">

          <h6>Carte mobilité inclusion</h6>

          <ul class="list-prestations">

            <li>
              <prestation ng-model="demandectrl.carteinvalidite"
                          id="carteinvalidite"
                          titre="Mention invalidité ou priorité"
                          link="http://vosdroits.service-public.fr/particuliers/F2446.xhtml">
              </prestation>
            </li>

            <li>
              <prestation ng-model="demandectrl.cartestationnement"
                          id="cartestationnement"
                          titre="Stationnement"
                          link="http://vosdroits.service-public.fr/particuliers/F2891.xhtml">
              </prestation>
            </li>

          </ul>

        </div>
      </li>

      <li>
        <prestation ng-model="demandectrl.av"
                    id="av"
                    titre="Affiliation gratuite à l'assurance vieillesse (AVPF)"
                    link="http://vosdroits.service-public.fr/particuliers/F2574.xhtml">
        </prestation>
      </li>

    </div>

    <div class="well">

      <h3>Demandes relatives à la vie scolaire</h3>

      <li>
        <prestation ng-model="demandectrl.sms_enfant"
                    id="sms_enfant"
                    titre="Parcours de scolarisation et/ou de formation avec ou sans accompagnement par un établissement ou service médico-social."
                    link="http://vosdroits.service-public.fr/particuliers/F2574.xhtml">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.pps"
                    id="pps"
                    titre="Plan personnalisé de scolarisation"
                    link="http://vosdroits.service-public.fr/particuliers/F2574.xhtml">
        </prestation>
      </li>

    </div>

    <div class="well">

      <h3>Demandes relatives au travail, à l’emploi et à la formation professionnelle</h3>

      <li>
        <prestation ng-model="demandectrl.rqth"
                    id="rqth"
                    titre="Reconnaissance de la Qualité de Travailleur Handicapé (RQTH)"
                    link="http://vosdroits.service-public.fr/particuliers/F1650.xhtml">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.orp"
                    id="orp"
                    titre="Orientation professionnelle"
                    link="https://www.service-public.fr/particuliers/vosdroits/F211">
        </prestation>
      </li>

      <li>
        <prestation ng-model="demandectrl.formation"
                    id="formation"
                    titre="Formation professionnelle"
                    link="https://www.service-public.fr/particuliers/vosdroits/N198">
        </prestation>
      </li>

    </div>

  </ul>

  <div ng-if="request.status !== 'en_cours'">
    <h4 ng-show="request.detailPrestations">Nouvelles prestations</h4>
    <div ng-repeat="prestation in request.detailPrestations">
      <dl class="demande-prestations">
        <dt>{{prestation.title}}</dt>
        <dd>{{prestation.description}}</dd>
      </dl>
    </div>

    <h4 ng-show="request.detailRenouvellements">Renouvellements de prestations</h4>
    <div ng-repeat="prestation in request.detailRenouvellements">
      <dl class="demande-prestations">
        <dt>{{prestation.title}}</dt>
        <dd>{{prestation.description}}</dd>
      </dl>
    </div>
  </div>
