<div ng-if="request.status === 'en_cours'">
  <div ng-repeat="(type, prestations) in types">
    <h4>{{type | prestationType}}</h4>

    <ul class="list-prestations">
      <li ng-repeat="prestation in prestations">
        <div class="input">
          <input type="checkbox" ng-model="prestation.choice" name="{{prestation.id}}" id="{{prestation.id}}" />
        </div>

        <div class="detail">
          <label for="{{prestation.id}}">{{prestation.title}}</label>&nbsp;&nbsp;<a target="_blank" href="{{prestation.link}}">En savoir plus <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <div class="text-justify">
            <div ng-if="prestation.choice">
              <input ng-disabled="!prestation.choice" type="checkbox" ng-model="prestation.renouvellement" name="{{prestation.id}}-renouvellement" id="{{prestation.id}}-renouvellement" />
              <label for="{{prestation.id}}-renouvellement">Je perçois déjà cette prestation</label>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div ng-if="request.status !== 'en_cours'">
  <h4 ng-show="request.detailPrestations">Nouvelles prestations</h4>
  <div ng-repeat="prestation in request.detailPrestations">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>

  <h4 ng-show="request.detailRenouvellements">Renouvellements de prestations</h4>
  <div ng-repeat="prestation in request.detailRenouvellements">
    <dl class="demande-prestations">
      <dt>{{prestation.title}}</dt>
      <dd>{{prestation.description}}</dd>
    </dl>
  </div>
</div>
