.well-detail-darker {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;

  .row {
    margin-bottom: 4px;
  }

  h6 {
    margin-top: 0;
  }
}
