ul.list-prestations {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    > div.input {
      padding: 0 10px;
    }

    > div.detail {
      label {
        font-weight: 200;
      }

      > .text-justify {
        font-size: 13px;
      }
    }

    a {
      font-size: 13px;
    }
  }
}
