<div class="questionnaire">
  <h1 class="page-header">
    A l’attention des médecins
  </h1>

  <p class="text-justify">
    Ce nouveau certificat médical MDPH est expérimenté depuis octobre 2014 dans les départements du Calvados et du Nord et remplace le formulaire Cerfa N° 13878*01.
    <br>
    Vous pouvez le remplir directement en ligne ce qui vous donne la possibilité de le conserver dans votre ordinateur, et de reprendre son contenu pour le modifier lors d’une demande ultérieure du même patient.
    <br>
    Ce service vous permet également de télétransmettre ce certificat à la MDPH.
  </p>

  <h2>Étape 1 : remplir le certificat médical en ligne</h2>
  <p class="text-justify">
    Vous pouvez télécharger ce certificat ci-dessous et saisir les informations directement dans le document. Pensez à l’enregistrer sur votre ordinateur.
    <br>
    Condition requise pour accéder au document interactif :
    <a href="http://www.adobe.com/go/getreader" title="Télécharger Adobe Reader">
      disposer d’Adobe Reader version minimale XI
    </a>.
  </p>
  <p>
    <a class="btn btn-primary" target="_blank" download href="/assets/documents/CM.pdf">
      Télécharger le nouveau certificat
    </a>
  </p>

  <h2>Étape 2 : accéder au dossier de demande en ligne de votre patient</h2>
  <p class="text-justify">
    Pour joindre ce certificat rempli à une demande, il vous suffit de demander à votre patient son nom et la référence de sa demande en ligne (8 charactères, chiffres et lettres, ex: <em>Qyq1v096</em>).
    Si toutefois vous le préférez, vous pouvez imprimer et signer ce certificat, et le remettre à votre patient.
  </p>

  <h2>Étape 3 : télé-transmettre le certificat à la MDPH</h2>
  <p class="text-justify">
    Pour télétransmettre, vous devez renseigner votre adresse email. Une fois le certificat ajouté, un mail vous sera envoyé afin que vous confirmiez l'ajout du document. Le certificat ne sera ajouté à la demande que si le mail envoyé sur votre boîte mail est validé.
  </p>
  <p>
    <strong>La MDPH pourra vérifier l'authenticité du certificat avec vos numéros RPPS et ADELI.</strong>
  </p>

  <p class="text-justify">
    Si toutefois vous le préférez, vous pouvez imprimer et signer ce nouveau certificat, et le remettre à votre patient.
    <br>
    Pour information, le certificat médical actuel N° 13878*01 reste valable. Vous pouvez le remplir et le signer, votre patient devra le scanner pour le joindre à sa demande en ligne.
  </p>

  <br>

  <h1 class="page-header">
    Attacher un certificat médical à une demande en ligne
  </h1>
  <form class="form" name="form" ng-submit="enterShortId(form)" novalidate>
    <div class="form-group">
      <label>Référence demande du patient</label>
      <input type="text" name="shortId" class="form-control" ng-model="shortId" placeholder="Ex: Qyq1v096" required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.shortId.$error.required && form.$submitted">
         Veuillez saisir la référence demande du patient.
      </p>
    </div>

    <div class="form-group">
      <label for="inputEmail">Votre e-mail</label>
      <input type="email" class="form-control" name="inputEmail" placeholder="Ex: email@domaine.fr" required ng-model="partenaire.email">
    </div>

    <div class="form-group has-error">
      <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.email && form.$submitted">
        <p class="help-block">L'adresse email saisie est incorrecte.</p>
      </div>

      <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.required && form.$submitted">
        <p class="help-block">L'adresse email est obligatoire.</p>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" type="submit">
        Valider
      </button>
    </div>
  </form>
</div>
