.partenaire-view {
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cm-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .link-img {
    height: 200px;
  }

  img {
    height: 100%;
  }

  .download-button {
    margin: 10px;
  }

  .requirement {
    font-size: 0.8em;
  }

  .warning-box-flex {
    display: flex;
    align-items: center;

    i {
      font-size: 2em;
      margin-right: 10px;
    }
  }
}
