<div class="questionnaire">
  <h1 class="page-header">
    A l’attention des médecins
  </h1>

  <p class="text-justify">
    Ce nouveau certificat médical MDPH est en cours d’expérimentation et vise à remplace le Cerfa N° 13878*01.
    <br>
    Il permet :
    <ul>
      <li>Un remplissage direct en ligne</li>
      <li>Une historisation du document sur votre poste de travail, dans vos dossiers patients</li>
      <li>Un pré-remplissage lors d’une demande ultérieure du même patient</li>
      <li>Une télétransmission à la MDPH</li>
    </ul>
  </p>

  <h2>Étape 1 : remplir le certificat médical en ligne</h2>
  <p class="text-justify">
    Vous pouvez télécharger ce certificat ci-dessous et saisir les informations directement dans le document. Pensez à l’enregistrer sur votre ordinateur.
    <br>
    Condition requise pour accéder au document interactif :
    <a href="http://www.adobe.com/go/getreader" title="Télécharger Adobe Reader">
      disposer d’Adobe Reader version minimale XI
    </a>.
  </p>
  <p>
    <a class="btn btn-primary" target="_blank" download href="/assets/documents/CM.pdf">
      Télécharger le nouveau certificat
    </a>
  </p>

  <h2>Étape 2 : joindre le certificat médical à la demande de votre patient</h2>
  <p class="text-justify">
    Une fois le certificat rempli, pour le joindre à la demande de votre patient, saisissez :
  </p>

  <form class="form" name="form" ng-submit="enterShortId(form)" novalidate>
    <div class="form-group">
      <label>La référence demande du patient</label>
      <input type="text" name="shortId" class="form-control" ng-model="shortId" placeholder="8 caractères, chiffres et lettres, ex: Qyq1v096" required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.shortId.$error.required && form.$submitted">
         Veuillez saisir la référence demande du patient.
      </p>
    </div>

    <div class="form-group">
      <label for="inputEmail">Votre e-mail</label>
      <input type="email" class="form-control" name="inputEmail" placeholder="Ex: email@domaine.fr" required ng-model="partenaire.email">
    </div>

    <div class="form-group has-error">
      <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.email && form.$submitted">
        <p class="help-block">L'adresse email saisie est incorrecte.</p>
      </div>

      <div ng-messages="form.inputEmail.$error" ng-if="form.inputEmail.$error.required && form.$submitted">
        <p class="help-block">L'adresse email est obligatoire.</p>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" type="submit">
        Valider
      </button>
    </div>
  </form>

  <h2>Étape 3 : télé-transmettre le certificat à la MDPH</h2>
  <p class="text-justify">
    Une fois le certificat ajouté, un mail vous sera automatiquement envoyé pour vous authentifier et pour que vous confirmiez l'ajout du document.
    <br>
    <i class="fa fa-warning"></i> Le certificat ne sera ajouté à la demande que si le mail envoyé sur votre boîte mail est validé.
  </p>
  <p>
    <strong>La MDPH pourra vérifier l'authenticité du certificat avec vos numéros RPPS et ADELI.</strong>
  </p>
</div>
