<div class="container">
  <form name="form" no-validation>
    <div class="row">
      <div class="col-sm-5">
        <div affix>
          <pagemenu class="quitus-pagemenu" ng-if="showPagemenu"></pagemenu>
          <div class="btn btn-primary" ng-click="submit()">
            Calculer les prestations
          </div>
          <div class="btn btn-success" ng-click="createTest()">
            Enregistrer
          </div>
          <div class="result" ng-if="prestations.length > 0">
            Liste des prestations :
            <ul>
              <li ng-repeat="prestation in prestations">
                {{prestation.label}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-7" pageitems selector="pageitem" topmargin="20">
        <div class="section-quitus" ng-repeat="section in sections">
          <h1 id="{{section.id}}" class="pageitem">{{section.label}}</h1>
          <div class="question-quitus"
            ng-repeat="question in questionsBySectionId[section.id]"
            ng-if="question.titleDefault && question.neededForAdmin">
            <h2 id="{{section.id + '-' + question.model}}" class="pageitem subpageitem">{{question.titleDefault}}</h2>
            <div ng-include="getTemplate(question)"></div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
