.section-quitus {
  h1 {
    font-size: 19px;
    background-color: lighten($light-blue, 20%);
    padding: 10px;
    color: white;
    border-bottom: 1px solid lighten($light-blue, 15%);
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  h2 {
    margin-top: 0;
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    background-color: lighten($light-blue, 70%);
    padding: 10px;
    border-bottom: 4px solid lighten($light-blue, 65%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .question-quitus {
    margin-bottom: 10px;
  }

  .btn-answer {
    border: none;
    border-radius: 0;
    box-shadow: none;

    &.active {
      border: none;
      background-color: whitesmoke;
    }
  }

  .well {
    border: none;
  }
}

.result {
  margin-top: 20px;
  font-size: 13px;
}

.affix {
  top: 10px;
  margin-top: 0;
}
