<div class="pull-right send-json">
  <div class="text-center">
    <small><a href="mailto:del.florian+impact@gmail.com?subject=Simulation&body={{encode($storage)}}">Envoyer la simulation courante</a></small>
  </div>
</div>

<div class="page-header text-center">
  <h4>Merci d'avoir rempli votre dossier</h4>
</div>

<div id="#quitus" ng-if="prestations">
  <div>
    <p>
      Compte-tenu des attentes et des besoins que vous avez exprimé, les droits et prestations suivants seront automatiquement étudiés par l’équipe d’évaluation de la MDPH.
    </p>
    <p>
      Cette liste est informative, lors de l’étude de votre demande, l’équipe d’évaluation de la MDPH pourra étudier d’autres droits ou prestations répondant à vos besoins.
    </p>
  </div>

  <div class="row">
    <div class="col-sm-4 prestations" ng-repeat="prestation in prestations">
      <div class="panel panel-default panel-closed" ng-class="prestation.type">
        <div class="panel-heading" tooltip="{{prestation.description}}">
          <h3 class="panel-title">{{prestation.label}}
            <a ng-if="prestation.link" href="{{prestation.link}}" target="_blank"><span class="glyphicon glyphicon-info-sign pull-right"></span></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>

<div class="text-center">
  <h5>Pour terminer, téléchargez ou envoyez vos pièces justificatives</h5>
</div>

<form ng-submit="login()" ng-if="false">
  <div class="control-group">
    <label for="username" class="control-label" >Username:</label>
    <div class="controls"><input id="username" type="text" ng-model="credentials.username"></div>
  </div>
  <div class="control-group">
    <label for="password" class="control-label" >Password:</label>
    <div class="controls"><input id="password" type="password" ng-model="credentials.password"></div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-default" value="submit">
    </div>
  </div>
</form>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-block" ng-class="{'btn-primary': typeEnvoi, 'btn-default': !typeEnvoi}" ng-model="typeEnvoi" btn-radio="true">
      Photographier ou scanner les pièces jointes de votre dossier<br>pour le transmettre par voie électronique
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="btn center-block" ng-class="{'btn-primary': !typeEnvoi, 'btn-default': typeEnvoi}" ng-model="typeEnvoi" btn-radio="false">
      Imprimer votre formulaire pour l'envoyer par courrier
    </label>
  </div>
</div>

<div class="accordion" ng-if="typeEnvoi">
  <accordion>
    <accordion-group is-open="category.open" ng-if="category.show" ng-repeat="category in documents">
      <accordion-heading>
          {{category.label}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': category.open, 'glyphicon-chevron-right': !category.open}"></i>
      </accordion-heading>

      <div class="row">
        <div class="col-md-6 pieces" ng-if="document.show" ng-repeat="document in category.documents">
          <div class="panel panel-default" ng-class="document.type">
            <div class="panel-heading" tooltip="{{document.tooltip}}">
              <p>{{document.desc}}</p>
            </div>
            <div class="panel-body">
              <a href="#">
                <span class="glyphicon glyphicon-file"></span>
                <strong>{{document.filename ? document.filename : 'Pas de document'}}</strong>
              </a>
              <div>
                <span><strong>PDF</strong></span> <!-- TODO -->
                <span><strong>3.2Mb</strong></span> <!-- TODO -->
              </div>
            </div>
            <div class="panel-footer">
              <div class="btn-group btn-group-justified">
                <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-paperclip"></span> Attacher un fichier</a>
                <a class="btn btn-default" ng-if="document.why"><span class="glyphicon glyphicon-question-sign"></span> Pourquoi ?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
  </accordion>
</div>

<div class="jumbotron detailEnvoi" ng-if="!typeEnvoi">
  <p>Liste des pièces à joindre obligatoirement à votre demande</p>
  <ul>
    <li>Un certificat médical de moins de 3 mois</li>
    <li>Une photocopie recto/verso {{justificatifStr}}</li>
    <li ng-if='showAdult'>Une photocopie d'un justificatif de domicile</li>
    <li>Une attestation de jugement en protection juridique (le cas échéant)</li>
  </ul>
  <label class="btn btn-primary center-block">Télécharger votre formulaire</label>
</div>
