<div class="qtitle text-center">
  <h4>Merci d'avoir rempli votre dossier</h4>
  <h5>Pour terminer, téléchargez ou envoyez vos pièces justificatives</h5>
</div>

<div class="dev">
  <h4>Récapitulatif de votre demande</h4>
  <ol>
    <li ng-repeat="section in data">{{section.sectionLabel}}
      <ul>
        <li ng-repeat="answer in section.answers">{{answer.label}}</li>
      </ul>
    </li>
  </ol>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <label class="btn btn-default center-block" ng-model="typeEnvoi" btn-radio="'numerique'">
        Photographier ou scanner les pièces jointes de votre dossier<br>pour le transmettre par voie électronique
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="btn btn-default center-block" ng-model="typeEnvoi" btn-radio="'courrier'">
        <small>Imprimer votre formulaire pour l'envoyer par courrier</small>
      </label>
    </div>
  </div>
</div>

<div class="jumbotron detailEnvoi" ng-if="typeEnvoi === 'numerique'">
  <p>Liste des pièces à joindre obligatoirement à votre demande</p>
  <div class="row numerique">
    <p>Un certificat médical de moins de 3 mois <br>
      <input type="file">
    </p>
  </div>
  <div class="row numerique">
    <p>Une photocopie recto/verso {{justificatifStr}} <br>
      <input type="file">
      <input type="file" ng-if="data.estRepresentant">
    </p>
  </div>
  <div class="row numerique" ng-if='showAdult'>
    <p>Une photocopie d'un justificatif de domicile <br>
      <input type="file">
    </p>
  </div>
  <div class="row numerique">
    <p>Une attestation de jugement en protection juridique (le cas échéant) <br>
      <input type="file">
    </p>
  </div>
  <label class="btn btn-primary center-block">Envoyer votre dossier</label>
</div>

<div class="jumbotron detailEnvoi" ng-if="typeEnvoi === 'courrier'">
  <p>Liste des pièces à joindre obligatoirement à votre demande</p>
  <ul>
    <li>Un certificat médical de moins de 3 mois</li>
    <li>Une photocopie recto/verso {{justificatifStr}}</li>
    <li ng-if='showAdult'>Une photocopie d'un justificatif de domicile</li>
    <li>Une attestation de jugement en protection juridique (le cas échéant)</li>
  </ul>
  <label class="btn btn-primary center-block">Télécharger votre formulaire</label>
</div>