<div class="page-header text-center container-fluid">
  <div class="text-center">
    <h5>Votre projet de vie</h5>
  </div>
  <div id="status-buttons" class="text-center">

    <span ng-repeat="(idx, currentState) in formTemplate">
      <a 
        ui-sref="{{currentState.sref}}"
        data-ng-class="{active: isActive(currentState)}">
        <span>{{idx + 1}}</span>
        <p>
          {{currentState.label}}
        </p>
      </a>
    </span>

    <span>
      <a 
        ui-sref=".envoi"
        data-ng-class="{active: $state.includes('form.envoi.**')}">
        <span>!</span>
        <p>
          Pièces justificatives
        </p>
      </a>
    </span>
  </div>
</div>

<div class="container">
  <form id="form" ng-submit="processForm()">
  	<div class="form-view" ui-view></div>
  </form>
</div>

<pre class="footer dev">
  {{ data | json }}
</pre>
