<div class="page-header text-center container-fluid">  
  <div id="status-buttons" class="text-center row">
    <div class="col-md-2 col-md-offset-1">
      <a
        ui-sref=".contexte.dossier"
        ng-disabled="true"
        data-ng-class="{active: $state.includes('form.contexte.**')}">
          <span>1</span> Contexte
      </a>
    </div>
    <div class="col-md-2">
      <a 
        ui-sref=".vie_quotidienne.vie_famille"
        data-ng-class="{active: $state.includes('form.vie_quotidienne.**')}">
          <span>2</span> Vie quotidienne
      </a>
    </div>
    <div class="col-md-2">
      <a 
        ui-sref=".scolaire.condition"
        data-ng-class="{active: $state.includes('form.scolaire.**')}">
          <span>3</span> Vie scolaire ou étudiante
      </a>
    </div>
    <div class="col-md-2">
      <a 
        ui-sref=".travail.condition"
        data-ng-class="{active: $state.includes('form.travail.**')}">
          <span>4</span> Vie au travail
      </a>
    </div>
    <div class="col-md-2">
      <a 
        ui-sref=".envoi"
        data-ng-class="{active: $state.includes('form.envoi.**')}">
          <span>5</span> Pièces justificatives
      </a>
    </div>
  </div>
</div>

<form id="form" ng-submit="processForm()">
	<div id="form-views" ui-view></div>
</form>

<pre ng-if="dev" class="footer">
  {{ data | json }}
</pre>
