<div ng-include="'components/navbar/navbar.html'"></div>

<ui-view>
  <div class="container">
    <h1 class="page-header">Vos demandes</h1>
    <div ng-if="requests.length === 0">
      <em>Pas de demandes</em>
    </div>
    <div class="row" ng-if="requests.length > 0">
      <div class="col-md-12">
        <div class="list-group">
          <a class="list-group-item" ng-repeat="request in requests" href="{{'liste_demandes/' + request._id + '/' + getCurrentStep(request).name}}">
            <div>Etape actuelle: {{getCurrentStep(request) | stepFilter}}</div>
            Dernière modification {{updatedAt(request)}}
          </a>
        </div>
      </div>
    </div>
  </div>
</ui-view>
