<div ng-include="'components/navbar/navbar.html'"></div>

<ui-view>
  <div class="container">
    <h1>Vos demandes</h1>
    <div class="btn btn-primary" ng-click="createRequest(onRequestCreated)">Nouvelle demande</div>
    <hr>
    <div ng-if="requests.length === 0">
      <em>Pas de demandes</em>
    </div>
    <div class="row" ng-if="requests.length > 0">
      <div class="col-md-12">
        <div class="list-group">
          <a class="list-group-item" ng-repeat="request in requests" ng-class="{'list-group-item-success': request.opened}" href="{{goToRequest(request)}}">
            <div ng-if="request.opened">
              <h4 class="list-group-item-heading">{{getTitle(request)}}</span></h4>
              <p class="list-group-item-text">Etape: {{getCurrentStep(request) | stepFilter}}<br/>
              Dernière modification {{updatedAt(request)}}</p>
            </div>
            <div ng-if="!request.opened">
              <p class="list-group-item-text">
                <strong>Ancienne demande à la MDPH du {{request.mdph.name}}</strong><br/>
                Dernière modification {{updatedAt(request)}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</ui-view>
