<div class="edit-partenaire">
  <div class="list-header">
    <h2 class="padding-title" ng-if="secteur._id">
      Modification d'un secteur
    </h2>
    <h2 class="padding-title" ng-if="!secteur._id">
      Création d'un secteur
    </h2>
  </div>

  <form name="secteurForm" ng-submit="save(secteurForm)" novalidate>

    <div class="form-group">
      <label for="inputName" class="control-label">Nom</label>
      <input class="form-control" type="text" ng-model="name" />
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="default"> Secteur par défaut
        </label>
      </div>
    </div>

    <div class="form-group">
      <fieldset class="light">
        <legend>Agents adultes</legend>
        <ul class="list-unstyled">
          <li ng-repeat="evaluator in evaluators">
            <label for="check-adulte-{{evaluator._id}}">
              <input type="checkbox" id="check-adulte-{{evaluator._id}}" ng-checked="selectedEvaluatorsAdultes.indexOf(evaluator._id) > -1" ng-click="toggleSelection(selectedEvaluatorsAdultes, evaluator._id)" ng-value="evaluator._id" />
              <span>{{evaluator.name}}</span>
            </label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="light">
        <legend>Agents enfance</legend>
        <ul class="list-unstyled">
          <li ng-repeat="evaluator in evaluators">
            <label for="check-enfance-{{evaluator._id}}">
              <input type="checkbox" id="check-enfance-{{evaluator._id}}" ng-checked="selectedEvaluatorsEnfants.indexOf(evaluator._id) > -1" ng-click="toggleSelection(selectedEvaluatorsEnfants, evaluator._id)" ng-value="evaluator._id" />
              <span>{{evaluator.name}}</span>
            </label>
          </li>
        </ul>
      </fieldset>
    </div>

    <div class="text-right">
      <button class="btn btn-link" type="button" ng-click="cancel()">
        Annuler
      </button>
      <button class="btn btn-success" type="submit">
        <i class="fa fa-save"></i> Sauver
      </button>
    </div>
  </form>
</div>
