<div class="edit-partenaire">
  <div class="list-header">
    <h2 class="padding-title" ng-if="secteurEditCtrl.secteur._id">
      Modification d'un secteur
    </h2>
    <h2 class="padding-title" ng-if="!secteurEditCtrl.secteur._id">
      Création d'un secteur
    </h2>
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputName" class="control-label">Nom</label>
          <input class="form-control" type="text" ng-model="secteurEditCtrl.name" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <form name="codePostalForm" ng-submit="secteurEditCtrl.add(codePostalForm)">
          <table class="table table-striped">
            <tr ng-if="secteurEditCtrl.communes.length < 1">
              <td colspan="2">Aucune commune associée</td>
            </tr>
            <tr ng-repeat="(idx, commune) in secteurEditCtrl.communes">
              <td><span class="btn btn-link">{{commune}}</span></td>
              <td><button type="button" class="btn btn-link" ng-click="secteurEditCtrl.remove(idx)"><i class="fa fa-trash"></i>&nbsp;Supprimer</button></td>
            </tr>
            <tr>
              <td><input class="form-control" type="text" required minlength="5" maxlength="5" ng-model="secteurEditCtrl.codePostal" /></td>
              <td><button class="btn btn-link" type="submit"><i class="fa fa-plus"></i>&nbsp;Ajouter</button></td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-link" type="button" ng-click="secteurEditCtrl.cancel()">
        Annuler
      </button>
      <button class="btn btn-success" type="button" ng-click="secteurEditCtrl.save()">
        <i class="fa fa-save"></i> Sauver
      </button>
    </div>
  </div>
</div>
