<div class="edit-partenaire">
  <div class="list-header">
    <h2 ng-if="secteur._id">
      Modification d'un secteur
    </h2>
    <h2 ng-if="!secteur._id">
      Création d'un secteur
    </h2>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Nom</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" ng-model="name" />
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="default"> Secteur par défaut
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <keyword-input
        input-label="'Agents adultes'"
        can-add-keywords="false"
        keyword-label="'agent'"
        keywords="evaluators"
        selected-keywords="selectedEvaluatorsAdultes"
        are-keywords-mongo-documents="true">
      </keyword-input>
    </div>
    <div class="form-group">
      <keyword-input
        input-label="'Agents enfance'"
        can-add-keywords="false"
        keyword-label="'agent'"
        keywords="evaluators"
        selected-keywords="selectedEvaluatorsEnfants"
        are-keywords-mongo-documents="true">
      </keyword-input>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <button class="btn btn-default" type="button" ng-click="cancel()">
          Annuler
        </button>
      </div>
      <div class="col-sm-10 text-right">
        <button class="btn btn-danger" type="button" ng-click="delete()">
          <i class="fa fa-trash"></i> Supprimer
        </button>
        <button class="btn btn-primary" type="submit" ng-click="save()">
          <i class="fa fa-save"></i> Sauver
        </button>
      </div>
    </div>
  </form>
</div>
