<div id="mon-compte">

  <div ng-if="user.unconfirmed">
    <div class="profile-card profile-card-danger profile-card-vertical">
      <div class="profile-card-header">
        <span class="profile-card-avatar">
          <span class="profile-card-icon"><i class="fa fa-warning"></i></span>
        </span>
        <div class="profile-card-header-text">
          <h1 class="profile-card-header-text-title">En attente de validation</h1>
        </div>
      </div>
      <div class="profile-card-content">
        <p>Vous n'avez pas encore confirmé votre compte. Vous pouvez le faire en ouvrant le lien d'activation qui vous a été envoyé par mail.</p>
        <p>Si vous n'avez pas reçu ce mail, <a target="_blank" ui-sref="resend_confirmation({userId: user._id})">cliquez ici pour le renvoyer</a>.</p>
      </div>
    </div>
  </div>

  <div class="profile-card profile-card-vertical">
    <div class="profile-card-header">
      <span class="profile-card-avatar">
        <span class="profile-card-icon"><i class="fa fa-cogs"></i></span>
      </span>
      <div class="profile-card-header-text">
        <h1 class="profile-card-header-text-title">Modifier mon mot de passe</h1>
      </div>
    </div>
    <div class="profile-card-content">
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <div>
          <p id="email" class="control-label">{{user.email}}</p>
        </div>
      </div>

      <form aria-labelledby="changePassword" name="passwordForm" ng-submit="changePassword(passwordForm)" novalidate>
        <div class="form-group">
          <label for="oldPassword" class="control-label">Mot de passe actuel</label>
          <div>
            <div class="input-group margin-bottom-sm">
              <input id="oldPassword" type="password" name="password" class="form-control" ng-model="user.oldPassword"
                     mongoose-error/>
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            </div>
            <p class="help-block" ng-show="passwordForm.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
        </div>

        <div class="form-group">
          <label for="newPassword" class="control-label">Nouveau mot de passe</label>
          <div>
            <div class="input-group margin-bottom-sm">
              <input id="newPassword" type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                     ng-minlength="3"
                     required/>
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
            </div>
            <p class="help-block"
               ng-show="(passwordForm.$error.minlength || passwordForm.$error.required) && (passwordForm.$dirty || passwordSubmitted)">
              La longueur minimale du mot de passe est de 3 caractères.
            </p>
          </div>
        </div>

        <p class="help-block"> {{ passwordMessage }} </p>
        <button class="btn btn-primary" type="submit" name="submit">Valider</button>
      </form>
    </div>
  </div>
  
</div>
