.mes-profiles-card-row {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  li+li {
    margin-left: 30px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0;
    border: 1px solid #dedede;
    color: $flat-ui-blue;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
  }

  li.new {
    background-color: $flat-ui-blue;
    border-color: #fff;

    button {
      color: #fff;
    }
  }
}
