<ul class="mes-profiles-card-row">
  <li ng-repeat="(idx, profile) in mesprofilsctrl.profiles">
    <a ui-sref="profil({profileId: profile._id})">{{ ::profile.getTitle() }}</a>
    <!-- TODO: Le mettre dans le profil -->
    <!-- <button ng-if="mesprofilsctrl.details" ng-click="mesprofilsctrl.delete(profile, idx)" class="btn btn-link">Supprimer</button> -->
  </li>

  <li class="new" ng-if="mesprofilsctrl.details">
    <button class="btn btn-link" ng-click="addProfile()">Nouveau profil</button>
  </li>
</ul>
